ISO19111/rbc/1.0/2015-01-01/parametricValues.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:rbc="http://www.isotc211.org/namespace/rbc/1.0/2014-12-25" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/namespace/rbc/1.0/2014-12-25" version="1.0">
  <include schemaLocation="rbc.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="CD_ParametricDatum" substitutionGroup="rbc:AbstractCD_Datum" type="rbc:CD_ParametricDatum_Type"/>
  <complexType name="CD_ParametricDatum_Type">
    <complexContent>
      <extension base="rbc:AbstractCD_Datum_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="referenceSystem" type="rbc:SC_ParametricCRS_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CD_ParametricDatum_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CD_ParametricDatum"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_ParametricCS" substitutionGroup="rbc:CS_CoordinateSystem" type="rbc:CS_ParametricCS_Type"/>
  <complexType name="CS_ParametricCS_Type">
    <complexContent>
      <extension base="rbc:CS_CoordinateSystem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_ParametricCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_ParametricCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SC_ParametricCRS" substitutionGroup="rbc:AbstractSC_SingleCRS" type="rbc:SC_ParametricCRS_Type"/>
  <complexType name="SC_ParametricCRS_Type">
    <complexContent>
      <extension base="rbc:AbstractSC_SingleCRS_Type">
        <sequence>
          <element name="coordinateSystem" type="rbc:CS_ParametricCS_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SC_ParametricCRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:SC_ParametricCRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
