ISO19157-2/mdq/1.0/2014-07-11/dataQuality.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
  xmlns:cit="http://www.isotc211.org/namespace/cit/1.0/2014-07-11" 
  xmlns:mdq="http://www.isotc211.org/namespace/mdq/1.0/2014-07-11" 
  xmlns:gco="http://www.isotc211.org/2005/gco"
  xmlns:gex="http://www.isotc211.org/namespace/gex/1.0/2014-07-11"
  xmlns:mcc="http://www.isotc211.org/namespace/mcc/1.0/2014-07-11" 
  elementFormDefault="qualified" 
  targetNamespace="http://www.isotc211.org/namespace/mdq/1.0/2014-07-11" version="">
  <include schemaLocation="mdq.xsd"/>
  <!-- gex namespace was added to schema tag by Ted Habermann 2014-01-13 to address extent problem -->
  <!--<include schemaLocation="dataQualityMeasure.xsd"/>-->
  <!-- Changed schema location to address gml vs. gml/3.2 problem Ted Habermann 2013-12-26 -->
  <!--<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>-->
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!-- gex import added by Ted Habermann 20140106 to try to fix extent -->
  <import namespace="http://www.isotc211.org/namespace/gex/1.0/2014-07-11" schemaLocation="../../../../ISO19115-3/gex/1.0/2014-07-11/gex.xsd"/>
  <import namespace="http://www.isotc211.org/namespace/cit/1.0/2014-07-11" schemaLocation="../../../../ISO19115-3/cit/1.0/2014-07-11/cit.xsd"/>
  <import namespace="http://www.isotc211.org/namespace/mcc/1.0/2014-07-11" schemaLocation="../../../../ISO19115-3/mcc/1.0/2014-07-11/mcc.xsd"/>  
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="CoverageResult" substitutionGroup="mdq:DQ_Result" type="mdq:CoverageResult_Type"/>
  <complexType name="CoverageResult_Type">
    <complexContent>
      <extension base="mdq:DQ_Result_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CoverageResult_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:CoverageResult"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_AbsoluteExternalPositionalAccuracy" substitutionGroup="mdq:AbstractDQ_PositionalAccuracy" type="mdq:DQ_AbsoluteExternalPositionalAccuracy_Type"/>
  <complexType name="DQ_AbsoluteExternalPositionalAccuracy_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_PositionalAccuracy_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_AbsoluteExternalPositionalAccuracy_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_AbsoluteExternalPositionalAccuracy"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_AccuracyOfATimeMeasurement" substitutionGroup="mdq:AbstractDQ_TemporalAccuracy" type="mdq:DQ_AccuracyOfATimeMeasurement_Type"/>
  <complexType name="DQ_AccuracyOfATimeMeasurement_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_TemporalAccuracy_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_AccuracyOfATimeMeasurement_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_AccuracyOfATimeMeasurement"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_Aggregation" substitutionGroup="mdq:AbstractDQ_Evaluation" type="mdq:DQ_Aggregation_Type"/>
  <complexType name="DQ_Aggregation_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_Evaluation_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="2" name="sourceQualityResult" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_Aggregation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_Aggregation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractDQ_Completeness" substitutionGroup="mdq:AbstractDQ_Element" type="mdq:AbstractDQ_Completeness_Type"/>
  <complexType abstract="true" name="AbstractDQ_Completeness_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_Element_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDQ_Completeness_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:AbstractDQ_Completeness"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_CompletenessCommission" substitutionGroup="mdq:AbstractDQ_Completeness" type="mdq:DQ_CompletenessCommission_Type"/>
  <complexType name="DQ_CompletenessCommission_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_Completeness_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_CompletenessCommission_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_CompletenessCommission"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_CompletenessOmission" substitutionGroup="mdq:AbstractDQ_Completeness" type="mdq:DQ_CompletenessOmission_Type"/>
  <complexType name="DQ_CompletenessOmission_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_Completeness_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_CompletenessOmission_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_CompletenessOmission"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_ConceptualConsistency" substitutionGroup="mdq:AbstractDQ_LogicalConsistency" type="mdq:DQ_ConceptualConsistency_Type"/>
  <complexType name="DQ_ConceptualConsistency_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_LogicalConsistency_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_ConceptualConsistency_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_ConceptualConsistency"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_Confidence" substitutionGroup="mdq:DQ_Metaquality" type="mdq:DQ_Confidence_Type"/>
  <complexType name="DQ_Confidence_Type">
    <complexContent>
      <extension base="mdq:DQ_Metaquality_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_Confidence_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_Confidence"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_ConformanceResult" substitutionGroup="mdq:DQ_Result" type="mdq:DQ_ConformanceResult_Type"/>
  <complexType name="DQ_ConformanceResult_Type">
    <complexContent>
      <extension base="mdq:DQ_Result_Type">
        <sequence>
          <!-- type changed by Ted Habermann 2013-12-17 -->
          <!--<element name="specification" type="mdq:DQM_SourceReference_PropertyType"/>-->
          <element name="specification" type="cit:CI_Citation_PropertyType"/>
          <element minOccurs="0" name="explanation" type="gco:CharacterString_PropertyType"/>
          <element name="pass" type="gco:Boolean_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_ConformanceResult_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_ConformanceResult"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractDQ_DataEvaluation" substitutionGroup="mdq:AbstractDQ_Evaluation" type="mdq:AbstractDQ_DataEvaluation_Type"/>
  <complexType abstract="true" name="AbstractDQ_DataEvaluation_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_Evaluation_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDQ_DataEvaluation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:AbstractDQ_DataEvaluation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_DataInspection" substitutionGroup="mdq:AbstractDQ_Evaluation" type="mdq:DQ_DataInspection_Type"/>
  <complexType name="DQ_DataInspection_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_Evaluation_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_DataInspection_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_DataInspection"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_DataQuality" substitutionGroup="gco:AbstractObject" type="mdq:DQ_DataQuality_Type"/>
  <complexType name="DQ_DataQuality_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="scope" type="mcc:MD_Scope_PropertyType"/>
          <element minOccurs="0" name="standaloneReport" type="mdq:DQ_StandaloneReportInformation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="report" type="mdq:AbstractDQ_Element_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_DataQuality_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_DataQuality"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_DescriptiveResult" substitutionGroup="mdq:DQ_Result" type="mdq:DQ_DescriptiveResult_Type"/>
  <complexType name="DQ_DescriptiveResult_Type">
    <complexContent>
      <extension base="mdq:DQ_Result_Type">
        <sequence>
          <element name="statement" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_DescriptiveResult_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_DescriptiveResult"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_DomainConsistency" substitutionGroup="mdq:AbstractDQ_LogicalConsistency" type="mdq:DQ_DomainConsistency_Type"/>
  <complexType name="DQ_DomainConsistency_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_LogicalConsistency_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_DomainConsistency_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_DomainConsistency"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractDQ_Element" substitutionGroup="gco:AbstractObject" type="mdq:AbstractDQ_Element_Type"/>
  <complexType abstract="true" name="AbstractDQ_Element_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <!-- removed by Ted Habermann after visual comparison with UML 2013-12-17-->
          <!--<element maxOccurs="unbounded" minOccurs="0" name="dateTime" type="gco:DateTime_PropertyType"/>-->
          <!-- element order changed by Ted Habermann 2013-12-17-->
          <element minOccurs="0" name="measure" type="mdq:DQ_MeasureReference_PropertyType"/>
          <!-- the name of this element was incorrect (evaluation) corrected in next version, here by Ted Habermann -->
          <element minOccurs="0" name="evaluationMethod" type="mdq:AbstractDQ_Evaluation_PropertyType"/>
          <element maxOccurs="unbounded" name="result" type="mdq:DQ_Result_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="derivedElement" type="mdq:AbstractDQ_Element_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDQ_Element_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:AbstractDQ_Element"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractDQ_Evaluation" substitutionGroup="gco:AbstractObject" type="mdq:AbstractDQ_Evaluation_Type"/>
  <complexType abstract="true" name="AbstractDQ_Evaluation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <!-- Added by Ted Habermann in response to Erling Onstein 2013-12-17-->
          <element maxOccurs="unbounded" minOccurs="0" name="dateTime" type="gco:DateTime_PropertyType"/>
          <element minOccurs="0" name="evaluationMethodDescription" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description of the work done to apply the measure to the dataset.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="evaluationProcedure" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>Link to a procedure, expected to be part of the ISO9000-based Quality Systems of the responsible organisation.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="referenceDoc" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>(ISO19114 table I.1 Line 29 and 37)</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="evaluationMethodType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDQ_Evaluation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:AbstractDQ_Evaluation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_FormatConsistency" substitutionGroup="mdq:AbstractDQ_LogicalConsistency" type="mdq:DQ_FormatConsistency_Type"/>
  <complexType name="DQ_FormatConsistency_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_LogicalConsistency_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_FormatConsistency_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_FormatConsistency"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_FullInspection" substitutionGroup="mdq:AbstractDQ_DataEvaluation" type="mdq:DQ_FullInspection_Type"/>
  <complexType name="DQ_FullInspection_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_DataEvaluation_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_FullInspection_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_FullInspection"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_GriddedDataPositionalAccuracy" substitutionGroup="mdq:AbstractDQ_PositionalAccuracy" type="mdq:DQ_GriddedDataPositionalAccuracy_Type"/>
  <complexType name="DQ_GriddedDataPositionalAccuracy_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_PositionalAccuracy_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_GriddedDataPositionalAccuracy_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_GriddedDataPositionalAccuracy"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_Homogeneity" substitutionGroup="mdq:DQ_Metaquality" type="mdq:DQ_Homogeneity_Type"/>
  <complexType name="DQ_Homogeneity_Type">
    <complexContent>
      <extension base="mdq:DQ_Metaquality_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_Homogeneity_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_Homogeneity"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_IndirectEvaluation" substitutionGroup="mdq:AbstractDQ_DataEvaluation" type="mdq:DQ_IndirectEvaluation_Type"/>
  <complexType name="DQ_IndirectEvaluation_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_DataEvaluation_Type">
        <sequence>
          <element maxOccurs="unbounded" name="deductiveSource" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Information on what data are used as sources in deductive evaluation method. (ISO19114 table I.1 Line 35)</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_IndirectEvaluation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_IndirectEvaluation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractDQ_LogicalConsistency" substitutionGroup="mdq:AbstractDQ_Element" type="mdq:AbstractDQ_LogicalConsistency_Type"/>
  <complexType abstract="true" name="AbstractDQ_LogicalConsistency_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_Element_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDQ_LogicalConsistency_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:AbstractDQ_LogicalConsistency"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_MeasureReference" substitutionGroup="gco:AbstractObject" type="mdq:DQ_MeasureReference_Type"/>
  <complexType name="DQ_MeasureReference_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="measureIdentification" type="mcc:MD_Identifier_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="nameOfMeasure" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="measureDescription" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_MeasureReference_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_MeasureReference"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_Metaquality" substitutionGroup="mdq:AbstractDQ_Element" type="mdq:DQ_Metaquality_Type"/>
  <complexType name="DQ_Metaquality_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_Element_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="relatedElement" type="mdq:AbstractDQ_Element_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_Metaquality_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_Metaquality"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_NonQuantitativeAttributeAccuracy" substitutionGroup="mdq:AbstractDQ_ThematicAccuracy" type="mdq:DQ_NonQuantitativeAttributeAccuracy_Type"/>
  <complexType name="DQ_NonQuantitativeAttributeAccuracy_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_ThematicAccuracy_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_NonQuantitativeAttributeAccuracy_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_NonQuantitativeAttributeAccuracy"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractDQ_PositionalAccuracy" substitutionGroup="mdq:AbstractDQ_Element" type="mdq:AbstractDQ_PositionalAccuracy_Type">
    <annotation>
      <documentation>Position error estimate (or accuracy) data.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractDQ_PositionalAccuracy_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_Element_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDQ_PositionalAccuracy_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:AbstractDQ_PositionalAccuracy"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_QuantitativeAttributeAccuracy" substitutionGroup="mdq:AbstractDQ_ThematicAccuracy" type="mdq:DQ_QuantitativeAttributeAccuracy_Type"/>
  <complexType name="DQ_QuantitativeAttributeAccuracy_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_ThematicAccuracy_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_QuantitativeAttributeAccuracy_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_QuantitativeAttributeAccuracy"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_QuantitativeResult" substitutionGroup="mdq:DQ_Result" type="mdq:DQ_QuantitativeResult_Type"/>
  <complexType name="DQ_QuantitativeResult_Type">
    <complexContent>
      <extension base="mdq:DQ_Result_Type">
        <sequence>
          <element maxOccurs="unbounded" name="value" type="gco:Record_PropertyType"/>
          <element name="valueUnit" type="gco:UnitOfMeasure_PropertyType"/>
          <element minOccurs="0" name="valueType" type="gco:RecordType_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_QuantitativeResult_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_QuantitativeResult"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_RelativeInternalPositionalAccuracy" substitutionGroup="mdq:AbstractDQ_PositionalAccuracy" type="mdq:DQ_RelativeInternalPositionalAccuracy_Type"/>
  <complexType name="DQ_RelativeInternalPositionalAccuracy_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_PositionalAccuracy_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_RelativeInternalPositionalAccuracy_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_RelativeInternalPositionalAccuracy"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_Representativity" substitutionGroup="mdq:DQ_Metaquality" type="mdq:DQ_Representativity_Type"/>
  <complexType name="DQ_Representativity_Type">
    <complexContent>
      <extension base="mdq:DQ_Metaquality_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_Representativity_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_Representativity"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_Result" substitutionGroup="gco:AbstractObject" type="mdq:DQ_Result_Type"/>
  <complexType name="DQ_Result_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <!-- Added by Ted Habermann in response to Erling Onsyein 2013-12-17 -->
          <element maxOccurs="1" minOccurs="0" name="dateTime" type="gco:DateTime_PropertyType"/>
          <element minOccurs="0" name="resultScope" type="mdq:DQ_Scope_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_Result_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_Result"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_SampleBasedInspection" substitutionGroup="mdq:AbstractDQ_DataEvaluation" type="mdq:DQ_SampleBasedInspection_Type"/>
  <complexType name="DQ_SampleBasedInspection_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_DataEvaluation_Type">
        <sequence>
          <element name="samplingScheme" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Inforamtion on the type of sampling scheme and description of the sampling procedure(ISO19114 table I.1 Line 31)</documentation>
            </annotation>
          </element>
          <element name="lotDescription" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Information on how lots are defined. (ISO19114 table I.1 Line 33)</documentation>
            </annotation>
          </element>
          <element name="samplingRatio" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Information on how many samples on average are extracted for inspection from each lot or population. (ISO19114 table I.1 Line 34)</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_SampleBasedInspection_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_SampleBasedInspection"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_Scope" substitutionGroup="gco:AbstractObject" type="mdq:DQ_Scope_Type"/>
  <complexType name="DQ_Scope_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="level" type="mcc:MD_ScopeCode_PropertyType">
            <annotation>
              <documentation>Either level or extent must be non-NULL.</documentation>
            </annotation>
          </element>
          <!-- Changed by Ted Habermann 2014-01-06 to try to fix extent -->
          <!--<element minOccurs="0" name="extent" type="mcc:Abstract_Extent_PropertyType"/>-->
          <element minOccurs="0" name="extent" type="gex:EX_Extent_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="levelDescription" type="mcc:MD_ScopeDescription_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_Scope_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_Scope"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_StandaloneReportInformation" substitutionGroup="gco:AbstractObject" type="mdq:DQ_StandaloneReportInformation_Type"/>
  <complexType name="DQ_StandaloneReportInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <!--<element name="reportReference" type="mdq:DQM_SourceReference_PropertyType"/>-->
          <element name="reportReference" type="cit:CI_Citation_PropertyType"/>
          <element name="abstract" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="element" type="mdq:AbstractDQ_Element_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_StandaloneReportInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_StandaloneReportInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractDQ_TemporalAccuracy" substitutionGroup="mdq:AbstractDQ_Element" type="mdq:AbstractDQ_TemporalAccuracy_Type"/>
  <complexType abstract="true" name="AbstractDQ_TemporalAccuracy_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_Element_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDQ_TemporalAccuracy_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:AbstractDQ_TemporalAccuracy"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_TemporalConsistency" substitutionGroup="mdq:AbstractDQ_TemporalAccuracy" type="mdq:DQ_TemporalConsistency_Type"/>
  <complexType name="DQ_TemporalConsistency_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_TemporalAccuracy_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_TemporalConsistency_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_TemporalConsistency"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_TemporalValidity" substitutionGroup="mdq:AbstractDQ_TemporalAccuracy" type="mdq:DQ_TemporalValidity_Type"/>
  <complexType name="DQ_TemporalValidity_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_TemporalAccuracy_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_TemporalValidity_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_TemporalValidity"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractDQ_ThematicAccuracy" substitutionGroup="mdq:AbstractDQ_Element" type="mdq:AbstractDQ_ThematicAccuracy_Type"/>
  <complexType abstract="true" name="AbstractDQ_ThematicAccuracy_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_Element_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractDQ_ThematicAccuracy_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:AbstractDQ_ThematicAccuracy"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_ThematicClassificationCorrectness" substitutionGroup="mdq:AbstractDQ_ThematicAccuracy" type="mdq:DQ_ThematicClassificationCorrectness_Type"/>
  <complexType name="DQ_ThematicClassificationCorrectness_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_ThematicAccuracy_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_ThematicClassificationCorrectness_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_ThematicClassificationCorrectness"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQ_TopologicalConsistency" substitutionGroup="mdq:AbstractDQ_LogicalConsistency" type="mdq:DQ_TopologicalConsistency_Type"/>
  <complexType name="DQ_TopologicalConsistency_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_LogicalConsistency_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQ_TopologicalConsistency_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQ_TopologicalConsistency"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DataQualityValueType" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="DataQualityValueType_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DataQualityValueType"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DataQualityValueUnit" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="DataQualityValueUnit_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DataQualityValueUnit"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="QE_CoverageResult" substitutionGroup="gco:AbstractObject" type="mdq:QE_CoverageResult_Type"/>
  <complexType name="QE_CoverageResult_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="QE_CoverageResult_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:QE_CoverageResult"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractQE_Usability" substitutionGroup="mdq:AbstractDQ_Element" type="mdq:AbstractQE_Usability_Type"/>
  <complexType abstract="true" name="AbstractQE_Usability_Type">
    <complexContent>
      <extension base="mdq:AbstractDQ_Element_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractQE_Usability_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:AbstractQE_Usability"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQM_RegisteredDataQualityBasicMeasure" substitutionGroup="gco:AbstractObject" type="mdq:DQM_RegisteredDataQualityBasicMeasure_Type"/>
  <complexType name="DQM_RegisteredDataQualityBasicMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQM_RegisteredDataQualityBasicMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQM_RegisteredDataQualityBasicMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQM_RegisteredDataQualityMeasure" substitutionGroup="gco:AbstractObject" type="mdq:DQM_RegisteredDataQualityMeasure_Type"/>
  <complexType name="DQM_RegisteredDataQualityMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQM_RegisteredDataQualityMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQM_RegisteredDataQualityMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQM_RegisteredDataQualityParameter" substitutionGroup="gco:AbstractObject" type="mdq:DQM_RegisteredDataQualityParameter_Type"/>
  <complexType name="DQM_RegisteredDataQualityParameter_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQM_RegisteredDataQualityParameter_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdq:DQM_RegisteredDataQualityParameter"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
