ISO19115-3/mrl/1.0/lineage.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2013-06-24" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:mcc="http://www.isotc211.org/2005/mcc/1.0/2013-06-24" xmlns:mri="http://www.isotc211.org/2005/mri/1.0/2013-06-24" xmlns:mrl="http://www.isotc211.org/2005/mrl/1.0/2013-06-24" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mrl/1.0/2013-06-24" version="1.0">
  <include schemaLocation="mrl.xsd"/>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2013-06-24" schemaLocation="../../cit/1.0/cit.xsd"/>
  <!-- Changed schema location to address gml vs. gml/3.2 problem Ted Habermann 2013-12-26 -->
  <!--<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>-->
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gts" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gts/gts.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mcc/1.0/2013-06-24" schemaLocation="../../mcc/1.0/mcc.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mri/1.0/2013-06-24" schemaLocation="../../mri/1.0/mri.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="LI_Lineage" substitutionGroup="mcc:Abstract_LineageInformation" type="mrl:LI_Lineage_Type">
    <annotation>
      <documentation>information about the events or source data used in constructing the data specified by the scope or lack of knowledge about lineage</documentation>
    </annotation>
  </element>
  <complexType name="LI_Lineage_Type">
    <complexContent>
      <extension base="mcc:Abstract_LineageInformation_Type">
        <sequence>
          <element minOccurs="0" name="statement" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>general explanation of the data producer's knowledge about the lineage of a resource</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="scope" type="mcc:MD_Scope_PropertyType">
            <annotation>
              <documentation>type of resource and/or extent to which the lineage information applies</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="additionalDocumentation" type="cit:CI_Citation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="source" type="mrl:LI_Source_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="processStep" type="mrl:LI_ProcessStep_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LI_Lineage_PropertyType">
    <sequence minOccurs="0">
      <element ref="mrl:LI_Lineage"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="LI_ProcessStep" substitutionGroup="gco:AbstractObject" type="mrl:LI_ProcessStep_Type">
    <annotation>
      <documentation>information about an event or transformation in the life of a resource including the process used to maintain the resource</documentation>
    </annotation>
  </element>
  <complexType name="LI_ProcessStep_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="description" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>description of the event, including related parameters or tolerances</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rationale" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>requirement or purpose for the process step</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="stepDateTime" type="gts:TM_Primitive_PropertyType">
            <annotation>
              <documentation>date, time, range or period of process step</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="processor" type="cit:CI_Responsibility_PropertyType">
            <annotation>
              <documentation>identification of, and means of communication with, person(s) and organisation(s) associated with the process step</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="reference" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>process step documentation</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="scope" type="mcc:MD_Scope_PropertyType">
            <annotation>
              <documentation>type of resource and/or extent to which the process step applies</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="source" type="mrl:LI_Source_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LI_ProcessStep_PropertyType">
    <sequence minOccurs="0">
      <element ref="mrl:LI_ProcessStep"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="LI_Source" substitutionGroup="gco:AbstractObject" type="mrl:LI_Source_Type">
    <annotation>
      <documentation>information about the source resource used in creating the data specified by the scope</documentation>
    </annotation>
  </element>
  <complexType name="LI_Source_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="description" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>detailed description of the level of the source resource</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sourceSpatialResolution" type="mri:MD_Resolution_PropertyType">
            <annotation>
              <documentation>level of detail expressed as a scale factor, a distance or an angle</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sourceReferenceSystem" type="mcc:Abstract_ReferenceSystem_PropertyType">
            <annotation>
              <documentation>spatial reference system used by the source resource</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sourceCitation" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>recommended reference to be used for the source resource</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="sourceMetadata" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>identifier and link to source metadata</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="scope" type="mcc:MD_Scope_PropertyType">
            <annotation>
              <documentation>type of resource and/or extent of the source</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="sourceStep" type="mrl:LI_ProcessStep_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LI_Source_PropertyType">
    <sequence minOccurs="0">
      <element ref="mrl:LI_Source"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
