ISO19111/rbc/1.0/2014-12-15/coordinateSystems.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:rbc="http://www.isotc211.org/namespace/rbc/1.0/2014-12-25" xmlns:rce="http://www.isotc211.org/namespace/rce/1.0/2014-12-25" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/namespace/rbc/1.0/2014-12-25" version="1.0">
  <annotation>
    <documentation>The Coordinate System package contains the information required for specifying how coordinates are assigned to points.</documentation>
  </annotation>
  <include schemaLocation="rbc.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/namespace/rce/1.0/2014-12-25" schemaLocation="../../../ISO19111/rce/1.0/rce.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="CS_AffineCS" substitutionGroup="rbc:CS_CoordinateSystem" type="rbc:CS_AffineCS_Type">
    <annotation>
      <documentation>A two- or three-dimensional coordinate system with straight axes that are not necessarily orthogonal. An AffineCS shall have two or three axis associations; the number of associations shall equal the dimension of the CS.</documentation>
    </annotation>
  </element>
  <complexType name="CS_AffineCS_Type">
    <complexContent>
      <extension base="rbc:CS_CoordinateSystem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_AffineCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_AffineCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_AxisDirection" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type">
    <annotation>
      <documentation>The direction of positive increase in the coordinate value for a coordinate system axis.</documentation>
    </annotation>
  </element>
  <complexType name="CS_AxisDirection_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_AxisDirection"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_CartesianCS" substitutionGroup="rbc:CS_CoordinateSystem" type="rbc:CS_CartesianCS_Type">
    <annotation>
      <documentation>A two- or three-dimensional coordinate system with orthogonal straight axes. In the 2D case both axes and in the 3D case all axes shall have the same length unit. A CartesianCS shall have two or three axis associations; the number of associations shall equal the dimension of the CS.</documentation>
    </annotation>
  </element>
  <complexType name="CS_CartesianCS_Type">
    <complexContent>
      <extension base="rbc:CS_CoordinateSystem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_CartesianCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_CartesianCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_CoordinateSystem" substitutionGroup="rce:Abstract_CoordinateSystem" type="rbc:CS_CoordinateSystem_Type">
    <annotation>
      <documentation>A coordinate system (CS) is the non-repeating sequence of coordinate system axes that spans a given coordinate space. A CS is derived from a set of mathematical rules for specifying how coordinates in a given space are to be assigned to points. The coordinate values in a coordinate tuple shall be recorded in the order in which the coordinate system axes associations are recorded.</documentation>
    </annotation>
  </element>
  <complexType name="CS_CoordinateSystem_Type">
    <complexContent>
      <extension base="rce:Abstract_CoordinateSystem_Type">
        <sequence>
          <element maxOccurs="unbounded" name="axis" type="rbc:CS_CoordinateSystemAxis_PropertyType">
            <annotation>
              <documentation>Ordered sequence of associations to the coordinate system axes included in a coordinate system.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_CoordinateSystem_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_CoordinateSystem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_CoordinateSystemAxis" substitutionGroup="rce:AbstractIO_IdentifiedObjectBase" type="rbc:CS_CoordinateSystemAxis_Type">
    <annotation>
      <documentation>Definition of a coordinate system axis.</documentation>
    </annotation>
  </element>
  <complexType name="CS_CoordinateSystemAxis_Type">
    <complexContent>
      <extension base="rce:AbstractIO_IdentifiedObjectBase_Type">
        <sequence>
          <element name="axisAbbrev" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>The abbreviation used for this coordinate system axis; this abbreviation is also used to identify the coordinates in the coordinate tuple. Examples are X and Y.</documentation>
            </annotation>
          </element>
          <element name="axisDirection" type="rbc:CS_AxisDirection_PropertyType">
            <annotation>
              <documentation>Direction of this coordinate system axis (or in the case of Cartesian projected coordinates, the direction of this coordinate system axis locally). Examples: north or south, east or west, up or down. Within any set of coordinate system axes, only one of each pair of terms can be used. For earth-fixed CRSs, this direction is often approximate and intended to provide a human interpretable meaning to the axis. When a geodetic datum is used, the precise directions of the axes may therefore vary slightly from this approximate direction. Note that an EngineeringCRS often requires specific descriptions of the directions of its coordinate system axes.</documentation>
            </annotation>
          </element>
          <element name="axisUnitID" type="gmw:UnitOfMeasure_PropertyType">
            <annotation>
              <documentation>Identifier of the unit used for this coordinate system axis. The value of a coordinate in a coordinate tuple shall be recorded using this unit.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="minimumValue">
            <annotation>
              <documentation>The minimum value normally allowed for this axis, in the unit of measure for the axis.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="maximumValue">
            <annotation>
              <documentation>The maximum value normally allowed for this axis, in the unit of measure for the axis.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="rangeMeaning" type="rbc:CS_RangeMeaning_PropertyType">
            <annotation>
              <documentation>Meaning of axis value range specified by minimumValue and maximumValue. This element shall be omitted when both minimumValue and maximumValue are omitted. It may be included when minimumValue and/or maximumValue are included. If this element is omitted when minimumValue or maximumValue are included, the meaning is unspecified.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_CoordinateSystemAxis_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_CoordinateSystemAxis"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_CylindricalCS" substitutionGroup="rbc:CS_CoordinateSystem" type="rbc:CS_CylindricalCS_Type">
    <annotation>
      <documentation>A three-dimensional coordinate system consisting of a polar coordinate system extended by a straight coordinate axis perpendicular to the plane spanned by the polar coordinate system. A CylindricalCS shall have three axis associations.</documentation>
    </annotation>
  </element>
  <complexType name="CS_CylindricalCS_Type">
    <complexContent>
      <extension base="rbc:CS_CoordinateSystem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_CylindricalCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_CylindricalCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_EllipsoidalCS" substitutionGroup="rbc:CS_CoordinateSystem" type="rbc:CS_EllipsoidalCS_Type">
    <annotation>
      <documentation>A two- or three-dimensional coordinate system in which position is specified by geodetic latitude, geodetic longitude, and (in the three-dimensional case) ellipsoidal height. An EllipsoidalCS shall have two or three associations; the number of associations shall equal the dimension of the CS.</documentation>
    </annotation>
  </element>
  <complexType name="CS_EllipsoidalCS_Type">
    <complexContent>
      <extension base="rbc:CS_CoordinateSystem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_EllipsoidalCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_EllipsoidalCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_EngineeringCS" substitutionGroup="gco:AbstractObject" type="rbc:CS_EngineeringCS_Type">
    <annotation>
      <documentation>A coordinate system used by an Engineering CRS. It shall be one of affine coordinate system, Cartesian coordinate system, cylindrical coordinate system, linear coordinate system, polar coordinate system, spherical coordinate system or user-defined coordinate system.</documentation>
    </annotation>
  </element>
  <complexType name="CS_EngineeringCS_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <choice>
          <element name="affineCS" type="rbc:CS_AffineCS_PropertyType">
            <annotation>
              <documentation>A two- or three-dimensional coordinate system with straight axes that are not necessarily orthogonal. An AffineCS shall have two or three axis associations; the number of associations shall equal the dimension of the CS.</documentation>
            </annotation>
          </element>
          <element name="cartesianCS" type="rbc:CS_CartesianCS_PropertyType">
            <annotation>
              <documentation>A two- or three-dimensional coordinate system with orthogonal straight axes. In the 2D case both axes and in the 3D case all axes shall have the same length unit. A CartesianCS shall have two or three axis associations; the number of associations shall equal the dimension of the CS.</documentation>
            </annotation>
          </element>
          <element name="cylindricalCS" type="rbc:CS_CylindricalCS_PropertyType">
            <annotation>
              <documentation>A three-dimensional coordinate system consisting of a polar coordinate system extended by a straight coordinate axis perpendicular to the plane spanned by the polar coordinate system. A CylindricalCS shall have three axis associations.</documentation>
            </annotation>
          </element>
          <element name="linearCS" type="rbc:CS_LinearCS_PropertyType">
            <annotation>
              <documentation>A one-dimensional coordinate system that consists of the points that lie on the single axis described. The associated coordinate is the distance - with or without offset - from the origin point, specified through the datum definition, to the point along the axis. Example: usage of the line feature representing a pipeline to describe points on or along that pipeline. A LinearCS shall have one axis association.</documentation>
            </annotation>
          </element>
          <element name="polarCS" type="rbc:CS_PolarCS_PropertyType">
            <annotation>
              <documentation>A two-dimensional coordinate system in which position is specified by the distance from the origin and the angle between the line from the origin to a point and a reference direction. A PolarCS shall have two axis associations.</documentation>
            </annotation>
          </element>
          <element name="sphericalCS" type="rbc:CS_SphericalCS_PropertyType">
            <annotation>
              <documentation>A three-dimensional coordinate system with one distance measured from the origin and two angular coordinates. Not to be confused with an ellipsoidal coordinate system based on an ellipsoid "degenerated" into a sphere. A SphericalCS shall have three axis associations.</documentation>
            </annotation>
          </element>
          <element name="userDefinedCS" type="rbc:CS_UserDefinedCS_PropertyType">
            <annotation>
              <documentation>A two- or three-dimensional coordinate system that consists of any combination of coordinate axes not covered by any other Coordinate System type. An example is a multilinear coordinate system which contains one coordinate axis that may have any 1-D shape which has no intersections with itself. This non-straight axis is supplemented by one or two straight axes to complete a 2 or 3 dimensional coordinate system. The non-straight axis is typically incrementally straight or curved. A UserDefinedCS shall have two or three axis associations; the number of associations shall equal the dimension of the CS.</documentation>
            </annotation>
          </element>
        </choice>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_EngineeringCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_EngineeringCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_GeodeticCS" substitutionGroup="gco:AbstractObject" type="rbc:CS_GeodeticCS_Type">
    <annotation>
      <documentation>A coordinate system used by a Geodetic CRS. It shall be one of Cartesian coordinate system, ellipsoidal coordinate system, or spherical coordinate system.</documentation>
    </annotation>
  </element>
  <complexType name="CS_GeodeticCS_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <choice>
          <element name="cartesianCS" type="rbc:CS_CartesianCS_PropertyType">
            <annotation>
              <documentation>A two- or three-dimensional coordinate system with orthogonal straight axes. In the 2D case both axes and in the 3D case all axes shall have the same length unit. A CartesianCS shall have two or three axis associations; the number of associations shall equal the dimension of the CS.</documentation>
            </annotation>
          </element>
          <element name="ellipsoidalCS" type="rbc:CS_EllipsoidalCS_PropertyType">
            <annotation>
              <documentation>A two- or three-dimensional coordinate system in which position is specified by geodetic latitude, geodetic longitude, and (in the three-dimensional case) ellipsoidal height. An EllipsoidalCS shall have two or three associations; the number of associations shall equal the dimension of the CS.</documentation>
            </annotation>
          </element>
          <element name="sphericalCS" type="rbc:CS_SphericalCS_PropertyType">
            <annotation>
              <documentation>A three-dimensional coordinate system with one distance measured from the origin and two angular coordinates. Not to be confused with an ellipsoidal coordinate system based on an ellipsoid "degenerated" into a sphere. A SphericalCS shall have three axis associations.</documentation>
            </annotation>
          </element>
        </choice>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_GeodeticCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_GeodeticCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_ImageCS" substitutionGroup="gco:AbstractObject" type="rbc:CS_ImageCS_Type">
    <annotation>
      <documentation>A coordinate system used by an Image CRS. It shall be one of affine coordinate system or Cartesian coordinate system.</documentation>
    </annotation>
  </element>
  <complexType name="CS_ImageCS_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <choice>
          <element name="affineCS" type="rbc:CS_AffineCS_PropertyType">
            <annotation>
              <documentation>A two- or three-dimensional coordinate system with straight axes that are not necessarily orthogonal. An AffineCS shall have two or three axis associations; the number of associations shall equal the dimension of the CS.</documentation>
            </annotation>
          </element>
          <element name="cartesianCS" type="rbc:CS_CartesianCS_PropertyType">
            <annotation>
              <documentation>A two- or three-dimensional coordinate system with orthogonal straight axes. In the 2D case both axes and in the 3D case all axes shall have the same length unit. A CartesianCS shall have two or three axis associations; the number of associations shall equal the dimension of the CS.</documentation>
            </annotation>
          </element>
        </choice>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_ImageCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_ImageCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_LinearCS" substitutionGroup="rbc:CS_CoordinateSystem" type="rbc:CS_LinearCS_Type">
    <annotation>
      <documentation>A one-dimensional coordinate system that consists of the points that lie on the single axis described. The associated coordinate is the distance - with or without offset - from the origin point, specified through the datum definition, to the point along the axis. Example: usage of the line feature representing a pipeline to describe points on or along that pipeline. A LinearCS shall have one axis association.</documentation>
    </annotation>
  </element>
  <complexType name="CS_LinearCS_Type">
    <complexContent>
      <extension base="rbc:CS_CoordinateSystem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_LinearCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_LinearCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_PolarCS" substitutionGroup="rbc:CS_CoordinateSystem" type="rbc:CS_PolarCS_Type">
    <annotation>
      <documentation>A two-dimensional coordinate system in which position is specified by the distance from the origin and the angle between the line from the origin to a point and a reference direction. A PolarCS shall have two axis associations.</documentation>
    </annotation>
  </element>
  <complexType name="CS_PolarCS_Type">
    <complexContent>
      <extension base="rbc:CS_CoordinateSystem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_PolarCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_PolarCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_RangeMeaning" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type">
    <annotation>
      <documentation>Meaning of the axis value range specified through minimumValue and maximumValue.</documentation>
    </annotation>
  </element>
  <complexType name="CS_RangeMeaning_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_RangeMeaning"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_SphericalCS" substitutionGroup="rbc:CS_CoordinateSystem" type="rbc:CS_SphericalCS_Type">
    <annotation>
      <documentation>A three-dimensional coordinate system with one distance measured from the origin and two angular coordinates. Not to be confused with an ellipsoidal coordinate system based on an ellipsoid "degenerated" into a sphere. A SphericalCS shall have three axis associations.</documentation>
    </annotation>
  </element>
  <complexType name="CS_SphericalCS_Type">
    <complexContent>
      <extension base="rbc:CS_CoordinateSystem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_SphericalCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_SphericalCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_UserDefinedCS" substitutionGroup="rbc:CS_CoordinateSystem" type="rbc:CS_UserDefinedCS_Type">
    <annotation>
      <documentation>A two- or three-dimensional coordinate system that consists of any combination of coordinate axes not covered by any other Coordinate System type. An example is a multilinear coordinate system which contains one coordinate axis that may have any 1-D shape which has no intersections with itself. This non-straight axis is supplemented by one or two straight axes to complete a 2 or 3 dimensional coordinate system. The non-straight axis is typically incrementally straight or curved. A UserDefinedCS shall have two or three axis associations; the number of associations shall equal the dimension of the CS.</documentation>
    </annotation>
  </element>
  <complexType name="CS_UserDefinedCS_Type">
    <complexContent>
      <extension base="rbc:CS_CoordinateSystem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_UserDefinedCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_UserDefinedCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CS_VerticalCS" substitutionGroup="rbc:CS_CoordinateSystem" type="rbc:CS_VerticalCS_Type">
    <annotation>
      <documentation>A one-dimensional coordinate system used to record the heights or depths of points. Such a coordinate system is usually dependent on the Earth's gravity field. An exact definition is deliberately not provided as the complexities of the subject fall outside the scope of this document. A VerticalCS shall have one axis association.</documentation>
    </annotation>
  </element>
  <complexType name="CS_VerticalCS_Type">
    <complexContent>
      <extension base="rbc:CS_CoordinateSystem_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CS_VerticalCS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CS_VerticalCS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
