ISO19115-3/mas/1.0/applicationSchema.xsd.bak

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2013-06-24" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mas="http://www.isotc211.org/2005/mas/1.0/2013-06-24" xmlns:mcc="http://www.isotc211.org/2005/mcc/1.0/2013-06-24" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mas/1.0/2013-06-24" version="1.0">
  <include schemaLocation="mas.xsd"/>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2013-06-24" schemaLocation="../../cit/1.0/cit.xsd"/>
  <!-- Changed schema location to address gml vs. gml/3.2 problem Ted Habermann 2013-12-26 -->
  <!--<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://www.isotc211.org/2005/gco/gco.xsd"/>-->
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mcc/1.0/2013-06-24" schemaLocation="../../mcc/1.0/mcc.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="MD_ApplicationSchemaInformation" substitutionGroup="mcc:Abstract_ApplicationSchemaInformation" type="mas:MD_ApplicationSchemaInformation_Type">
    <annotation>
      <documentation>information about the application schema used to build the dataset</documentation>
    </annotation>
  </element>
  <complexType name="MD_ApplicationSchemaInformation_Type">
    <complexContent>
      <extension base="mcc:Abstract_ApplicationSchemaInformation_Type">
        <sequence>
          <element name="name" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>name of the application schema used</documentation>
            </annotation>
          </element>
          <element name="schemaLanguage" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>identification of the schema language used</documentation>
            </annotation>
          </element>
          <element name="constraintLanguage" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>formal language used in Application Schema</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="schemaAscii" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>full application schema given as an ASCII file</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="graphicsFile" type="cit:CI_OnlineResource_PropertyType">
            <annotation>
              <documentation>full application schema given as a graphics file</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="softwareDevelopmentFile" type="cit:CI_OnlineResource_PropertyType">
            <annotation>
              <documentation>full application schema given as a software development file</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="softwareDevelopmentFileFormat" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>software dependent format used for the application schema software dependent file</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_ApplicationSchemaInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mas:MD_ApplicationSchemaInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
