schemas.isotc211.org/19163/-2/igd/1.0/IE_ImageryAndGriddedData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
    xmlns:igd="https://schemas.isotc211.org/19163/-2/igd/1.0"
    xmlns:gex="http://standards.iso.org/iso/19115/-3/gex/1.0"
    xmlns:mrc="http://standards.iso.org/iso/19115/-3/mrc/2.0"
    xmlns:mri="http://standards.iso.org/iso/19115/-3/mri/1.0"
    xmlns:msr="http://standards.iso.org/iso/19115/-3/msr/2.0"
    xmlns:cit="http://standards.iso.org/iso/19115/-3/cit/2.0"
    xmlns:gmw="http://standards.iso.org/iso/19115/-3/gmw/1.0"
    xmlns:mac="http://standards.iso.org/iso/19115/-3/mac/2.0"
    xmlns:mrl="http://standards.iso.org/iso/19115/-3/mrl/2.0"
    xmlns:gco="http://standards.iso.org/iso/19115/-3/gco/1.0"
    xmlns:cis="http://www.opengis.net/gmlcov/1.0" 
    targetNamespace="https://schemas.isotc211.org/19163/-2/igd/1.0" elementFormDefault="qualified">
    <xs:import namespace="http://standards.iso.org/iso/19115/-3/gex/1.0"
        schemaLocation="https://schemas.isotc211.org/19115/-3/gex/1.0/extent.xsd"/>
    <xs:import namespace="http://standards.iso.org/iso/19115/-3/mrc/2.0"
        schemaLocation="https://schemas.isotc211.org/19115/-3/mrc/2.0/content.xsd"/>
    <xs:import namespace="http://standards.iso.org/iso/19115/-3/mri/1.0"
        schemaLocation="https://schemas.isotc211.org/19115/-3/mri/1.0/identification.xsd"/>
    <xs:import namespace="http://standards.iso.org/iso/19115/-3/msr/2.0"
        schemaLocation="https://schemas.isotc211.org/19115/-3/msr/2.0/msr.xsd"/>
    <xs:import namespace="http://standards.iso.org/iso/19115/-3/cit/2.0"
        schemaLocation="https://schemas.isotc211.org/19115/-3/cit/2.0/citation.xsd"/>
    <xs:import namespace="http://standards.iso.org/iso/19115/-3/gmw/1.0"
        schemaLocation="https://schemas.isotc211.org/19115/-3/gmw/1.0/gmlWrapperTypes2014.xsd"/>
    <xs:import namespace="http://standards.iso.org/iso/19115/-3/mac/2.0"
        schemaLocation="https://schemas.isotc211.org/19115/-3/mac/2.0/acquisitionInformationImagery.xsd"/>
    <xs:import namespace="http://standards.iso.org/iso/19115/-3/mrl/2.0"
        schemaLocation="https://schemas.isotc211.org/19115/-3/mrl/2.0/lineageImagery.xsd"/>
    <xs:import namespace="http://standards.iso.org/iso/19115/-3/gco/1.0"
        schemaLocation="https://schemas.isotc211.org/19115/-3/gco/1.0/baseTypes2014.xsd"/>
    <xs:import namespace="http://www.opengis.net/gmlcov/1.0"
        schemaLocation="http://schemas.opengis.net/gmlcov/1.0/coverage.xsd"/>
    <!--  ..........................................................................
    -->
    <xs:element name="CoverageCore" type="cis:AbstractCoverageType"/>
    <xs:complexType name="CV_AbstractCoverageType">
        <xs:sequence>
            <xs:element name="domainExtent" type="gex:EX_Extent_Type"/>
            <xs:element name="rangeType" type="gco:RecordType_Type"/>
            <xs:element ref="igd:commonPointRule"/>
            <xs:element ref="igd:CoordinateReferenceSystem"/>
        </xs:sequence>
    </xs:complexType>
    <!--   .........................................................................
    -->
    <xs:element name="commonPointRule" type="igd:CV_CommonPointRuleType"/>
    <xs:simpleType name="CV_CommonPointRuleType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="average"/>
            <xs:enumeration value="low"/>
            <xs:enumeration value="high"/>
            <xs:enumeration value="all"/>
            <xs:enumeration value="start"/>
            <xs:enumeration value="end"/>
        </xs:restriction>
    </xs:simpleType>
    <!-- ...........................................................................                                                             
    -->
    <xs:element name="CoordinateReferenceSystem" type="igd:SC_CRS"/>
    <xs:complexType name="SC_CRS">
        <xs:sequence>
            <xs:element name="scope" type="gco:CharacterString_PropertyType"/>
        </xs:sequence>
    </xs:complexType>
    <!--   .............................................................................                                                        
    -->
    <xs:element name="IE_ImageryAndGriddedData" type="igd:IE_ImageryAndGriddedDataType"/>
    <xs:complexType name="IE_ImageryAndGriddedDataType">
        <xs:complexContent>
            <xs:extension base="cis:AbstractCoverageType">
                <xs:sequence>
                    <xs:element ref="igd:interpolationType" minOccurs="0" maxOccurs="1"/>
                    <xs:choice>
                        <xs:element ref="igd:IE_Georectified" minOccurs="0" maxOccurs="1"/>
                        <xs:element ref="igd:IE_Georeferenceable" minOccurs="0" maxOccurs="1"/>
                    </xs:choice>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--  ...................................................................................
   -->
    <xs:element name="interpolationType" type="igd:CV_InterpolationMethod"/>
    <xs:simpleType name="CV_InterpolationMethod">
        <xs:restriction base="xs:string">
            <xs:enumeration value="nearestneighbor"/>
            <xs:enumeration value="linear"/>
            <xs:enumeration value="quadratic"/>
            <xs:enumeration value="cubic"/>
            <xs:enumeration value="bilinear"/>
            <xs:enumeration value="biquadratic"/>
            <xs:enumeration value="bicubic"/>
            <xs:enumeration value="lostarea"/>
            <xs:enumeration value="barycentric"/>
        </xs:restriction>
    </xs:simpleType>
    <!--   .............................................................................                                                        
    -->
    <xs:element name="IE_Georectified" type="igd:IE_GeorectifiedType"/>
    <xs:complexType name="IE_GeorectifiedType">
        <xs:complexContent>
            <xs:extension base="msr:MD_Georectified_Type">
                <xs:sequence>
                    <xs:element ref="igd:geolocationSource" minOccurs="1" maxOccurs="unbounded"/>
                    <xs:element ref="igd:correctionModel"/>
                    <xs:element ref="igd:checkPoints" minOccurs="1" maxOccurs="unbounded"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--   .............................................................................                                                        
    -->
    <xs:element name="geolocationSource" type="igd:IE_GeolocationSourceCode"/>
    <xs:simpleType name="IE_GeolocationSourceCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DEM"/>
            <xs:enumeration value="GCP"/>
            <xs:enumeration value="SystemParameters"/>
            <xs:enumeration value="SystemParameters+DEM"/>
            <xs:enumeration value="SystemParameters+GCP"/>
            <xs:enumeration value="SystemParameters+GCP+DEM"/>
            <xs:enumeration value="GCP+DEM"/>
        </xs:restriction>
    </xs:simpleType>
    <!--   .............................................................................                                                        
    -->
    <xs:element name="correctionModel" type="igd:IE_GeometricCorrectionModelCode"/>
    <xs:simpleType name="IE_GeometricCorrectionModelCode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="CorrespondenceModel"/>
            <xs:enumeration value="PhysicalSensorModel"/>
            <xs:enumeration value="TrueReplacementModel"/>
        </xs:restriction>
    </xs:simpleType>
    <!--   .............................................................................                                                        
    -->
    <xs:element name="checkPoints" type="igd:IE_LocationGCP"/>
    <xs:complexType name="IE_LocationGCP">
        <xs:sequence>
            <xs:element ref="igd:GCPRepository"/>
            <xs:element ref="igd:imageIdentifiableGCP"/>
            <xs:element ref="igd:locationGCP"/>
        </xs:sequence>
    </xs:complexType>
    <!--   .............................................................................                                                        
    -->
    <xs:element name="IE_Georeferenceable" type="igd:IE_GeoreferenceableType"/>
    <xs:complexType name="IE_GeoreferenceableType">
        <xs:complexContent>
            <xs:extension base="msr:MD_Georeferenceable_Type">
                <xs:sequence>
                    <xs:element ref="igd:geolocationInfo"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--   .............................................................................                                                        
    -->
    <xs:element name="geolocationInfo" type="igd:SD_SensorModel"/>
    <xs:complexType name="SD_SensorModel">
        <xs:complexContent>
            <xs:extension base="msr:AbstractMI_GeolocationInformation_Type">
                <xs:sequence>
                    <xs:element name="forImageID" type="gco:CharacterString_PropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--   .............................................................................                                                        
    -->
    <xs:element name="GCPRepository" type="igd:SD_GCPRepository"/>
    <xs:complexType name="SD_GCPRepository">
        <xs:sequence>
            <xs:element name="accessRestricted" type="gco:Boolean_PropertyType"/>
            <xs:element name="accessInformation" type="cit:CI_Contact_PropertyType"/>
            <xs:element name="MetadataForImagery" type="msr:MI_GCPCollection_Type"/>
        </xs:sequence>
    </xs:complexType>
    <!--   .............................................................................                                                        
    -->
    <xs:element name="imageIdentifiableGCP" type="igd:SD_ImageIdentifiableGCP"/>
    <xs:complexType name="SD_ImageIdentifiableGCP">
        <xs:complexContent>
            <xs:extension base="msr:MI_GCP_PropertyType">
                <xs:sequence>
                    <xs:element name="description" type="gco:CharacterString_PropertyType"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--   .............................................................................                                                        
    -->
    <xs:element name="locationGCP" type="igd:SD_GCPLocation"/>
    <xs:complexType name="SD_GCPLocation">
        <xs:complexContent>
            <xs:extension base="msr:MI_GCP_PropertyType">
                <xs:sequence>
                    <xs:element ref="igd:gridCoordinates"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <!--   .............................................................................                                                        
    -->
    <xs:element name="gridCoordinates" type="igd:CV_GridCoordinates"/>
    <xs:complexType name="CV_GridCoordinates">
        <xs:sequence>
            <xs:element name="coordValues" type="xs:integer"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
