ISO19115-3/mcc/1.0/AbstractCommonClasses.xsd.bak

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mcc="http://www.isotc211.org/2005/mcc/1.0/2013-06-24" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mcc/1.0/2013-06-24" version="1.0">
  <include schemaLocation="mcc.xsd"/>
  <!-- Changed schema location to address gml vs. gml/3.2 problem Ted Habermann 2013-12-26 -->
  <!--<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://www.isotc211.org/2005/gco/gco.xsd"/>-->
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="Abstract_ApplicationSchemaInformation" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_ApplicationSchemaInformation_Type"/>
  <complexType abstract="true" name="Abstract_ApplicationSchemaInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_ApplicationSchemaInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_ApplicationSchemaInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_Constraints" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_Constraints_Type"/>
  <complexType abstract="true" name="Abstract_Constraints_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_Constraints_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_Constraints"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_ContentInformation" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_ContentInformation_Type"/>
  <complexType abstract="true" name="Abstract_ContentInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_ContentInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_ContentInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_Distribution" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_Distribution_Type"/>
  <complexType abstract="true" name="Abstract_Distribution_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_Distribution_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_Distribution"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_Extent" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_Extent_Type"/>
  <complexType abstract="true" name="Abstract_Extent_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_Extent_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_Extent"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_FeatureCatalogue" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_FeatureCatalogue_Type"/>
  <complexType abstract="true" name="Abstract_FeatureCatalogue_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_FeatureCatalogue_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_FeatureCatalogue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_Format" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_Format_Type">
    <annotation>
      <documentation>&lt;ul&gt;
	&lt;li&gt;&lt;/li&gt;
&lt;/ul&gt;</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="Abstract_Format_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_Format_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_Format"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_LineageInformation" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_LineageInformation_Type"/>
  <complexType abstract="true" name="Abstract_LineageInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_LineageInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_LineageInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_MaintenanceInformation" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_MaintenanceInformation_Type"/>
  <complexType abstract="true" name="Abstract_MaintenanceInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_MaintenanceInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_MaintenanceInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_MetadataExtension" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_MetadataExtension_Type"/>
  <complexType abstract="true" name="Abstract_MetadataExtension_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_MetadataExtension_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_MetadataExtension"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_PortrayalCatalogueInformation" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_PortrayalCatalogueInformation_Type"/>
  <complexType abstract="true" name="Abstract_PortrayalCatalogueInformation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_PortrayalCatalogueInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_PortrayalCatalogueInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_ReferenceSystem" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_ReferenceSystem_Type"/>
  <complexType abstract="true" name="Abstract_ReferenceSystem_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_ReferenceSystem_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_ReferenceSystem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_SpatialRepresentation" substitutionGroup="gco:AbstractObject" type="mcc:Abstract_SpatialRepresentation_Type"/>
  <complexType abstract="true" name="Abstract_SpatialRepresentation_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_SpatialRepresentation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mcc:Abstract_SpatialRepresentation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
