schemas.isotc211.org/19157/-1/dq1/1.0.0/dq2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2" 
	xmlns:cit="https://schemas.isotc211.org/19115/-1/cit/1.3" 
	xmlns:mcc="https://schemas.isotc211.org/19115/-1/mcc/1.3" 
	xmlns:mda="https://schemas.isotc211.org/19115/-1/mda/1.3" 
	xmlns:dq1="https://schemas.isotc211.org/19157/-1/dq1/1.0" 
	targetNamespace="https://schemas.isotc211.org/19157/-1/dq1/1.0" 
	elementFormDefault="qualified" 
	version="1.0.0"
	>
	<xs:import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="https://schemas.isotc211.org/19103/-/gco/1.2.0/gco.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19115/-1/cit/1.3" schemaLocation="https://schemas.isotc211.org/19115/-1/cit/1.3.0/cit.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19115/-1/mcc/1.3" schemaLocation="https://schemas.isotc211.org/19115/-1/mcc/1.3.0/mcc.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19115/-1/mda/1.3" schemaLocation="https://schemas.isotc211.org/19115/-1/mda/1.3.0/mda.xsd"/>
	<xs:include schemaLocation="dqr.xsd"/>
	<xs:include schemaLocation="dqe.xsd"/>
	<!-- =========================================================================== -->
	<xs:complexType name="DataQuality_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:DataQuality"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="DataQuality" type="dq1:DataQuality_Type" id="ISO19157-1.1.001"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DataQuality_Type">
		<xs:annotation>
			<xs:documentation>quality information for the data specified by a data quality scope </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="scope" type="mcc:MD_Scope_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.002_ISO19115-1.1.420">
				<xs:annotation>
					<xs:documentation>the specific data to which the data quality information applies</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="report" type="dq1:QualityElement_PropertyType" minOccurs="1" maxOccurs="unbounded" id="ISO19157-1.1.003_ISO19157-1.1.005"/>
			<!-- <xs:element name="QualityEvaluationReport" type="dq1:QualityEvaluationReportInformation_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.004_ISO19157-1.1.072"/> -->
			<xs:element name="qualityEvaluationReport" type="dq1:QualityEvaluationReportInformation_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.004_ISO19157-1.1.072"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="QualityElement_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:QualityElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="QualityElement" type="dq1:QualityElement_Type" abstract="true" id="ISO19157-1.1.005"/>
	<!-- ........................................................................ -->
	<xs:complexType name="QualityElement_Type">
		<xs:annotation>
			<xs:documentation>aspect of quantitative quality information</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<!-- 
			<xs:element name="standaloneQualityReportDetails" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Clause in the standaloneQualityReport where this data quality element or any related data quality element (original results in case of derivation or aggregation) is described</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="QualityEvaluationReportDetails" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.006_ISO19103.1.CharacterString">
				<xs:annotation>
					<xs:documentation>Clause in the QualityEvaluationReport where this data quality element or any related data quality element (original results in case of derivation or aggregation) is described</xs:documentation>
				</xs:annotation>
			</xs:element>
			-->
			<xs:element name="qualityEvaluationReportDetails" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.006_ISO19103.1.CharacterString">
				<xs:annotation>
					<xs:documentation>Clause in the QualityEvaluationReport where this data quality element or any related data quality element (original results in case of derivation or aggregation) is described</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="measure" type="dq1:MeasureReference_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.007_ISO19157-1.1.035"/>
			<xs:element name="evaluationMethod" type="dq1:EvaluationMethod_PropertyType" minOccurs="1" maxOccurs="unbounded" id="ISO19157-1.1.008_ISO19157-1.1.039"/>
			<xs:element name="result" type="dq1:QualityResult_PropertyType" minOccurs="1" maxOccurs="unbounded" id="ISO19157-1.1.009_ISO19157-1.1.054"/>
			<xs:element name="derivedElement" type="dq1:QualityElement_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.010_ISO19157-1.1.005"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="Completeness_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:Completeness"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="Completeness" substitutionGroup="dq1:QualityElement" type="dq1:Completeness_Type" abstract="true" id="ISO19157-1.1.011"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Completeness_Type">
		<xs:annotation>
			<xs:documentation>presence and absence of features, their attributes and their relationships</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:QualityElement_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="Commission_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:Commission"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="Commission" substitutionGroup="dq1:Completeness" type="dq1:Commission_Type" id="ISO19157-1.1.012"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Commission_Type">
		<xs:annotation>
			<xs:documentation>excess data present in the dataset, as described by the scope</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:Completeness_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="Omission_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:Omission"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="Omission" type="dq1:Omission_Type" id="ISO19157-1.1.013"/>
	<!-- ........................................................................ -->
	<xs:complexType name="Omission_Type">
		<xs:annotation>
			<xs:documentation>data absent from the dataset, as described by the scope</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:Completeness_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="LogicalConsistency_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:LogicalConsistency"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="LogicalConsistency" substitutionGroup="dq1:QualityElement" type="dq1:LogicalConsistency_Type" abstract="true" id="ISO19157-1.1.014"/>
	<!-- ........................................................................ -->
	<xs:complexType name="LogicalConsistency_Type">
		<xs:annotation>
			<xs:documentation>degree of adherence to logical rules of data structure, attribution and relationships (data structure can be conceptual, logical or physical)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:QualityElement_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="ConceptualConsistency_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:ConceptualConsistency"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ConceptualConsistency" substitutionGroup="dq1:LogicalConsistency" type="dq1:ConceptualConsistency_Type" id="ISO19157-1.1.015"/>
	<!-- ........................................................................ -->
	<xs:complexType name="ConceptualConsistency_Type">
		<xs:annotation>
			<xs:documentation>adherence to rules of the conceptual schema</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:LogicalConsistency_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="DomainConsistency_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:DomainConsistency"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="DomainConsistency" substitutionGroup="dq1:LogicalConsistency" type="dq1:DomainConsistency_Type" id="ISO19157-1.1.016"/>
	<!-- ........................................................................ -->
	<xs:complexType name="DomainConsistency_Type">
		<xs:annotation>
			<xs:documentation>adherence of values to the value domains</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:LogicalConsistency_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="FormatConsistency_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:FormatConsistency"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="FormatConsistency" substitutionGroup="dq1:LogicalConsistency" type="dq1:FormatConsistency_Type" id="ISO19157-1.1.017"/>
	<!-- ........................................................................ -->
	<xs:complexType name="FormatConsistency_Type">
		<xs:annotation>
			<xs:documentation>degree to which data is stored in accordance with the physical structure of the dataset, as described by the scope</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:LogicalConsistency_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="TopologicalConsistency_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:TopologicalConsistency"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="TopologicalConsistency" substitutionGroup="dq1:LogicalConsistency" type="dq1:TopologicalConsistency_Type" id="ISO19157-1.1.018"/>
	<!-- ........................................................................ -->
	<xs:complexType name="TopologicalConsistency_Type">
		<xs:annotation>
			<xs:documentation>correctness of the explicitly encoded topological characteristics of the dataset as described by the scope</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:LogicalConsistency_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="PositionalAccuracy_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:PositionalAccuracy"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="PositionalAccuracy" substitutionGroup="dq1:QualityElement" type="dq1:PositionalAccuracy_Type" abstract="true" id="ISO19157-1.1.019"/>
	<!-- ........................................................................ -->
	<xs:complexType name="PositionalAccuracy_Type">
		<xs:annotation>
			<xs:documentation>accuracy of the position of features</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:QualityElement_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="AbsolutePositionalAccuracy_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:AbsolutePositionalAccuracy"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AbsolutePositionalAccuracy" substitutionGroup="dq1:PositionalAccuracy" type="dq1:AbsolutePositionalAccuracy_Type" id="ISO19157-1.1.020"/>
	<!-- ........................................................................ -->
	<xs:complexType name="AbsolutePositionalAccuracy_Type">
		<xs:annotation>
			<xs:documentation>closeness of reported coordinate values to values accepted as or being true</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:PositionalAccuracy_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="RelativePositionalAccuracy_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:RelativePositionalAccuracy"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="RelativePositionalAccuracy" substitutionGroup="dq1:PositionalAccuracy" type="dq1:RelativePositionalAccuracy_Type" id="ISO19157-1.1.021"/>
	<!-- ........................................................................ -->
	<xs:complexType name="RelativePositionalAccuracy_Type">
		<xs:annotation>
			<xs:documentation>closeness of the relative positions of features in the scope to their respective relative positions accepted as or being true</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:PositionalAccuracy_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="GriddedDataPositionalAccuracy_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:GriddedDataPositionalAccuracy"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="GriddedDataPositionalAccuracy" substitutionGroup="dq1:PositionalAccuracy" type="dq1:GriddedDataPositionalAccuracy_Type" id="ISO19157-1.1.022"/>
	<!-- ........................................................................ -->
	<xs:complexType name="GriddedDataPositionalAccuracy_Type">
		<xs:annotation>
			<xs:documentation>closeness of gridded data position values to values accepted as or being true</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:PositionalAccuracy_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="ThematicClassificationCorrectness_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:ThematicClassificationCorrectness"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ThematicClassificationCorrectness" substitutionGroup="dq1:ThematicQuality" type="dq1:ThematicClassificationCorrectness_Type" id="ISO19157-1.1.024"/>
	<!-- ........................................................................ -->
	<xs:complexType name="ThematicClassificationCorrectness_Type">
		<xs:annotation>
			<xs:documentation>comparison of the classes assigned to features or their attributes to a universe of discourse</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:ThematicQuality_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="NonQuantitativeAttributeCorrectness_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:NonQuantitativeAttributeCorrectness"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="NonQuantitativeAttributeCorrectness" substitutionGroup="dq1:ThematicQuality" type="dq1:NonQuantitativeAttributeCorrectness_Type" id="ISO19157-1.1.025"/>
	<!-- ........................................................................ -->
	<xs:complexType name="NonQuantitativeAttributeCorrectness_Type">
		<xs:annotation>
			<xs:documentation>correctness of non-quantitative attributes</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:ThematicQuality_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="QuantitativeAttributeAccuracy_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:QuantitativeAttributeAccuracy"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="QuantitativeAttributeAccuracy" substitutionGroup="dq1:ThematicQuality" type="dq1:QuantitativeAttributeAccuracy_Type" id="ISO19157-1.1.026"/>
	<!-- ........................................................................ -->
	<xs:complexType name="QuantitativeAttributeAccuracy_Type">
		<xs:annotation>
			<xs:documentation>accuracy of quantitative attributes </xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:ThematicQuality_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="TemporalConsistency_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:TemporalConsistency"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="TemporalConsistency" substitutionGroup="dq1:TemporalQuality" type="dq1:TemporalConsistency_Type"/>
	<!-- ........................................................................ -->
	<xs:complexType name="TemporalConsistency_Type">
		<xs:annotation>
			<xs:documentation>correctness of ordered events or sequences, if reported</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:TemporalQuality_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="TemporalQuality_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:TemporalQuality"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="TemporalQuality" substitutionGroup="dq1:QualityElement" type="dq1:TemporalQuality_Type" abstract="true" id="ISO19157-1.1.027"/>
	<!-- ........................................................................ -->
	<xs:complexType name="TemporalQuality_Type">
		<xs:annotation>
			<xs:documentation>accuracy of the temporal attributes and temporal relationships of features</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:QualityElement_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="AccuracyOfATimeMeasurement_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:AccuracyOfATimeMeasurement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="AccuracyOfATimeMeasurement" substitutionGroup="dq1:TemporalQuality" type="dq1:AccuracyOfATimeMeasurement_Type" id="ISO19157-1.1.028"/>
	<!-- ........................................................................ -->
	<xs:complexType name="AccuracyOfATimeMeasurement_Type">
		<xs:annotation>
			<xs:documentation>correctness of the temporal references of an item (reporting of error in time measurement)</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:TemporalQuality_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="TemporalValidity_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:TemporalValidity"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="TemporalValidity" substitutionGroup="dq1:TemporalQuality" type="dq1:TemporalValidity_Type" id="ISO19157-1.1.029"/>
	<!-- ........................................................................ -->
	<xs:complexType name="TemporalValidity_Type">
		<xs:annotation>
			<xs:documentation>validity of data specified by the scope with respect to time</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:TemporalQuality_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="MeasureReference_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:MeasureReference"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="MeasureReference" type="dq1:MeasureReference_Type" id="ISO19157-1.1.035"/>
	<!-- ........................................................................ -->
	<xs:complexType name="MeasureReference_Type">
		<xs:annotation>
			<xs:documentation>reference to the measure used</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="measureDescription" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.036_ISO19103.1.CharacterString">
				<xs:annotation>
					<xs:documentation>description of the measure</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="nameOfMeasure" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="unbounded" id="ISO19157-1.1.037_ISO19103.1.CharacterString">
				<xs:annotation>
					<xs:documentation>name of the test applied to the data</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="measureIdentification" type="mcc:MD_Identifier_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.038_ISO19115-1.1.431">
				<xs:annotation>
					<xs:documentation>Identifier of the measure, value uniquely identifying the measure within a namespace</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="QualityEvaluationReportInformation_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:QualityEvaluationReportInformation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="QualityEvaluationReportInformation" type="dq1:QualityEvaluationReportInformation_Type" id="ISO19157-1.1.072"/>
	<!-- ........................................................................ -->
	<xs:complexType name="QualityEvaluationReportInformation_Type">
		<xs:annotation>
			<xs:documentation>reference to an external quality evaluation report</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="reportReference" type="cit:CI_Citation_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.073_ISO19115-1.1.361">
				<xs:annotation>
					<xs:documentation>reference to the associated standalone quality report</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="abstract" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19157-1.1.074_ISO19103.1.CharacterString">
				<xs:annotation>
					<xs:documentation>abstract for the associated standalone quality report</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="qualityEvaluationReportDetails" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1" id="ISO19157-1.1.075_ISO19103.1.CharacterString">
				<xs:annotation>
					<xs:documentation>clause in the QualityEvaluationReport where this data quality element or any related data quality element (original results in case of derivation or aggregation) is described.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="elementReport" type="dq1:QualityElement_PropertyType" minOccurs="0" maxOccurs="unbounded" id="ISO19157-1.1.076_ISO19157-1.1.005"/>
			<xs:element name="onlineResource" type="mda:AbstractDS_Resource_PropertyType" minOccurs="0" maxOccurs="unbounded" id="ISO19157-1.1.077_ISO19115-1.1.001"/>
		</xs:sequence>
	</xs:complexType>
	<!-- =========================================================================== -->
	<xs:complexType name="ThematicQuality_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="dq1:ThematicQuality"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- ........................................................................ -->
	<xs:element name="ThematicQuality" substitutionGroup="dq1:QualityElement" type="dq1:ThematicQuality_Type" abstract="true"/>
	<!-- ........................................................................ -->
	<xs:complexType name="ThematicQuality_Type">
		<xs:annotation>
			<xs:documentation>accuracy of quantitative attributes and the correctness of non-quantitative attributes and of the classifications of features and their relationships</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="dq1:QualityElement_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- =========================================================================== -->
</xs:schema>
