schemas.isotc211.org/19111/-/rbc/3.1.1/coordSys.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2"
	xmlns:gml="http://www.opengis.net/gml/3.2"
	xmlns:rbc="https://schemas.isotc211.org/19111/-/rbc/3.1" 
	elementFormDefault="qualified" 
	targetNamespace="https://schemas.isotc211.org/19111/-/rbc/3.1"
	version="3.1.0">
	<xs:include schemaLocation="../../../../19111/-/rbc/3.1.1/commonClasses.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="https://schemas.isotc211.org/19103/-/gco/1.2.0/gco.xsd"/>

	
	<xs:annotation>
		<xs:documentation>The Coordinate System package contains the information required for specifying how coordinates are assigned to points.</xs:documentation>
	</xs:annotation>
	<!-- ========================================== Table 28 -->
	<xs:complexType name="CoordinateSystem_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:CoordinateSystem"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CoordinateSystem" substitutionGroup="rbc:IdentifiedObject" type="rbc:CoordinateSystem_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CoordinateSystem_Type" abstract="true">
		<xs:annotation>
			<xs:documentation>non-repeating sequence of coordinate system axes that spans a given coordinate space
				Note: A coordinate system is derived from a set of mathematical rules for specifying how coordinates in a given space are to be assigned to points. The coordinate values in a coordinate tuple shall be recorded in the order in which the coordinate system axes associations are recorded.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:IdentifiedObject_Type">
				<xs:sequence>
					<!-- <xs:element name="axis" type="rbc:CoordinateSystemAxis_PropertyType" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation><xs:documentation>coordinate system axis that is a component of this coordinate system</xs:documentation></xs:annotation>
					</xs:element> -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 29-->
	<xs:complexType name="AffineCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:AffineCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="AffineCS" type="rbc:AffineCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="AffineCS_Type">
		<xs:annotation>
			<xs:documentation>two- or three-dimensional coordinate system in Euclidean space with straight axes that are not necessarily orthogonal
Note: The number of associations shall equal the dimension of the coordinate system.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:CoordinateSystem_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 30 -->
	<xs:complexType name="CartesianCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:CartesianCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CartesianCS" substitutionGroup="rbc:AffineCS" type="rbc:CartesianCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CartesianCS_Type">
		<xs:annotation>
			<xs:documentation>two- or three-dimensional coordinate system in Euclidean space with straight axes that are not necessarily orthogonal 
				Note: The number of associations shall equal the dimension of the coordinate system.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:AffineCS_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 31 -->
	<xs:complexType name="CylindricalCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:CylindricalCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CylindricalCS" substitutionGroup="rbc:CoordinateSystem" type="rbc:CylindricalCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CylindricalCS_Type">
		<xs:annotation>
			<xs:documentation>three-dimensional coordinate system in Euclidean space consisting of a polar coordinate system extended by a straight coordinate axis perpendicular to the plane spanned by the polar coordinate system
				Note: A CylindricalCS shall have three axis associations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:CoordinateSystem_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 32 -->
	<xs:complexType name="EllipsoidalCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:EllipsoidalCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="EllipsoidalCS" substitutionGroup="rbc:CoordinateSystem" type="rbc:EllipsoidalCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="EllipsoidalCS_Type">
		<xs:annotation>
			<xs:documentation>two- or three-dimensional coordinate system in which position is specified by geodetic latitude, geodetic longitude, and (in the three-dimensional case) ellipsoidal height
				Note: An EllipsoidalCS shall have two or three associations; the number of associations shall equal the dimension of the coordinate system.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:CoordinateSystem_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
<!-- ========================================== Table 33 -->
	<xs:complexType name="LinearCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:LinearCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="LinearCS" substitutionGroup="rbc:CoordinateSystem" type="rbc:LinearCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="LinearCS_Type">
		<xs:annotation>
			<xs:documentation>one-dimensional coordinate system that consists of the points that lie on the single axis described
				Note: The associated coordinate is the distance – with or without offset – from the origin point, specified through the datum definition, to the point along the axis. Example: usage of the line feature representing a pipeline to describe points on or along that pipeline. A LinearCS shall have one axis association.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:CoordinateSystem_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 34 -->
	<xs:complexType name="OrdinalCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:OrdinalCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="OrdinalCS" substitutionGroup="rbc:CoordinateSystem" type="rbc:OrdinalCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="OrdinalCS_Type">
		<xs:annotation>
			<xs:documentation>n-dimensional coordinate system in which every axis uses integers
				Note: The number of associations shall be equal the dimension of the coordinate system.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:CoordinateSystem_Type">
				<xs:sequence>
					<xs:element name="coordinateType" type="rbc:CoordinateDataType_PropertyType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>datatype of coordinate values</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 35 -->
	<xs:complexType name="ParametricCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:ParametricCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="ParametricCS" substitutionGroup="rbc:CoordinateSystem" type="rbc:ParametricCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="ParametricCS_Type">
		<xs:annotation>
			<xs:documentation>one-dimensional coordinate reference system which uses parameter values or functions that may vary monotonically with height
				Note: A ParametricCS shall have one axis association.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:CoordinateSystem_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 36 -->
	<xs:complexType name="PolarCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:PolarCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="PolarCS" substitutionGroup="rbc:CoordinateSystem" type="rbc:PolarCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="PolarCS_Type">
		<xs:annotation>
			<xs:documentation>two-dimensional coordinate system in Euclidean space in which position is specified by the distance from the origin and the angle between the line from the origin to a point and a reference direction
				Note: A PolarCS shall have two axis associations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:CoordinateSystem_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 37 -->
	<xs:complexType name="SphericalCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:SphericalCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="SphericalCS" substitutionGroup="rbc:CoordinateSystem" type="rbc:SphericalCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="SphericalCS_Type">
		<xs:annotation>
			<xs:documentation>three-dimensional coordinate system in Euclidean space with one distance measured from the origin and two angular coordinates
				Note: Not to be confused with an ellipsoidal coordinate system based on an ellipsoid "degenerated" into a sphere. A SphericalCS shall have three axis associations.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:CoordinateSystem_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 38 -->
	<xs:complexType name="TemporalCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:TemporalCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="TemporalCS" substitutionGroup="rbc:CoordinateSystem" type="rbc:TemporalCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="TemporalCS_Type" abstract="true">
		<xs:annotation>
			<xs:documentation>one-dimensional coordinate system used to record time 
				Note: A TemporalCS shall have one axis association.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:CoordinateSystem_Type">
				<xs:sequence>
					<xs:element name="coordinateType" type="rbc:CoordinateDataType_PropertyType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>datatype of coordinate values</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 39 -->
	<xs:complexType name="DateTimeTemporalCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:DateTimeTemporalCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="DateTimeTemporalCS" substitutionGroup="rbc:TemporalCS" type="rbc:DateTimeTemporalCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="DateTimeTemporalCS_Type">
		<xs:annotation>
			<xs:documentation>one-dimensional coordinate system used to record time in dateTime representation as defined in ISO 8601.
				Note: A DateTimeTemporalCS shall have one axis association. It does not use axisUnitID; the temporal quantities are defined through the ISO 8601 representation.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:TemporalCS_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 40 -->
	<xs:complexType name="TemporalCountCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:TemporalCountCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="TemporalCountCS" substitutionGroup="rbc:TemporalCS" type="rbc:TemporalCountCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="TemporalCountCS_Type">
		<xs:annotation>
			<xs:documentation>one-dimensional coordinate system used to record time as an integer count
				Note: A TemporalCountCS shall have one axis association.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:TemporalCS_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 41 -->
	<xs:complexType name="TemporalMeasureCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:TemporalMeasureCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="TemporalMeasureCS" substitutionGroup="rbc:TemporalCS" type="rbc:TemporalMeasureCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="TemporalMeasureCS_Type">
		<xs:annotation>
			<xs:documentation>one-dimensional coordinate system used to record a time as a real number
Note: A TemporalMeasureCS shall have one axis association.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:TemporalCS_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 42 -->
	<xs:complexType name="VerticalCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:VerticalCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="VerticalCS" substitutionGroup="rbc:CoordinateSystem" type="rbc:VerticalCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="VerticalCS_Type">
		<xs:annotation>
			<xs:documentation>one-dimensional coordinate system used to record the heights or depths of points, usually dependent on the Earth's gravity field
				Note: An exact definition is deliberately not provided as the complexities of the subject fall outside the scope of this document. A VerticalCS shall have one axis association.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:CoordinateSystem_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== Table 43 -->
	<xs:complexType name="DerivedProjectedCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:DerivedProjectedCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="DerivedProjectedCS" type="rbc:DerivedProjectedCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="DerivedProjectedCS_Type">
		<xs:annotation>
			<xs:documentation>coordinate system used by a DerivedProjected CRS, one of an affine coordinate system, a Cartesian coordinate system, a cylindrical coordinate system, an ordinal coordinate system, a polar coordinate system or a spherical coordinate system</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="affineCS" type="rbc:AffineCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>two- or three-dimensional coordinate system in Euclidean space with straight axes that are not necessarily orthogonal. The number of associations shall equal the dimension of the CS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cartesianCS " type="rbc:CartesianCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>two- or three-dimensional coordinate system in Euclidean space with orthogonal straight axes. All axes shall have the same length unit. A CartesianCS shall have two or three axis associations; the number of associations shall equal the dimension of the CS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cylindricalCS" type="rbc:CylindricalCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>three-dimensional coordinate system in Euclidean space consisting of a polar coordinate system extended by a straight coordinate axis perpendicular to the plane spanned by the polar coordinate system. A CylindricalCS shall have three axis associations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ordinalCS" type="rbc:OrdinalCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>n-dimensional coordinate system in which every axis uses integers. The number of associations shall be equal the dimension of the CS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="polarCS" type="rbc:PolarCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>two-dimensional coordinate system in Euclidean space in which position is specified by the distance from the origin and the angle between the line from the origin to a point and a reference direction. A PolarCS shall have two axis associations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sphericalCS" type="rbc:SphericalCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>three-dimensional coordinate system in Euclidean space with one distance measured from the origin and two angular coordinates. Not to be confused with an ellipsoidal coordinate system based on an ellipsoid "degenerated" into a sphere. A SphericalCS shall have three axis associations.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<!-- ========================================== Table 44 -->
	<xs:complexType name="EngineeringCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:EngineeringCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="EngineeringCS" type="rbc:EngineeringCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="EngineeringCS_Type">
		<xs:annotation>
			<xs:documentation>coordinate system used by an engineering coordinate reference system, one of an affine coordinate system, a Cartesian coordinate system, a cylindrical coordinate system, a linear coordinate sytem, an ordinal coordinate system, a polar coordinate system or a spherical coordinate system</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="affineCS" type="rbc:AffineCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>two- or three-dimensional coordinate system in Euclidean space with straight axes that are not necessarily orthogonal. The number of associations shall equal the dimension of the CS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cartesianCS" type="rbc:CartesianCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>two- or three-dimensional coordinate system in Euclidean space with orthogonal straight axes. All axes shall have the same length unit. A CartesianCS shall have two or three axis associations; the number of associations shall equal the dimension of the CS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="cylindricalCS" type="rbc:CylindricalCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>three-dimensional coordinate system in Euclidean space consisting of a polar coordinate system extended by a straight coordinate axis perpendicular to the plane spanned by the polar coordinate system. A CylindricalCS shall have three axis associations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="linearCS" type="rbc:LinearCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>one-dimensional coordinate system that consists of the points that lie on the single axis described. The associated coordinate is the distance – with or without offset – from the origin point, specified through the datum definition, to the point along the axis. Example: usage of the line feature representing a pipeline to describe points on or along that pipeline. A LinearCS shall have one axis association.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ordinalCS" type="rbc:OrdinalCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>n-dimensional coordinate system in which every axis uses integers. The number of associations shall be equal the dimension of the CS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="polarCS" type="rbc:PolarCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>two-dimensional coordinate system in Euclidean space in which position is specified by the distance from the origin and the angle between the line from the origin to a point and a reference direction. A PolarCS shall have two axis associations.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sphericalCS" type="rbc:SphericalCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>three-dimensional coordinate system in Euclidean space with one distance measured from the origin and two angular coordinates. Not to be confused with an ellipsoidal coordinate system based on an ellipsoid "degenerated" into a sphere. A SphericalCS shall have three axis associations.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<!-- ========================================== Table 45 -->
	<xs:complexType name="GeodeticCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:GeodeticCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="GeodeticCS" type="rbc:GeodeticCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="GeodeticCS_Type">
		<xs:annotation>
			<xs:documentation>coordinate system used by a Geodetic CRS, one of a Cartesian coordinate system or a spherical coordinate system</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="cartesianCS" type="rbc:CartesianCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>two- or three-dimensional coordinate system in Euclidean space with orthogonal straight axes. All axes shall have the same length unit. A CartesianCS shall have two or three axis associations; the number of associations shall equal the dimension of the CS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ellipsoidalCS" type="rbc:EllipsoidalCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>two- or three-dimensional coordinate system in which position is specified by geodetic latitude, geodetic longitude, and (in the three-dimensional case) ellipsoidal height. An EllipsoidalCS shall have two or three associations; the number of associations shall equal the dimension of the CS.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="sphericalCS" type="rbc:SphericalCS_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>three-dimensional coordinate system in Euclidean space with one distance measured from the origin and two angular coordinates. Not to be confused with an ellipsoidal coordinate system based on an ellipsoid "degenerated" into a sphere. A SphericalCS shall have three axis associations.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<!-- ========================================== CodeList Table 46 -->
	<xs:complexType name="CoordinateDataType_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:CoordinateDataType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CoordinateDataType" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CoordinateDataType_Type">
		<xs:annotation>
			<xs:documentation>datatype of coordinate values</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="dateTime" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>compound quantity representable as a character string conformant with ISO 8601 used for a temporal coordinate system axis</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="integer" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>quantity expressed as a count used for a temporal or ordinal coordinate system axis</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="real" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>quantity expressed as a measure used for a temporal coordinate system axis</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== Table 47 -->
	<xs:complexType name="CoordinateSystemAxis_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:CoordinateSystemAxis"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CoordinateSystemAxis" substitutionGroup="rbc:IdentifiedObject" type="rbc:CoordinateSystemAxis_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CoordinateSystemAxis_Type">
		<xs:annotation>
			<xs:documentation>definition of a coordinate system axis</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:IdentifiedObject_Type">
				<xs:sequence>
					<xs:element name="axisAbbrev" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>abbreviation used for this coordinate system axis; this abbreviation is also used to identify the coordinates in the coordinate tuple
								Examples: X and Y. 
								Note: when the standard symbol is a Greek character the abbreviation may differ from the symbol (for example to constrain symbols to other character sets).</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="axisDirection" type="rbc:AxisDirection_PropertyType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>direction of this coordinate system axis (or in the case of Cartesian projected coordinates, the direction of this coordinate system axis locally) 
								Examples: north or south, east or west, up or down. 
								Note: Within any set of coordinate system axes, only one of each pair of terms can be used. For Earth-fixed CRSs, this direction is often approximate and intended to provide a human interpretable meaning to the axis. When a geodetic reference frame is used, the precise directions of the axes may therefore vary slightly from this approximate direction. Note that an EngineeringCRS often requires specific descriptions of the directions of its coordinate system axes.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="axisUnitID" type="gml:UnitOfMeasureType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>spatial unit or temporal quantity used for this coordinate system axis
								Note: The value of a coordinate in a coordinate tuple is recorded using this unit. 
								This element is omitted if this axis is part of a DateTimeTemporalCS or an OrdinalCS, and is provided in all other cases.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="minimumValue" type="gco:Real_PropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>minimum value normally allowed for this axis, in the unit for the axis</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="maximumValue" type="gco:Real_PropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>maximum value normally allowed for this axis, in the unit for the axis</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="rangeMeaning" type="rbc:RangeMeaning_PropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>meaning of axis value range specified by minimumValue and maximumValue
								Note: This element shall be omitted when both minimumValue and maximumValue are omitted. It may be included when minimumValue and/or maximumValue are included. If this element is omitted when minimumValue or maximumValue are included, the meaning is unspecified.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== CodeList Table 48 -->
	<xs:complexType name="AxisDirection_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:AxisDirection"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="AxisDirection" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="AxisDirection_Type">
		<xs:annotation>
			<xs:documentation>direction of positive increase in the coordinate value for a coordinate system axis</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="aft" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Axis positive direction is aft
						Note: for an observer at the centre of the object this will be towards its back, stern or tail.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="awayFrom" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is away from the object</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="clockwise" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is clockwise from a specified direction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="columnNegative" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is towards lower pixel column</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="columnPositive" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is towards higher pixel column</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="counterClockwise" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is counter clockwise from a specified direction</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="displayDown" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is towards bottom of approximately vertical display surface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="displayLeft" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is left in display</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="displayRight" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is right in display</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="displayUp" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is towards top of approximately vertical display surface</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="down" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is down relative to gravity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="east" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is p/2 radians clockwise from north</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eastNorthEast" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is approximately east-north-east</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="eastSouthEast" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is approximately east-south-east</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="forward" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is forward
						Note: For an observer at the centre of the object this is will be towards its front, bow or nose.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="future" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>temporal axis positive direction is towards the future</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geocentricX" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is in the equatorial plane from the centre of the modelled Earth towards the intersection of the equator with the prime meridian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geocentricY" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is in the equatorial plane from the centre of the modelled Earth towards the intersection of the equator and the meridian p/2 radians eastwards from the prime meridian</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="geocentricZ" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is from the centre of the modelled Earth parallel to its rotation axis and towards its north pole</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="north" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is north
						Note:  In a geodetic, geographic or projected CRS, north is defined through the geodetic reference frame. In an engineering CRS, north may be defined with respect to an engineering object rather than a geographical direction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="northEast" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is approximately north-east</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="northNorthEast" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is approximately north-north-east</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="northNorthWest" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is approximately north-north-west</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="northWest" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is approximately north-west</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="past" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>temporal axis positive direction is towards the past</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="port" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Axis positive direction is port 
						Note: For an observer at the centre of the object this will be towards its left.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rowNegative" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is towards lower pixel row</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="rowPositive" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is towards higher pixel row</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="south" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is p radians clockwise from north</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="southEast" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is approximately south-east</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="southSouthEast" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is approximately south-south-east</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="southSouthWest" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is approximately south-south-west</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="southWest" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is approximately south-west</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="starboard" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Axis positive direction is starboard 
						Note: For an observer at the centre of the object this will be towards its right.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="towards" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is towards the object</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="unspecified" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is unspecified</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="up" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is up relative to gravity</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="west" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is 3p/2 radians clockwise from north</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="westNorthWest" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is approximately west-north-west</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="westSouthWest" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis positive direction is approximately west-south-west</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== Table 49 -->
	<xs:complexType name="RangeMeaning_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="rbc:RangeMeaning"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="RangeMeaning" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="RangeMeaning_Type">
		<xs:annotation>
			<xs:documentation>meaning of the axis value range specified through minimumValue and maximumValue</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="exact" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>any value between and including minimumValue and maximumValue is valid</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="wraparound" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>axis is continuous with values wrapping around at the minimumValue and maximumValue
						Note: Values with the same meaning repeat modulo the difference between maximumValue and minimumValue.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- ========================================== -->
</xs:schema>
