ISO19115-3/lan/1.0/language.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2013-06-24" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:lan="http://www.isotc211.org/2005/lan/1.0/2013-06-24" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/lan/1.0/2013-06-24" version="1.0">
  <include schemaLocation="lan.xsd"/>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2013-06-24" schemaLocation="../../cit/1.0/cit.xsd"/>
  <!-- Changed schema location to address gml vs. gml/3.2 problem Ted Habermann 2013-12-26 -->
  <!--<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>-->
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="CountryCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="CountryCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:CountryCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="LanguageCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="LanguageCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:LanguageCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="LocalisedCharacterString" substitutionGroup="gco:AbstractObject" type="lan:LocalisedCharacterString_Type"/>
  <complexType name="LocalisedCharacterString_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="locale" type="lan:PT_Locale_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="LocalisedCharacterString_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:LocalisedCharacterString"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_CharacterSetCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="MD_CharacterSetCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:MD_CharacterSetCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="PT_FreeText" substitutionGroup="gco:AbstractObject" type="lan:PT_FreeText_Type"/>
  <complexType name="PT_FreeText_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" name="textGroup" type="lan:LocalisedCharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PT_FreeText_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:PT_FreeText"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="PT_Locale" substitutionGroup="gco:AbstractObject" type="lan:PT_Locale_Type"/>
  <complexType name="PT_Locale_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="language" type="lan:LanguageCode_PropertyType"/>
          <element minOccurs="0" name="country" type="lan:CountryCode_PropertyType"/>
          <element name="characterEncoding" type="lan:MD_CharacterSetCode_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PT_Locale_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:PT_Locale"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="PT_LocaleContainer" substitutionGroup="lan:PT_Locale" type="lan:PT_LocaleContainer_Type"/>
  <complexType name="PT_LocaleContainer_Type">
    <complexContent>
      <extension base="lan:PT_Locale_Type">
        <sequence>
          <element name="description" type="gco:CharacterString_PropertyType"/>
          <element name="locale" type="lan:PT_Locale_PropertyType"/>
          <element maxOccurs="unbounded" name="date" type="cit:CI_Date_PropertyType"/>
          <element maxOccurs="unbounded" name="responsibleParty" type="cit:CI_Responsibility_PropertyType"/>
          <element maxOccurs="unbounded" name="localisedString" type="lan:LocalisedCharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="PT_LocaleContainer_PropertyType">
    <sequence minOccurs="0">
      <element ref="lan:PT_LocaleContainer"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
