standards.iso.org/19115/-3/gcx/1.0/2014-12-25/extendedTypes_autoFromShapeChange.xsd.bak

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2014/gco" xmlns:gcx="http://www.isotc211.org/namespace/gcx/1.0/2014-12-25" xmlns:mcc="http://www.isotc211.org/namespace/mcc/1.0/2014-12-25" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/namespace/gcx/1.0/2014-12-25" version="1.0">
  <annotation>
    <documentation>Handcrafted</documentation>
  </annotation>
  <include schemaLocation="gcx.xsd"/>
  <import namespace="http://www.isotc211.org/2014/gco" schemaLocation="../../../ISO19139rework/gco.xsd"/>
  <import namespace="http://www.isotc211.org/namespace/mcc/1.0/2014-12-25" schemaLocation="../../../../../19115/-3/mcc/1.0/2014-12-25/mcc.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Anchor" substitutionGroup="gco:AbstractObject" type="gcx:Anchor_Type"/>
  <complexType name="Anchor_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="href" type="mcc:URI_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Anchor_PropertyType">
    <sequence minOccurs="0">
      <element ref="gcx:Anchor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="FileName" substitutionGroup="gco:AbstractObject" type="gcx:FileName_Type"/>
  <complexType name="FileName_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="src" type="mcc:URI_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FileName_PropertyType">
    <sequence minOccurs="0">
      <element ref="gcx:FileName"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MimeFileType" substitutionGroup="gco:AbstractObject" type="gcx:MimeFileType_Type"/>
  <complexType name="MimeFileType_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="type" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MimeFileType_PropertyType">
    <sequence minOccurs="0">
      <element ref="gcx:MimeFileType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
