ISO19135/pre/1.0/2014-07-11/abstract.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:pre="http://www.isotc211.org/namespace/pre/1.0/2014-07-11" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/namespace/pre/1.0/2014-07-11" version="1.0">
  <include schemaLocation="pre.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="Abstract_Register" substitutionGroup="gco:AbstractObject" type="pre:Abstract_Register_Type"/>
  <complexType abstract="true" name="Abstract_Register_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_Register_PropertyType">
    <sequence minOccurs="0">
      <element ref="pre:Abstract_Register"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_RegisterItem" substitutionGroup="gco:AbstractObject" type="pre:Abstract_RegisterItem_Type"/>
  <complexType abstract="true" name="Abstract_RegisterItem_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_RegisterItem_PropertyType">
    <sequence minOccurs="0">
      <element ref="pre:Abstract_RegisterItem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
