ISO19115-3/mdt/1.0/metadataTransfer.xsd.bak

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cat="http://www.isotc211.org/2005/cat/1.0/2013-06-24" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gcx="http://www.isotc211.org/2005/gcx/1.0/2013-06-24" xmlns:mda="http://www.isotc211.org/2005/mda/1.0/2013-06-24" xmlns:mdt="http://www.isotc211.org/2005/mdt/1.0/2013-06-24" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mdt/1.0/2013-06-24" version="1.0">
  <include schemaLocation="mdt.xsd"/>
  <import namespace="http://www.isotc211.org/2005/cat/1.0/2013-06-24" schemaLocation="../../cat/1.0/cat.xsd"/>
  <!-- Changed schema location to address gml vs. gml/3.2 problem Ted Habermann 2013-12-26 -->
  <!--<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://www.isotc211.org/2005/gco/gco.xsd"/>-->
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gcx/1.0/2013-06-24" schemaLocation="../../gcx/1.0/gcx.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mda/1.0/2013-06-24" schemaLocation="../../mda/1.0/mda.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="MX_Aggregate" substitutionGroup="mda:AbstractDS_Aggregate" type="mdt:MX_Aggregate_Type"/>
  <complexType name="MX_Aggregate_Type">
    <complexContent>
      <extension base="mda:AbstractDS_Aggregate_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="aggregateCatalogue" type="cat:AbstractCT_Catalogue_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="aggregateFile" type="mdt:MX_SupportFile_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MX_Aggregate_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdt:MX_Aggregate"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MX_DataFile" substitutionGroup="mdt:AbstractMX_File" type="mdt:MX_DataFile_Type"/>
  <complexType name="MX_DataFile_Type">
    <complexContent>
      <extension base="mdt:AbstractMX_File_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="featureTypes" type="gco:GenericName_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MX_DataFile_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdt:MX_DataFile"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MX_DataSet" substitutionGroup="gco:AbstractObject" type="mdt:MX_DataSet_Type"/>
  <complexType name="MX_DataSet_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="datasetCatalogue" type="cat:AbstractCT_Catalogue_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="supportFile" type="mdt:MX_SupportFile_PropertyType"/>
          <element maxOccurs="unbounded" name="dataFile" type="mdt:MX_DataFile_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MX_DataSet_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdt:MX_DataSet"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractMX_File" substitutionGroup="gco:AbstractObject" type="mdt:AbstractMX_File_Type"/>
  <complexType abstract="true" name="AbstractMX_File_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="fileName" type="gcx:FileName_PropertyType"/>
          <element name="fileDescription" type="gco:CharacterString_PropertyType"/>
          <element name="fileType" type="gcx:MimeFileType_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractMX_File_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdt:AbstractMX_File"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MX_ScopeCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="MX_ScopeCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdt:MX_ScopeCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MX_SupportFile" substitutionGroup="mdt:AbstractMX_File" type="mdt:MX_SupportFile_Type"/>
  <complexType name="MX_SupportFile_Type">
    <complexContent>
      <extension base="mdt:AbstractMX_File_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MX_SupportFile_PropertyType">
    <sequence minOccurs="0">
      <element ref="mdt:MX_SupportFile"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
