ISO19115-3/mpc/1.0/portrayalCatalogue.xsd.bak

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2013-06-24" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mcc="http://www.isotc211.org/2005/mcc/1.0/2013-06-24" xmlns:mpc="http://www.isotc211.org/2005/mpc/1.0/2013-06-24" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mpc/1.0/2013-06-24" version="1.0">
  <include schemaLocation="mpc.xsd"/>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2013-06-24" schemaLocation="../../cit/1.0/cit.xsd"/>
  <!-- Changed schema location to address gml vs. gml/3.2 problem Ted Habermann 2013-12-26 -->
  <!--<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://www.isotc211.org/2005/gco/gco.xsd"/>-->
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mcc/1.0/2013-06-24" schemaLocation="../../mcc/1.0/mcc.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="MD_PortrayalCatalogueReference" substitutionGroup="mcc:Abstract_PortrayalCatalogueInformation" type="mpc:MD_PortrayalCatalogueReference_Type">
    <annotation>
      <documentation>information identifying the portrayal catalogue used</documentation>
    </annotation>
  </element>
  <complexType name="MD_PortrayalCatalogueReference_Type">
    <complexContent>
      <extension base="mcc:Abstract_PortrayalCatalogueInformation_Type">
        <sequence>
          <element maxOccurs="unbounded" name="portrayalCatalogueCitation" type="cit:CI_Citation_PropertyType">
            <annotation>
              <documentation>bibliographic reference to the portrayal catalogue cited</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_PortrayalCatalogueReference_PropertyType">
    <sequence minOccurs="0">
      <element ref="mpc:MD_PortrayalCatalogueReference"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
