standards.iso.org/19111/rbc/1.0/2014-12-25/coordinateOperations.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:dqc="http://standards.iso.org/19157/-2/dqc/1.0/2014-12-25" xmlns:gco="http://standards.iso.org/19139/gco/1.0/2014-12-25" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:mcc="http://standards.iso.org/19115/-3/mcc/1.0/2014-12-25" xmlns:rbc="http://standards.iso.org/19111/rbc/1.0/2014-12-25" xmlns:rce="http://standards.iso.org/19111/rce/1.0/2014-12-25" elementFormDefault="qualified" targetNamespace="http://standards.iso.org/19111/rbc/1.0/2014-12-25" version="1.0">
  <annotation>
    <documentation>The Coordinate Operations package describes the information required to transform or convert coordinates form one coordinate reference system to another.</documentation>
  </annotation>
  <include schemaLocation="coordinateReferenceSystems.xsd"/>
  <include schemaLocation="rbc.xsd"/>
  <!--<import namespace="http://standards.iso.org/19139/gco/1.0/2014-12-25" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>-->
  <import namespace="http://standards.iso.org/19139/gco/1.0/2014-12-25" schemaLocation="../../../../19139/gco/1.0/2014-12-25/gco.xsd"/>
  <import namespace="http://standards.iso.org/19157/-2/dqc/1.0/2014-12-25" schemaLocation="../../../../19157/-2/dqc/1.0/2014-12-25/dqc.xsd"/>
  <import namespace="http://standards.iso.org/19115/-3/mcc/1.0/2014-12-25" schemaLocation="../../../../19115/-3/mcc/1.0/2014-12-25/mcc.xsd"/>
  <import namespace="http://standards.iso.org/19111/rce/1.0/2014-12-25" schemaLocation="../../../../19111/rce/1.0/2014-12-25/rce.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19136_Schemas/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="CC_ConcatenatedOperation" substitutionGroup="rbc:CC_CoordinateOperation" type="rbc:CC_ConcatenatedOperation_Type">
    <annotation>
      <documentation>An ordered sequence of two or more single coordinate operations. The sequence of coordinate operations is constrained by the requirement that the source coordinate reference system of step (n+1) shall be the same as the target coordinate reference system of step (n). The source coordinate reference system of the first step and the target coordinate reference system of the last step are the source and target coordinate reference system associated with the concatenated coordinate operation. Instead of a forward coordinate operation, an inverse operation may be used for one or more of the coordinate operation steps mentioned above, if the inverse coordinate operation is uniquely defined by the forward coordinate operation method.</documentation>
    </annotation>
  </element>
  <complexType name="CC_ConcatenatedOperation_Type">
    <complexContent>
      <extension base="rbc:CC_CoordinateOperation_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="2" name="coordOperation" type="rbc:CC_CoordinateOperation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CC_ConcatenatedOperation_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CC_ConcatenatedOperation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CC_Conversion" substitutionGroup="rbc:AbstractCC_SingleOperation" type="rbc:CC_Conversion_Type">
    <annotation>
      <documentation>A coordinate operation through which the output coordinates are referenced to the same datum as are the input coordinates. The best-known example of a coordinate conversion is a map projection. The parameter values describing coordinate conversions are defined rather than empirically derived.</documentation>
    </annotation>
  </element>
  <complexType name="CC_Conversion_Type">
    <complexContent>
      <extension base="rbc:AbstractCC_SingleOperation_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CC_Conversion_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CC_Conversion"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CC_CoordinateOperation" substitutionGroup="rce:AbstractIO_IdentifiedObjectBase" type="rbc:CC_CoordinateOperation_Type">
    <annotation>
      <documentation>A mathematical operation on coordinates that transforms or converts coordinates to another coordinate reference system. Many but not all coordinate operations (from CRS A to CRS B) also uniquely define the inverse coordinate operation (from CRS B to CRS A). In some cases, the coordinate operation method algorithm for the inverse coordinate operation is the same as for the forward algorithm, but the signs of some coordinate operation parameter values have to be reversed. In other cases, different algorithms are required for the forward and inverse coordinate operations, but the same coordinate operation parameter values are used. If (some) entirely different parameter values are needed, a different coordinate operation shall be defined. &lt;HMMG&gt;The addition of the Type stereotype allows this class to be inherited from loosely. So that realization classes can specify how attributes and operations of the type are implemented in the realization. Attribute names are
        not normative, operation signatures are. Both attribute and opeeration semantics are normative. &lt;/HMMG&gt;</documentation>
    </annotation>
  </element>
  <complexType name="CC_CoordinateOperation_Type">
    <complexContent>
      <extension base="rce:AbstractIO_IdentifiedObjectBase_Type">
        <sequence>
          <element minOccurs="0" name="operationVersion" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Version of the coordinate transformation (i.e. instantiation due to the stochastic nature of the parameters). Mandatory when describing a coordinate transformation, and should not be supplied for a coordinate conversion.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="domainOfValidity" type="mcc:Abstract_Extent_PropertyType">
            <annotation>
              <documentation>Area or region or timeframe in which this coordinate operation is valid.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="scope" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description of usage, or limitations of usage, for which this coordinate operation is valid. If unknown, enter "not known".</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="coordinateOperationAccuracy" type="dqc:Abstract_QualityElement_PropertyType">
            <annotation>
              <documentation>Estimate(s) of the impact of this coordinate operation on point accuracy. Gives position error estimates for target coordinates of this coordinate operation, assuming no errors in source coordinates.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sourceCRS" type="gml:CRSPropertyType"/>
          <element minOccurs="0" name="targetCRS" type="gml:CRSPropertyType">
            <annotation>
              <documentation>Association to the target CRS (coordinate reference system) of this coordinate operation.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CC_CoordinateOperation_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CC_CoordinateOperation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CC_Formula" substitutionGroup="gco:AbstractObject" type="rbc:CC_Formula_Type">
    <annotation>
      <documentation>Specification of the coordinate operation method formula.</documentation>
    </annotation>
  </element>
  <complexType name="CC_Formula_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <choice>
          <element name="formula" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Formula(s) or procedure used by this operation method.</documentation>
            </annotation>
          </element>
          <element name="formulaCitation" type="mcc:Abstract_Citation_PropertyType">
            <annotation>
              <documentation>Reference to a publication giving the formula(s) or procedure used by the coordinate operation method.</documentation>
            </annotation>
          </element>
        </choice>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CC_Formula_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CC_Formula"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractCC_GeneralOperationParameter" substitutionGroup="rce:AbstractIO_IdentifiedObjectBase" type="rbc:AbstractCC_GeneralOperationParameter_Type">
    <annotation>
      <documentation>Definition of a parameter or group of parameters used by a coordinate operation method.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractCC_GeneralOperationParameter_Type">
    <complexContent>
      <extension base="rce:AbstractIO_IdentifiedObjectBase_Type">
        <sequence>
          <element minOccurs="0" name="minimumOccurs" type="gco:Integer_PropertyType">
            <annotation>
              <documentation>The minimum number of times that values for this parameter group or parameter are required. If this attribute is omitted, the minimum number is one.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="value" type="rbc:AbstractCC_GeneralParameterValue_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractCC_GeneralOperationParameter_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:AbstractCC_GeneralOperationParameter"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractCC_GeneralParameterValue" substitutionGroup="gco:AbstractObject" type="rbc:AbstractCC_GeneralParameterValue_Type">
    <annotation>
      <documentation>Parameter value or group of parameter values.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractCC_GeneralParameterValue_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractCC_GeneralParameterValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:AbstractCC_GeneralParameterValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CC_OperationMethod" substitutionGroup="rce:AbstractIO_IdentifiedObjectBase" type="rbc:CC_OperationMethod_Type">
    <annotation>
      <documentation>The method (algorithm or procedure) used to perform the coordinate operation.</documentation>
    </annotation>
  </element>
  <complexType name="CC_OperationMethod_Type">
    <complexContent>
      <extension base="rce:AbstractIO_IdentifiedObjectBase_Type">
        <sequence>
          <element name="formulaReference" type="rbc:CC_Formula_PropertyType">
            <annotation>
              <documentation>Formula(s) or procedure used by this operation method. This may be a reference to a publication. Note that the operation method may not be analytic, in which case this attribute references or contains the procedure, not an analytic formula.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="sourceDimensions" type="gco:Integer_PropertyType">
            <annotation>
              <documentation>Number of dimensions in the source CRS of this operation method.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="targetDimensions" type="gco:Integer_PropertyType">
            <annotation>
              <documentation>Number of dimensions in the target CRS of this operation method.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CC_OperationMethod_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CC_OperationMethod"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CC_OperationParameter" substitutionGroup="rbc:AbstractCC_GeneralOperationParameter" type="rbc:CC_OperationParameter_Type">
    <annotation>
      <documentation>The definition of a parameter used by a coordinate operation method. Most parameter values are numeric, but other types of parameter values are possible.</documentation>
    </annotation>
  </element>
  <complexType name="CC_OperationParameter_Type">
    <complexContent>
      <extension base="rbc:AbstractCC_GeneralOperationParameter_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CC_OperationParameter_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CC_OperationParameter"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CC_OperationParameterGroup" substitutionGroup="rbc:AbstractCC_GeneralOperationParameter" type="rbc:CC_OperationParameterGroup_Type">
    <annotation>
      <documentation>The definition of a group of related parameters used by a coordinate operation method.</documentation>
    </annotation>
  </element>
  <complexType name="CC_OperationParameterGroup_Type">
    <complexContent>
      <extension base="rbc:AbstractCC_GeneralOperationParameter_Type">
        <sequence>
          <element minOccurs="0" name="maximumOccurs" type="gco:Integer_PropertyType">
            <annotation>
              <documentation>The maximum number of times that values for this parameter group or parameter can be included. If this attribute is omitted, the maximum number is one.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="2" name="parameter" type="rbc:AbstractCC_GeneralOperationParameter_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CC_OperationParameterGroup_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CC_OperationParameterGroup"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CC_OperationParameterValue" substitutionGroup="rbc:AbstractCC_GeneralParameterValue" type="rbc:CC_OperationParameterValue_Type">
    <annotation>
      <documentation>A parameter value, ordered sequence of values, or reference to a file of parameter values.</documentation>
    </annotation>
  </element>
  <complexType name="CC_OperationParameterValue_Type">
    <complexContent>
      <extension base="rbc:AbstractCC_GeneralParameterValue_Type">
        <sequence>
          <element name="parameterValue" type="rbc:CC_ParameterValue_PropertyType">
            <annotation>
              <documentation>Value of the coordinate operation parameter.</documentation>
            </annotation>
          </element>
          <element name="parameter" type="rbc:CC_OperationParameter_PropertyType">
            <annotation>
              <documentation>Association to the operation parameter that this is a value of.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CC_OperationParameterValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CC_OperationParameterValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CC_ParameterValue" substitutionGroup="gco:AbstractObject" type="rbc:CC_ParameterValue_Type">
    <annotation>
      <documentation>Value of the coordinate operation parameter.</documentation>
    </annotation>
  </element>
  <complexType name="CC_ParameterValue_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <choice>
          <element name="value" type="gco:Measure_PropertyType">
            <annotation>
              <documentation>Numeric value of the coordinate operation parameter with its associated unit.</documentation>
            </annotation>
          </element>
          <element name="stringValue" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>String value of a coordinate operation parameter. A string value does not have an associated unit.</documentation>
            </annotation>
          </element>
          <element name="integerValue" type="gco:Integer_PropertyType">
            <annotation>
              <documentation>Positive integer value of a coordinate operation parameter, usually used for a count. An integer value does not have an associated unit.</documentation>
            </annotation>
          </element>
          <element name="booleanValue" type="gco:Boolean_PropertyType">
            <annotation>
              <documentation>Boolean value of a coordinate operation parameter. A Boolean value does not have an associated unit.</documentation>
            </annotation>
          </element>
          <element name="valueList">
            <annotation>
              <documentation>Ordered collection, i.e. sequence, of two or more numeric values of a coordinate operation parameter list, where each value has the same associated unit.</documentation>
            </annotation>
          </element>
          <element name="integerValueList">
            <annotation>
              <documentation>Ordered collection, i.e. sequence, of two or more integer values of a coordinate operation parameter list, usually used for counts. These integer values do not have an associated unit.</documentation>
            </annotation>
          </element>
          <element name="valueFile" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Reference to a file or a part of a file containing one or more parameter values. When referencing a part of a file, that file shall contain multiple identified parts, such as an XML encoded document. Furthermore, the referenced file or part of a file can reference another part of the same or different files, as allowed in XML documents.</documentation>
            </annotation>
          </element>
          <element name="valueFileCitation" type="mcc:Abstract_Citation_PropertyType">
            <annotation>
              <documentation>Citation for a reference to a file or a part of a file containing one or more parameter values. When referencing a part of a file, that file shall contain multiple identified parts, such as an XML encoded document. Furthermore, the referenced file or part of a file can reference another part of the same or different files, as allowed in XML documents.</documentation>
            </annotation>
          </element>
        </choice>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CC_ParameterValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CC_ParameterValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CC_ParameterValueGroup" substitutionGroup="rbc:AbstractCC_GeneralParameterValue" type="rbc:CC_ParameterValueGroup_Type">
    <annotation>
      <documentation>A group of related parameter values. The same group can be repeated more than once in a coordinate operation or higher level ParameterValueGroup, if those instances contain different values of one or more ParameterValues which suitably distinquish among those groups.</documentation>
    </annotation>
  </element>
  <complexType name="CC_ParameterValueGroup_Type">
    <complexContent>
      <extension base="rbc:AbstractCC_GeneralParameterValue_Type">
        <sequence>
          <element name="group" type="rbc:CC_OperationParameterGroup_PropertyType">
            <annotation>
              <documentation>Association to the operation parameter group for which this element provides parameter values.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="2" name="parameterValue" type="rbc:AbstractCC_GeneralParameterValue_PropertyType">
            <annotation>
              <documentation>Non-navigable association from a General Parameter Value that is included in this group.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CC_ParameterValueGroup_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CC_ParameterValueGroup"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CC_PassThroughOperation" substitutionGroup="rbc:CC_CoordinateOperation" type="rbc:CC_PassThroughOperation_Type">
    <annotation>
      <documentation>A pass-through coordinate operation specifies that a subset of a coordinate tuple is subject to a specific coordinate operation.</documentation>
    </annotation>
  </element>
  <complexType name="CC_PassThroughOperation_Type">
    <complexContent>
      <extension base="rbc:CC_CoordinateOperation_Type">
        <sequence>
          <element name="modifiedCoordinate">
            <annotation>
              <documentation>Ordered sequence of positive integers defining the positions in a coordinate tuple of the coordinates affected by this pass-through operation.</documentation>
            </annotation>
          </element>
          <element name="coordOperation" type="rbc:CC_CoordinateOperation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CC_PassThroughOperation_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CC_PassThroughOperation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractCC_SingleOperation" substitutionGroup="rbc:CC_CoordinateOperation" type="rbc:AbstractCC_SingleOperation_Type">
    <annotation>
      <documentation>A single (not concatenated) coordinate operation.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractCC_SingleOperation_Type">
    <complexContent>
      <extension base="rbc:CC_CoordinateOperation_Type">
        <sequence>
          <element name="method" type="rbc:CC_OperationMethod_PropertyType">
            <annotation>
              <documentation>Association to the operation method used by this operation.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="parameterValue" type="rbc:AbstractCC_GeneralParameterValue_PropertyType">
            <annotation>
              <documentation>Unordered list of composition associations to the set of parameter values used by this operation.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractCC_SingleOperation_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:AbstractCC_SingleOperation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CC_Transformation" substitutionGroup="rbc:AbstractCC_SingleOperation" type="rbc:CC_Transformation_Type">
    <annotation>
      <documentation>A coordinate operation through which the input and output coordinates are referenced to different datums. The parameters of a coordinate transformation are empirically derived from data containing the coordinates of a series of points in both coordinate reference systems. This computational process is usually "over-determined", allowing derivation of error (or accuracy) estimates for the coodinate transformation. Also, the stochastic nature of the parameters may result in multiple (different) versions of the same coordinate transformations between the same source and target CRSs.</documentation>
    </annotation>
  </element>
  <complexType name="CC_Transformation_Type">
    <complexContent>
      <extension base="rbc:AbstractCC_SingleOperation_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CC_Transformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CC_Transformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
