standards.iso.org/19111/rbc/1.0/2014-12-25/coordinateReferenceSystems.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://standards.iso.org/19139/gco/1.0/2014-12-25" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:mcc="http://standards.iso.org/19115/-3/mcc/1.0/2014-12-25" xmlns:rbc="http://standards.iso.org/19111/rbc/1.0/2014-12-25" xmlns:rce="http://standards.iso.org/19111/rce/1.0/2014-12-25" elementFormDefault="qualified" targetNamespace="http://standards.iso.org/19111/rbc/1.0/2014-12-25" version="1.0">
  <annotation>
    <documentation>The Coordinate Reference System package describes the data elements, relationships and associated metadata required for spatial referencing by coordinates.</documentation>
  </annotation>
  <include schemaLocation="coordinateOperations.xsd"/>
  <include schemaLocation="coordinateSystems.xsd"/>
  <include schemaLocation="datums.xsd"/>
  <include schemaLocation="rbc.xsd"/>
  <include schemaLocation="temporalReferenceSystems.xsd"/>
  <import namespace="http://standards.iso.org/19139/gco/1.0/2014-12-25" schemaLocation="../../../../19139/gco/1.0/2014-12-25/gco.xsd"/>
  <import namespace="http://standards.iso.org/19115/-3/mcc/1.0/2014-12-25" schemaLocation="../../../../19115/-3/mcc/1.0/2014-12-25/mcc.xsd"/>
  <import namespace="http://standards.iso.org/19111/rce/1.0/2014-12-25" schemaLocation="../../../../19111/rce/1.0/2014-12-25/rce.xsd"/>
  <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19136_Schemas/gml.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractSC_CRS" substitutionGroup="rce:Abstract_CoordinateReferenceSystem" type="rbc:AbstractSC_CRS_Type">
    <annotation>
      <documentation>Coordinate reference system which is usually single but may be compound.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractSC_CRS_Type">
    <complexContent>
      <extension base="rce:Abstract_CoordinateReferenceSystem_Type">
        <sequence>
          <element minOccurs="0" name="domainOfValidity" type="mcc:Abstract_Extent_PropertyType">
            <annotation>
              <documentation>Area or region in which this CRS object is valid.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="scope" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description of usage, or limitations of usage, for which this CRS is valid. If unknown, enter "not known".</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="coordOperationFrom" type="rbc:CC_CoordinateOperation_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="coordOperationTo" type="rbc:CC_CoordinateOperation_PropertyType">
            <annotation>
              <documentation>Not-navigable associtation from a Coordinate Operation that uses ths CRS as its targetCRS.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractSC_CRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:AbstractSC_CRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SC_CompoundCRS" substitutionGroup="gml:AbstractCRS" type="rbc:SC_CompoundCRS_Type">
    <annotation>
      <documentation>A coordinate reference system describing the position of points through two or more independent single coordinate reference systems. Note: two coordinate reference systems are independent of each other if coordinate values in one cannot be converted or transformed into coordinate values in the other.</documentation>
    </annotation>
  </element>
  <complexType name="SC_CompoundCRS_Type">
    <complexContent>
      <extension base="gml:AbstractCRSType">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="2" name="componentReferenceSystem" type="rbc:AbstractSC_SingleCRS_PropertyType">
            <annotation>
              <documentation>Ordered sequence of associations to the component coordinate reference systems included in this compound coordinate reference system.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SC_CompoundCRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:SC_CompoundCRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SC_DerivedCRS" substitutionGroup="rbc:AbstractSC_GeneralDerivedCRS" type="rbc:SC_DerivedCRS_Type">
    <annotation>
      <documentation>A single coordinate reference system that is defined by its coordinate conversion from another single coordinate reference system known as the base CRS. The base CRS cannot be a projected coordinate reference system.</documentation>
    </annotation>
  </element>
  <complexType name="SC_DerivedCRS_Type">
    <complexContent>
      <extension base="rbc:AbstractSC_GeneralDerivedCRS_Type">
        <sequence>
          <element name="derivedCRSType" type="rbc:SC_DerivedCRSType_PropertyType">
            <annotation>
              <documentation>Type of this derived coordinate reference system.</documentation>
            </annotation>
          </element>
          <element name="baseCRS" type="rbc:AbstractSC_SingleCRS_PropertyType">
            <annotation>
              <documentation>Association to the base coordinate reference system used by this derived CRS.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SC_DerivedCRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:SC_DerivedCRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SC_DerivedCRSType" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type">
    <annotation>
      <documentation>The type of the derived CRS, according to the classification of principal CRS types.</documentation>
    </annotation>
  </element>
  <complexType name="SC_DerivedCRSType_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:SC_DerivedCRSType"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SC_EngineeringCRS" substitutionGroup="rbc:AbstractSC_SingleCRS" type="rbc:SC_EngineeringCRS_Type">
    <annotation>
      <documentation>A contextually local coordinate reference system which can be divided into two broad categories: - earth-fixed systems applied to engineering activities on or near the surface of the earth; - CRSs on moving platforms such as road vehicles, vessels, aircraft or spacecraft.</documentation>
    </annotation>
  </element>
  <complexType name="SC_EngineeringCRS_Type">
    <complexContent>
      <extension base="rbc:AbstractSC_SingleCRS_Type">
        <sequence>
          <element name="coordinateSystem" type="rbc:CS_EngineeringCS_PropertyType"/>
          <element name="datum" type="rbc:CD_EngineeringDatum_PropertyType">
            <annotation>
              <documentation>Association to the engineering datum used by this engineering coordinate reference system.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SC_EngineeringCRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:SC_EngineeringCRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractSC_GeneralDerivedCRS" substitutionGroup="rbc:AbstractSC_SingleCRS" type="rbc:AbstractSC_GeneralDerivedCRS_Type">
    <annotation>
      <documentation>A coordinate reference system that is defined by its coordinate conversion from another coordinate reference system.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractSC_GeneralDerivedCRS_Type">
    <complexContent>
      <extension base="rbc:AbstractSC_SingleCRS_Type">
        <sequence>
          <element name="conversion" type="rbc:CC_Conversion_PropertyType">
            <annotation>
              <documentation>Association to the coordinate conversion used to define this derived coordinate reference system.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractSC_GeneralDerivedCRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:AbstractSC_GeneralDerivedCRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SC_GeodeticCRS" substitutionGroup="rbc:AbstractSC_SingleCRS" type="rbc:SC_GeodeticCRS_Type">
    <annotation>
      <documentation>A coordinate reference system associated with a geodetic datum.</documentation>
    </annotation>
  </element>
  <complexType name="SC_GeodeticCRS_Type">
    <complexContent>
      <extension base="rbc:AbstractSC_SingleCRS_Type">
        <sequence>
          <element name="datum" type="rbc:CD_GeodeticDatum_PropertyType">
            <annotation>
              <documentation>Association to the geodetic datum used by this geodetic coordinate reference system.</documentation>
            </annotation>
          </element>
          <element name="coordinateSystem" type="rbc:CS_GeodeticCS_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SC_GeodeticCRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:SC_GeodeticCRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SC_ImageCRS" substitutionGroup="rbc:AbstractSC_SingleCRS" type="rbc:SC_ImageCRS_Type">
    <annotation>
      <documentation>A coordinate reference system associated with an image datum. Image coordinate reference systems are treated as a separate sub-type because the definition of the associated image datum contains two attributes not relevant to other engineering datums.</documentation>
    </annotation>
  </element>
  <complexType name="SC_ImageCRS_Type">
    <complexContent>
      <extension base="rbc:AbstractSC_SingleCRS_Type">
        <sequence>
          <element name="coordinateSystem" type="rbc:CS_ImageCS_PropertyType"/>
          <element name="datum" type="rbc:CD_ImageDatum_PropertyType">
            <annotation>
              <documentation>Association to the image datum used by this image coordinate reference system.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SC_ImageCRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:SC_ImageCRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SC_ProjectedCRS" substitutionGroup="rbc:AbstractSC_GeneralDerivedCRS" type="rbc:SC_ProjectedCRS_Type">
    <annotation>
      <documentation>A derived coordinate reference system which has a geodetic coordinate reference system as its base CRS and is converted using a map projection.</documentation>
    </annotation>
  </element>
  <complexType name="SC_ProjectedCRS_Type">
    <complexContent>
      <extension base="rbc:AbstractSC_GeneralDerivedCRS_Type">
        <sequence>
          <element name="baseCRS" type="rbc:SC_GeodeticCRS_PropertyType">
            <annotation>
              <documentation>Association to the base geodetic coordinate reference system used by this projected CRS.</documentation>
            </annotation>
          </element>
          <element name="coordinateSystem" type="rbc:CS_CartesianCS_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SC_ProjectedCRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:SC_ProjectedCRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractSC_SingleCRS" substitutionGroup="gml:AbstractCRS" type="rbc:AbstractSC_SingleCRS_Type">
    <annotation>
      <documentation>Coordinate reference system consisting of one Coordinate System and one Datum (as opposed to a Compound CRS). Note: In ISO 19111:2003, this class was called SC_CoordinateReferenceSystem.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractSC_SingleCRS_Type">
    <complexContent>
      <extension base="gml:AbstractCRSType">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractSC_SingleCRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:AbstractSC_SingleCRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="SC_VerticalCRS" substitutionGroup="rbc:AbstractSC_SingleCRS" type="rbc:SC_VerticalCRS_Type">
    <annotation>
      <documentation>A 1D coordinate reference system used for recording heights or depths. Vertical CRSs make use of the direction of gravity to define the concept of height or depth, but the relationship with gravity may not be straightforward. By implication, ellipsoidal heights (h) cannot be captured in a vertical coordinate reference system. Ellipsoidal heights cannot exist independently, but only as inseparable part of a 3D coordinate tuple defined in a geodetic 3D coordinate reference system.</documentation>
    </annotation>
  </element>
  <complexType name="SC_VerticalCRS_Type">
    <complexContent>
      <extension base="rbc:AbstractSC_SingleCRS_Type">
        <sequence>
          <element name="datum" type="rbc:CD_VerticalDatum_PropertyType">
            <annotation>
              <documentation>Association to the vertical datum used by this vertical coordinate reference system.</documentation>
            </annotation>
          </element>
          <element name="coordinateSystem" type="rbc:CS_VerticalCS_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="SC_VerticalCRS_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:SC_VerticalCRS"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
