standards.iso.org/19111/rbc/1.0/2014-12-25/datums.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mcc="http://www.isotc211.org/namespace/mcc/1.0/2014-12-25" xmlns:rbc="http://www.isotc211.org/namespace/rbc/1.0/2014-12-25" xmlns:rce="http://www.isotc211.org/namespace/rce/1.0/2014-12-25" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/namespace/rbc/1.0/2014-12-25" version="1.0">
  <annotation>
    <documentation>The Datum package contains the information required to relate the position of the origin, the scale and the orientation of a coordinate system to the Earth or another physical or virtual object.</documentation>
  </annotation>
  <include schemaLocation="rbc.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/namespace/mcc/1.0/2014-12-25" schemaLocation="../../../ISO19115-3/mcc/1.0/mcc.xsd"/>
  <import namespace="http://www.isotc211.org/namespace/rce/1.0/2014-12-25" schemaLocation="../../../ISO19111/rce/1.0/rce.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractCD_Datum" substitutionGroup="rce:Abstract_CRS_Datum" type="rbc:AbstractCD_Datum_Type">
    <annotation>
      <documentation>A datum specifies the relationship of a coordinate system to an object, thus creating a coordinate reference system. For geodetic and vertical coordinate reference systems the datum relates the coordinate system to the earth. With other types of coordinate reference system the datum may relate the coordinate system to another physical or virtual object. A datum uses a parameter or set of parameters that determine the location of the origin of the coordinate reference system. Each datum subtype can be associated with only specific types of coordinate reference systems.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractCD_Datum_Type">
    <complexContent>
      <extension base="rce:Abstract_CRS_Datum_Type">
        <sequence>
          <element minOccurs="0" name="anchorDefinition" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>The datum definition - a description, possibly including coordinates of an identified point or points, of the relationship used to anchor the coordinate system to the Earth or alternate object.

- For a geodetic datum, this anchor may be a point known as the fundamental point, which is traditionally the point where the relationship between geoid and ellipsoid is defined, together with a direction from that point. In other cases, the anchor may consist of a number of points. In those cases, the parameters defining the geoid/ellipsoid relationship have then been averaged for these points, and the coordinates of the points adopted as the datum definition.

- For an engineering datum, the anchor may be an identified physical point with the orientation defined relative to the object.

- For an image datum, the anchor is usually either the centre of the image or the corner of the image. The coordinate system orientation is defined through the CS_AxisDirection class.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="realizationEpoch" type="gco:Date_PropertyType">
            <annotation>
              <documentation>The time after which this datum definition is valid. This time may be precise (e.g. 1997.0 for IRTF97) or merely a year (e.g. 1986 for NAD83(86)). In the latter case, the epoch usually refers to the year in which a major recalculation of the geodetic control network, underlying the datum, was executed or initiated. An old datum may remain valid after a new datum is defined. Alternatively, a datum may be replaced by a later datum, in which case the realization epoch for the new datum defines the upper limit for the validity of the replaced datum.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="domainOfValidity" type="mcc:Abstract_Extent_PropertyType">
            <annotation>
              <documentation>Area or region or timeframe in which this datum is valid.</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" name="scope" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Description of usage, or limitations of usage, for which this datum is valid. If unknown, enter "not known".</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractCD_Datum_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:AbstractCD_Datum"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CD_Ellipsoid" substitutionGroup="rce:AbstractIO_IdentifiedObjectBase" type="rbc:CD_Ellipsoid_Type">
    <annotation>
      <documentation>An ellipsoid is a geometric figure that can be used to describe the approximate shape of the earth. In mathematical terms, it is a surface formed by the rotation of an ellipse about its minor axis.</documentation>
    </annotation>
  </element>
  <complexType name="CD_Ellipsoid_Type">
    <complexContent>
      <extension base="rce:AbstractIO_IdentifiedObjectBase_Type">
        <sequence>
          <element name="semiMajorAxis">
            <annotation>
              <documentation>Length of the semi-major axis of the ellipsoid.</documentation>
            </annotation>
          </element>
          <element name="secondDefiningParameter" type="rbc:CD_SecondDefiningParameter_PropertyType">
            <annotation>
              <documentation>Definition of the second parameter that describes the shape of this ellipsoid.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CD_Ellipsoid_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CD_Ellipsoid"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CD_EngineeringDatum" substitutionGroup="rbc:AbstractCD_Datum" type="rbc:CD_EngineeringDatum_Type">
    <annotation>
      <documentation>An engineering datum defines the origin of an engineering coordinate reference system, and is used in a region around that origin. This origin can be fixed with respect to the earth (such as a defined point at a construction site), or be a defined point on a moving vehicle (such as on a ship or satellite).</documentation>
    </annotation>
  </element>
  <complexType name="CD_EngineeringDatum_Type">
    <complexContent>
      <extension base="rbc:AbstractCD_Datum_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CD_EngineeringDatum_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CD_EngineeringDatum"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CD_GeodeticDatum" substitutionGroup="rbc:AbstractCD_Datum" type="rbc:CD_GeodeticDatum_Type">
    <annotation>
      <documentation>A geodetic datum defines the location and precise orientation in 3-dimensional space of a defined ellipsoid (or sphere) that approximates the shape of the earth, or of a Cartesian coordinate system centered in this ellipsoid (or sphere).</documentation>
    </annotation>
  </element>
  <complexType name="CD_GeodeticDatum_Type">
    <complexContent>
      <extension base="rbc:AbstractCD_Datum_Type">
        <sequence>
          <element name="ellipsoid" type="rbc:CD_Ellipsoid_PropertyType">
            <annotation>
              <documentation>Association to the ellipsoid used by this geodetic datum.</documentation>
            </annotation>
          </element>
          <element name="primeMeridian" type="rbc:CD_PrimeMeridian_PropertyType">
            <annotation>
              <documentation>Association to the prime meridian used by this geodetic datum.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CD_GeodeticDatum_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CD_GeodeticDatum"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CD_ImageDatum" substitutionGroup="rbc:AbstractCD_Datum" type="rbc:CD_ImageDatum_Type">
    <annotation>
      <documentation>An image datum defines the origin of an image coordinate reference system, and is used in a local context only. For an image datum, the anchor is usually either the centre of the image or the corner of the image. 

Note: The image datum definition applies regardless of whether or not the image is georeferenced. Georeferencing is performed through a transformation of image CRS to geodetic or projected CRS. The transformation plays no part in the image datum definition.</documentation>
    </annotation>
  </element>
  <complexType name="CD_ImageDatum_Type">
    <complexContent>
      <extension base="rbc:AbstractCD_Datum_Type">
        <sequence>
          <element name="pixelinCell" type="rbc:CD_PixelinCell_PropertyType">
            <annotation>
              <documentation>Specification of the way the image grid is associated with the image data attributes.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CD_ImageDatum_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CD_ImageDatum"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CD_PixelinCell" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type">
    <annotation>
      <documentation>Specification of the way the image grid is associated with the image data attributes.</documentation>
    </annotation>
  </element>
  <complexType name="CD_PixelinCell_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CD_PixelinCell"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CD_PrimeMeridian" substitutionGroup="rce:AbstractIO_IdentifiedObjectBase" type="rbc:CD_PrimeMeridian_Type">
    <annotation>
      <documentation>A prime meridian defines the origin from which longitude values are determined. 

Note: Default value for prime meridian name is "Greenwich". When default applies, value for greenwichLongitude shall be 0 (degrees).</documentation>
    </annotation>
  </element>
  <complexType name="CD_PrimeMeridian_Type">
    <complexContent>
      <extension base="rce:AbstractIO_IdentifiedObjectBase_Type">
        <sequence>
          <element name="greenwichLongitude" type="gco:Angle_PropertyType">
            <annotation>
              <documentation>Longitude of the prime meridian measured from the Greenwich meridian, positive eastward.

Default value: 0 degrees.

Note: If the value of the prime meridian name is "Greenwich" then the value of greenwichLongitude shall be 0 degrees.</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CD_PrimeMeridian_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CD_PrimeMeridian"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CD_SecondDefiningParameter" substitutionGroup="gco:AbstractObject" type="rbc:CD_SecondDefiningParameter_Type">
    <annotation>
      <documentation>Definition of the second parameter that defines the shape of an ellipsoid. An ellipsoid requires two defining parameters: semi-major axis and inverse flattening or semi-major axis and semi-minor axis. When the reference body is a sphere rather than an ellipsoid, only a single defining parameter is required, namely the radius of the sphere; in that case, the semi-major axis "degenerates" into the radius of the sphere.</documentation>
    </annotation>
  </element>
  <complexType name="CD_SecondDefiningParameter_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <choice>
          <element name="inverseFlattening">
            <annotation>
              <documentation>Inverse flattening value of the ellipsoid.</documentation>
            </annotation>
          </element>
          <element name="semiMinorAxis">
            <annotation>
              <documentation>Length of the semi-minor axis of the ellipsoid.</documentation>
            </annotation>
          </element>
          <element name="isSphere" type="gco:Boolean_PropertyType">
            <annotation>
              <documentation>The ellipsoid is degenerate and is actually a sphere. The sphere is completely defined by the semi-major axis, which is the radius of the sphere. This attribute this has the value "true" if the figure is a sphere.</documentation>
            </annotation>
          </element>
        </choice>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CD_SecondDefiningParameter_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CD_SecondDefiningParameter"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CD_VerticalDatum" substitutionGroup="rbc:AbstractCD_Datum" type="rbc:CD_VerticalDatum_Type">
    <annotation>
      <documentation>A textual description and/or a set of parameters identifying a particular reference level surface used as a zero-height or zero-depth surface, including its position with respect to the Earth.</documentation>
    </annotation>
  </element>
  <complexType name="CD_VerticalDatum_Type">
    <complexContent>
      <extension base="rbc:AbstractCD_Datum_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CD_VerticalDatum_PropertyType">
    <sequence minOccurs="0">
      <element ref="rbc:CD_VerticalDatum"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
