schemas.isotc211.org/19107/-/sps/2.1.0/spatSchemas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema 
	xmlns:xs="http://www.w3.org/2001/XMLSchema"
	elementFormDefault="qualified"
	targetNamespace="https://schemas.isotc211.org/19107/-/sps/2.1"
	xmlns:sps="https://schemas.isotc211.org/19107/-/sps/2.1"
	xmlns:gml="http://www.opengis.net/gml/3.2" 
	xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2"
	version="2.1.0"
	>
	<xs:import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="../../../../19103/-/gco/1.2.0/gco.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="../../../../19103/-/gco/1.2.0/baseTypes.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:element name="Axis" type="sps:Axis_Type"/>
	<xs:complexType name="Axis_Type">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Cartesian" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<xs:complexType name="Cartesian_Type">
		<xs:complexContent>
			<xs:extension base="sps:SpatialAxis_Type">
				<xs:sequence>
					<xs:element name="x" minOccurs="1" maxOccurs="1"/>
					<xs:element name="y" minOccurs="1" maxOccurs="1"/>
					<xs:element name="z" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="EllipsoidalAxis" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<xs:complexType name="EllipsoidalAxis_Type">
		<xs:complexContent>
			<xs:extension base="sps:SpatialAxis_Type">
				<xs:sequence>
					<xs:element name="ellipsoidal height" minOccurs="1" maxOccurs="1"/>
					<xs:element name="geodetic latitude" minOccurs="1" maxOccurs="1"/>
					<xs:element name="geodetic longitude" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="ParameterAxis" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<xs:complexType name="ParameterAxis_Type">
		<xs:complexContent>
			<xs:extension base="sps:Axis_Type">
				<xs:sequence>
					<xs:element name="m" minOccurs="1" maxOccurs="1"/>
					<xs:element name="s" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="PolarAxis" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<xs:complexType name="PolarAxis_Type">
		<xs:complexContent>
			<xs:extension base="sps:SpatialAxis_Type">
				<xs:sequence>
					<xs:element name="rho" minOccurs="1" maxOccurs="1"/>
					<xs:element name="theta" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="SpatialAxis" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<xs:complexType name="SpatialAxis_Type">
		<xs:complexContent>
			<xs:extension base="sps:Axis_Type">
				<xs:sequence>
					<xs:element name="w" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
		<xs:element name="SphericalAxis" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<xs:complexType name="SphericalAxis_Type">
		<xs:complexContent>
			<xs:extension base="sps:SpatialAxis_Type">
				<xs:sequence>
					<xs:element name="bearing" minOccurs="1" maxOccurs="1"/>
					<xs:element name="radius" minOccurs="1" maxOccurs="1"/>
					<xs:element name="zenithAngle" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="TemporalAxis" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<xs:complexType name="TemporalAxis_Type">
		<xs:complexContent>
			<xs:extension base="sps:Axis_Type">
				<xs:sequence>
					<xs:element name="dateTime" minOccurs="1" maxOccurs="1"/>
					<xs:element name="t" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="VerticalAxis" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<xs:complexType name="VerticalAxis_Type">
		<xs:complexContent>
			<xs:extension base="sps:SpatialAxis_Type">
				<xs:sequence>
					<xs:element name="depth" minOccurs="1" maxOccurs="1"/>
					<xs:element name="H" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="Datum" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<xs:complexType name="Datum_Type">
		<xs:sequence>
			<xs:element name="metadata" type="sps:CD_Datum_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="metadata" type="sps:Datum_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="metadata" type="sps:Datum_PropertyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Vector" type="sps:Vector_Type"/>
	<xs:complexType name="Vector_Type">
		<xs:sequence>
			<xs:element name="origin" type="sps:DirectPosition_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="offsets" type="gco:Real_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="dimension" type="gco:Integer_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="coordinateSystem" type="sps:GeometricCoordinateSystem_PropertyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DirectedEdge" type="sps:DirectedEdge_Type"/>
	<xs:complexType name="DirectedEdge_Type">
		<xs:sequence>
			<xs:element name="orientation" type="gco:Integer_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="theEdge" type="sps:Edge_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Edge" type="sps:Edge_Type"/>
	<xs:complexType name="Edge_Type">
		<xs:sequence>
			<xs:element name="cost" type="gco:Number_PropertyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Graph" type="sps:Graph_Type"/>
	<xs:complexType name="Graph_Type">
		<xs:sequence>
			<xs:element name="edge" type="sps:Edge_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="node" type="sps:Node_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Node" type="sps:Node_Type"/>
	<xs:complexType name="Node_Type">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="Path" type="sps:Path_Type"/>
	<xs:complexType name="Path_Type">
		<xs:sequence>
			<xs:element name="part" type="sps:DirectedEdge_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NetLink" type="sps:NetLink_Type"/>
	<xs:complexType name="NetLink_Type">
		<xs:sequence>
			<xs:element name="costFrom" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="costTo" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="curve" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="to" type="sps:NetNode_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="from" type="sps:NetNode_PropertyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="NetNode" type="sps:NetNode_Type"/>
	<xs:complexType name="NetNode_Type">
		<xs:sequence>
			<xs:element name="point" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="net" type="sps:Network_PropertyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Network" type="sps:Network_Type"/>
	<xs:complexType name="Network_Type">
		<xs:sequence>
			<xs:element name="link" type="sps:NetLink_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="SplineCurveForm" type="sps:SplineCurveForm_Type"/>
	<xs:complexType name="SplineCurveForm_Type">
		<xs:annotation>
			<xs:documentation>This code list is used to indicate which sort of curve may be approximated by a particular B-spline. The potential values are:
				-- polylineform: a connected sequence of line segments represented by a 1 degree B-spline (a line string).
				-- circularArc: an arc of a circle or a complete circle.
				-- ellipticArc: an arc of an ellipse or a complete ellipse.
				-- parabolicArc: an arc of a finite length of a parabola.
				-- hyperbolicArc: an arc of a finite length of one branch of a hyperbola.</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="BSplineSurfaceForm" type="sps:BSplineSurfaceForm_Type"/>
	<xs:complexType name="BSplineSurfaceForm_Type">
		<xs:sequence>
			<xs:element name="conical" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="cylindrical" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="planar" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="spherical" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="toroidal" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="unspecified" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Orientation" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<xs:simpleType name="Orientation_Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="positive"/>
			<xs:enumeration value="negative"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
