ISO19115-3/cat/1.0/catalogues.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cat="http://www.isotc211.org/2005/cat/1.0/2013-06-24" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:lan="http://www.isotc211.org/2005/lan/1.0/2013-06-24" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/cat/1.0/2013-06-24" version="1.0">
  <annotation>
    <documentation>Handcrafted</documentation>
  </annotation>
  <include schemaLocation="cat.xsd"/>
  <!-- Changed schema location to address gml vs. gml/3.2 problem Ted Habermann 2013-12-26 -->
  <!--<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>-->
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  
  <import namespace="http://www.isotc211.org/2005/lan/1.0/2013-06-24" schemaLocation="../../lan/1.0/lan.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractCT_Catalogue" substitutionGroup="gco:AbstractObject" type="cat:AbstractCT_Catalogue_Type"/>
  <complexType abstract="true" name="AbstractCT_Catalogue_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" name="scope" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="fieldOfApplication" type="gco:CharacterString_PropertyType"/>
          <element name="versionNumber" type="gco:CharacterString_PropertyType"/>
          <element name="versionDate" type="gco:Date_PropertyType"/>
          <element minOccurs="0" name="language" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="characterSet" type="lan:MD_CharacterSetCode_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="locale" type="lan:PT_Locale_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractCT_Catalogue_PropertyType">
    <sequence minOccurs="0">
      <element ref="cat:AbstractCT_Catalogue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="AbstractCT_Item" substitutionGroup="gco:AbstractObject" type="cat:AbstractCT_Item_Type"/>
  <complexType abstract="true" name="AbstractCT_Item_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="identifier" type="gco:GenericName_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="name" type="gco:GenericName_PropertyType"/>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="description" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractCT_Item_PropertyType">
    <sequence minOccurs="0">
      <element ref="cat:AbstractCT_Item"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
