ISO19115-3/cat/1.0/uomItem.xsd.bak

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cat="http://www.isotc211.org/2005/cat/1.0/2013-06-24" xmlns:gco="http://www.isotc211.org/2005/gco" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/cat/1.0/2013-06-24" version="1.0">
  <include schemaLocation="cat.xsd"/>
  <!-- Changed schema location to address gml vs. gml/3.2 problem Ted Habermann 2013-12-26 -->
  <!--<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://www.isotc211.org/2005/gco/gco.xsd"/>-->
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="CT_UnitOfMeasure" substitutionGroup="cat:AbstractCT_Item" type="cat:CT_UnitOfMeasure_Type"/>
  <complexType name="CT_UnitOfMeasure_Type">
    <complexContent>
      <extension base="cat:AbstractCT_Item_Type">
        <sequence>
          <element minOccurs="0" name="quantityType" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="uomSymbol" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_UnitOfMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="cat:CT_UnitOfMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_UomCatalogue" substitutionGroup="cat:AbstractCT_Catalogue" type="cat:CT_UomCatalogue_Type"/>
  <complexType name="CT_UomCatalogue_Type">
    <complexContent>
      <extension base="cat:AbstractCT_Catalogue_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_UomCatalogue_PropertyType">
    <sequence minOccurs="0">
      <element ref="cat:CT_UomCatalogue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
