schemas.isotc211.orgWork/19135/-2/pre/1.2.0/abstract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2"
  xmlns:pre="https://schemas.isotc211.org/19135/-2/pre/1.2"
    elementFormDefault="qualified"
  targetNamespace="https://schemas.isotc211.org/19135/-2/pre/1.2"
    version="1.2.0"
   >
  <import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="https://schemas.isotc211.org/19103/-/gco/1.2.0/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="Abstract_Register" substitutionGroup="gco:AbstractObject"
    type="pre:Abstract_Register_Type"/>
  <complexType abstract="true" name="Abstract_Register_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_Register_PropertyType">
    <sequence minOccurs="0">
      <element ref="pre:Abstract_Register"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_RegisterItem" substitutionGroup="gco:AbstractObject"
    type="pre:Abstract_RegisterItem_Type"/>
  <complexType abstract="true" name="Abstract_RegisterItem_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_RegisterItem_PropertyType">
    <sequence minOccurs="0">
      <element ref="pre:Abstract_RegisterItem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
