schemas.isotc211.org/19123/-1/cis/gridCov.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:gmlcov="http://www.opengis.net/gmlcov/1.0"
	xmlns:rbc="https://schemas.isotc211.org/19111/-/rbc/3.1"
	xmlns:lan="https://schemas.isotc211.org/19115/-1/lan/1.3"
	xmlns:mcc="https://schemas.isotc211.org/19115/-1/mcc/1.3"
	xmlns:gmw="https://schemas.isotc211.org/19136/-1/gmw/1.1"
	xmlns:mrl="https://schemas.isotc211.org/19115/-1/mrl/1.3"
	xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2"
	xmlns:gcx="https://schemas.isotc211.org/19103/-/gcx/1.2"
	xmlns:dqc="https://schemas.isotc211.org/19157/-/dqc/1.2"
	xmlns:gml="http://www.opengis.net/gml/3.2"
	targetNamespace="http://www.opengis.net/gmlcov/1.0"
	elementFormDefault="qualified"
	version="1.0.0">
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19111/-/rbc/3.1" schemaLocation="../../../../19111/-/rbc/3.1.0/rbc.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19111/-/rbc/3.1" schemaLocation="../../../../19111/-/rbc/3.1.0/rbcStubs.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19103/-/gcx/1.2" schemaLocation="../../../../19103/-/gcx/1.2.0/gcx.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="../../../../19103/-/gco/1.2.0/gco.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19157/-/dqc/1.2" schemaLocation="../../../../19157/-/dqc/1.2.0/dqc.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19115/-1/lan/1.3" schemaLocation="../../../../19115/-1/lan/1.3.0/lan.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19115/-1/mcc/1.3" schemaLocation="../../../../19115/-1/mcc/1.3.0/mcc.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19115/-1/mrl/1.3" schemaLocation="../../../../19115/-1/mrl/1.3.0/mrl.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<xs:include schemaLocation="multiPointCov.xsd"/>
	<!-- ========================================== -->
	<xs:complexType name="CV_AlgorithmicAxis_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_AlgorithmicAxis"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_AlgorithmicAxis" type="gmlcov:CV_AlgorithmicAxis_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_AlgorithmicAxis_Type" abstract="true">
		<xs:sequence>
			<xs:element name="axisLabels" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="crs" type="rbc:RS_CRS_PropertyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_Axis_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Axis"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Axis" type="gmlcov:CV_Axis_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Axis_Type">
		<xs:sequence>
			<xs:element name="axisLabels" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="crs" type="rbc:RS_CRS_PropertyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_DisplacementAxisNest_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_DisplacementAxisNest"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_DisplacementAxisNest" type="gmlcov:CV_DisplacementAxisNest_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_DisplacementAxisNest_Type">
		<xs:sequence>
			<xs:element name="axisLabels" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="crs" type="rbc:RS_CRS_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="directPositions" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_GeneralGridCoverageType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_GeneralGridCoverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_GeneralGridCoverage" substitutionGroup="gmlcov:CV_MultiPointCoverage" type="gmlcov:CV_GeneralGridCoverage_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_GeneralGridCoverage_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_MultiPointCoverage_Type">
				<xs:sequence>
					<xs:element name="grid" type="CV_Grid_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_Grid_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Grid"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Grid" type="gmlcov:CV_Grid_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Grid_Type">
		<xs:sequence>
			<xs:element name="algorithmicAxis" type="gmlcov:CV_AlgorithmicAxis_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="axis" type="gmlcov:CV_Axis_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="displacementAxisNest" type="gmlcov:CV_DisplacementAxisNest_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_GridMatrix_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_GridMatrix"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_GridMatrix" substitutionGroup="gmlcov:CV_GeneralGridCoverage" type="gmlcov:CV_GridMatrix_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_GridMatrix_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_GeneralGridCoverage_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_IndexAxis_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_IndexAxis"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_IndexAxis" substitutionGroup="gmlcov:CV_Axis" type="gmlcov:CV_IndexAxis_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_IndexAxis_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Axis_Type">
				<xs:sequence>
					<xs:element name="lowerBound" type="gco:Integer_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="upperBound" type="gco:Integer_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_IrregularAxis_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_IrregularAxis"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_IrregularAxis" substitutionGroup="gmlcov:CV_Axis" type="gmlcov:CV_IrregularAxis_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_IrregularAxis_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Axis_Type">
				<xs:sequence>
					<xs:element name="directPositions" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_RectifiedGridCoverage">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_RectifiedGridCoverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_RectifiedGridCoverage" type="gmlcov:CV_RectifiedGridCoverage_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_RectifiedGridCoverage_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_GeneralGridCoverage_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_ReferenceableGridCoverage">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_ReferenceableGridCoverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_ReferenceableGridCoverage" substitutionGroup="gmlcov:CV_GeneralGridCoverage" type="gmlcov:CV_ReferenceableGridCoverage_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_ReferenceableGridCoverage_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_GeneralGridCoverage_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_RegularAxis">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_RegularAxis"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_RegularAxis" substitutionGroup="gmlcov:CV_Axis" type="gmlcov:CV_RegularAxis_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_RegularAxis_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Axis_Type">
				<xs:sequence>
					<xs:element name="lowerBound" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="resolution" type="gco:Record_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="upperBound" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
</xs:schema>
