schemas.isotc211.org/19123/-1/cis/2.0.0/cov.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema
	xmlns:xs="http://www.w3.org/2001/XMLSchema" 
	xmlns:gmlcov="http://www.opengis.net/gmlcov/1.0"
	xmlns:rbc="https://schemas.isotc211.org/19111/-/rbc/3.1"
	xmlns:lan="https://schemas.isotc211.org/19115/-1/lan/1.3"
	xmlns:gex="https://schemas.isotc211.org/19115/-1/gex/1.3"
	xmlns:mcc="https://schemas.isotc211.org/19115/-1/mcc/1.3"
	xmlns:gmw="https://schemas.isotc211.org/19136/-1/gmw/1.1"
	xmlns:mrl="https://schemas.isotc211.org/19115/-1/mrl/1.3"
	xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2"
	xmlns:gcx="https://schemas.isotc211.org/19103/-/gcx/1.2"
	xmlns:dqc="https://schemas.isotc211.org/19157/-/dqc/1.2"
	xmlns:gml="http://www.opengis.net/gml/3.2"
	targetNamespace="http://www.opengis.net/gmlcov/1.0"
	elementFormDefault="qualified"
	version="1.0.0">
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19111/-/rbc/3.1" schemaLocation="../../../../19111/-/rbc/3.1.0/rbc.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19111/-/rbc/3.1" schemaLocation="../../../../19111/-/rbc/3.1.0/rbcStubs.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19103/-/gcx/1.2" schemaLocation="../../../../19103/-/gcx/1.2.0/gcx.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="../../../../19103/-/gco/1.2.0/gco.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19157/-/dqc/1.2" schemaLocation="../../../../19157/-/dqc/1.2.0/dqc.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19115/-1/lan/1.3" schemaLocation="../../../../19115/-1/lan/1.3.0/lan.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19115/-1/gex/1.3" schemaLocation="../../../../19115/-1/gex/1.3.0/gex.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19115/-1/mcc/1.3" schemaLocation="../../../../19115/-1/mcc/1.3.0/mcc.xsd"/>
	<xs:import namespace="https://schemas.isotc211.org/19115/-1/mrl/1.3" schemaLocation="../../../../19115/-1/mrl/1.3.0/mrl.xsd"/>
	<xs:import namespace="http://www.w3.org/XML/1998/namespace" schemaLocation="http://www.w3.org/2001/xml.xsd"/>
	<!-- ========================================== -->
	<!-- +++++++++++++++ START Figure 2 +++++++++++++++++ -->
	<!-- ========================================== -->
	<xs:complexType name="IndexCRS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:IndexCRS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="IndexCRS" substitutionGroup="rbc:EngineeringCRS" type="gmlcov:IndexCRS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="IndexCRS_Type">
		<xs:complexContent>
			<xs:extension base="rbc:EngineeringCRS_Type">
				<xs:sequence>
					<xs:element name="IndexCS" type="gmlcov:IndexCSPropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="IndexDatum" type="gmlcov:IndexDatum_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="ImageCRS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:ImageCRS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="ImageCRS" substitutionGroup="gmlcov:IndexCRS" type="gmlcov:ImageCRS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="ImageCRS_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:IndexCRS_Type">
				<xs:sequence>
					<xs:element name="ImageCS" type="gmlcov:ImageCS_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="ImageDatum" type="gmlcov:ImageDatum_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="IndexDatum_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:IndexDatum"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="IndexDatum" substitutionGroup="rbc:EngineeringDatum" type="gmlcov:IndexDatum_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="IndexDatum_Type">
		<xs:annotation>
			<xs:documentation>This is a dummy class to achieve structural coherence with 19111 CRS modelling. The datum of an Index CRS always is (0,...,0).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="rbc:EngineeringDatum_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="ImageDatum_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:ImageDatum"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="ImageDatum" substitutionGroup="gmlcov:IndexDatum" type="gmlcov:ImageDatum_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="ImageDatum_Type">
		<xs:annotation>
			<xs:documentation>This is a dummy class to achieve structural coherence with 19111 CRS modelling. The datum of an Image CRS always is (0.0).</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmlcov:IndexDatum_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="IndexCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_IndexCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="IndexCS" substitutionGroup="rbc:CartesianCS" type="gmlcov:IndexCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="IndexCS_Type">
		<xs:complexContent>
			<xs:extension base="rbc:CartesianCS_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="ImageCS_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:ImageCS"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="ImageCS"  substitutionGroup="gmlcov:IndexCS" type="gmlcov:ImageCS_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="ImageCS_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:IndexCS_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->	
	<!-- +++++++++++++++ END Figure 2 +++++++++++++++++ -->
	<!-- ========================================== -->
	<!-- +++++++++++++++ START Figure 3 +++++++++++++++++ -->
		<!-- ========================================== -->
	<!-- Refer to Figure D.1 for CV_Coverage
		<xs:complexType name="CV_Coverage_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Coverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	-->
	<!-- .......................................... -->
	<!--
	<xs:element name="CV_Coverage" type="gmlcov:CV_Coverage_Type"/>
	-->
	<!-- .......................................... -->
	<!--
	<xs:complexType name="CV_Coverage_Type" abstract="true">
		<xs:sequence>
			<xs:element name="id" type="gco:CharacterString_PropertyType"/>
			<xs:element name="evaluation" minOccurs="1" maxOccurs="unbounded" type="gmlcov:CV_ValueSet_PropertyType"/>
			<xs:element name="domainSet" type="gmlcov:CV_DomainSet_PropertyType"/>
			<xs:element name="nativeCRS" type="rbc:RS_CRS_PropertyType"/>
			<xs:element name="rangeType" type="gco:RecordType_PropertyType"/>
			<xs:element name="metadata" type="Any"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- ========================================== -->
	<xs:complexType name="CV_Partition_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Partition"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Partition" substitutionGroup="gmlcov:CV_Coverage" type="gmlcov:CV_Partition_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Partition_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Coverage_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_CoverageByPartitioning_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_CoverageByPartitioning"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_CoverageByPartitioning" substitutionGroup="gmlcov:CV_Coverage" type="gmlcov:CV_CoverageByPartitioning_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_CoverageByPartitioning_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Coverage_Type">
				<xs:sequence>
					<xs:element name="partition" type="gmlcov:CV_Partition_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- Refer to Figure D.1 for GeometryValuePair -->
	<!--
	<xs:complexType name="CV_GeometryValuePair_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_GeometryValuePair"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	-->
	<!-- .......................................... -->
	<!-- 
		<xs:element name="CV_GeometryValuePair" type="gmlcov:CV_GeometryValuePair_Type"/>
	-->
	<!-- .......................................... -->
	<!-- 
	<xs:complexType name="CV_GeometryValuePair_Type">
		<xs:sequence>
			<xs:element name="geometry" type="gml:GeometryPropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="value" type="gco:RecordType_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	-->
	<!-- ========================================== -->
	<xs:complexType name="CV_CoverageByDomainAndRange_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_CoverageByDomainAndRange"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_CoverageByDomainAndRange" substitutionGroup="gmlcov:CV_Coverage" type="gmlcov:CV_CoverageByDomainAndRange_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_CoverageByDomainAndRange_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Coverage_Type">
				<xs:sequence>
					<xs:element name="domainSet" type="gmlcov:CV_DomainSet_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="rangeSet" type="gmlcov:CV_RangeSet_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_DomainSet_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_DomainSet"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_DomainSet" type="gmlcov:CV_DomainSet_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_DomainSet_Type">
		<xs:sequence>
			<xs:element name="element" type="gmlcov:CV_DomainElement_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_DomainElement_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_DomainElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_DomainElement" type="gmlcov:CV_DomainElement_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_DomainElement_Type">
		<xs:sequence/>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_RangeSet_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_RangeSet"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_RangeSet" type="gmlcov:CV_RangeSet_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_RangeSet_Type">
		<xs:sequence>
			<xs:element name="element" type="gmlcov:CV_RangeElement_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_RangeElement_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_RangeElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_RangeElement" type="gmlcov:CV_RangeElement_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_RangeElement_Type">
		<xs:sequence/>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_CoverageByFunction_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_CoverageByFunction"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_CoverageByFunction" substitutionGroup="gmlcov:CV_Coverage" type="gmlcov:CV_CoverageByFunction_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_CoverageByFunction_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Coverage_Type">
				<xs:sequence>
					<xs:element name="coverageFunction" type="gmlcov:CV_ValueSet_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- +++++++++++++++ END Figure 3 +++++++++++++++++ -->
	<!-- ========================================== -->
	<!-- +++++++++++++++ START Figure 5 +++++++++++++++++ -->
	<!-- ========================================== -->
	<xs:complexType name="CV_MultiPointCoverage_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_MultiPointCoverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_MultiPointCoverage" substitutionGroup="gmlcov:CV_Coverage" type="gmlcov:CV_MultiPointCoverage_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_MultiPointCoverage_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Coverage_Type">
				<xs:sequence>
					<xs:element name="elementinterpolation" type="gmlcov:CV_Interpolation_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_Interpolation_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Interpolation"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Interpolation" type="gmlcov:CV_Interpolation_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Interpolation_Type">
		<xs:sequence/>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_Interpolation_None_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Interpolation_None"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Interpolation_None" substitutionGroup="gmlcov:CV_Interpolation" type="gmlcov:CV_Interpolation_None_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Interpolation_None_Type">
		<xs:annotation>
			<xs:documentation>Placeholder indicating that no interpolation is possible</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Interpolation_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_Interpolation_NearestNeighbor_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Interpolation_NearestNeighbor"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Interpolation_NearestNeighbor" substitutionGroup="gmlcov:CV_Interpolation" type="gmlcov:CV_Interpolation_NearestNeighbor_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Interpolation_NearestNeighbor_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Interpolation_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_Interpolation_Linear_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Interpolation_Linear"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Interpolation_Linear" substitutionGroup="gmlcov:CV_Interpolation" type="gmlcov:CV_Interpolation_Linear_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Interpolation_Linear_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Interpolation_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_Interpolation_Quadratic_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Interpolation_Quadratic"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Interpolation_Quadratic" substitutionGroup="gmlcov:CV_Interpolation" type="gmlcov:CV_Interpolation_Quadratic_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Interpolation_Quadratic_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Interpolation_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- +++++++++++++++ END Figure 5 +++++++++++++++++ -->
	<!-- ========================================== -->
	<!-- +++++++++++++++ START Figure 6 +++++++++++++++++ -->
	<!-- ========================================== -->
	<xs:complexType name="CV_Grid_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Grid"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Grid" type="gmlcov:CV_Grid_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Grid_Type">
		<xs:sequence>
			<xs:choice>
				<xs:element name="axis" type="gmlcov:CV_Axis_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
				<xs:element name="axisNames" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="unbounded"/> <!-- from Figure D.4 -->
			</xs:choice>
			<xs:element name="displacementAxisNest" type="gmlcov:CV_DisplacementAxisNest_PropertyType" minOccurs="0" maxOccurs="unbounded"/><!-- Schematron if count "axis" > 0 then "displacementAxisNest" MUST exist and count ("dimension" + "extent") = 0 -->
			<xs:element name="algorithmicAxis" type="gmlcov:CV_AlgorithmicAxis_PropertyType" minOccurs="0" maxOccurs="unbounded"/><!-- Schematron if count "axis" > 0 then "algorithmicAxis" MUST exist and count ("dimension" + "extent") = 0 -->
			<xs:element name="dimension" type="gco:Integer_PropertyType" minOccurs="0" maxOccurs="1"/> <!-- Schematron if count "axisNames" > 0 then "dimension" MUST exist and count ("displacementAxisNest" + "algorithmicAxis") = 0 -->
			<xs:element name="extent" type="gco:CharacterString_PropertyType" minOccurs="0" maxOccurs="1"/> <!-- Schematron if count "axisNames" > 0 then "extent" MUST exist and count ("displacementAxisNest" + "algorithmicAxis") = 0-->
			<!--
			<xs:element name="axisNames" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="dimension" type="gco:Integer_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="extent" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="crs" type="rbc:RS_CRS_PropertyType" minOccurs="1" maxOccurs="1"/>
			-->
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_Axis_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Axis"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Axis" type="gmlcov:CV_Axis_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Axis_Type">
		<xs:sequence>
			<xs:element name="axisLabels" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="crs" type="rbc:RS_CRS_PropertyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_DisplacementAxisNest_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_DisplacementAxisNest"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_DisplacementAxisNest" type="gmlcov:CV_DisplacementAxisNest_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_DisplacementAxisNest_Type">
		<xs:sequence>
			<xs:element name="axisLabels" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="crs" type="rbc:RS_CRS_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="directPositions" type="gmlcov:CV_DirectPosition_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_AlgorithmicAxis_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_AlgorithmicAxis"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_AlgorithmicAxis" type="gmlcov:CV_AlgorithmicAxis_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_AlgorithmicAxis_Type" abstract="true">
		<xs:sequence>
			<xs:element name="axisLabels" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
			<xs:element name="crs" type="rbc:RS_CRS_PropertyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_IndexAxis_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_IndexAxis"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_IndexAxis" substitutionGroup="gmlcov:CV_Axis" type="gmlcov:CV_IndexAxis_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_IndexAxis_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Axis_Type">
				<xs:sequence>
					<xs:element name="lowerBound" type="gco:Integer_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="upperBound" type="gco:Integer_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_RegularAxis">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_RegularAxis"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_RegularAxis" substitutionGroup="gmlcov:CV_Axis" type="gmlcov:CV_RegularAxis_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_RegularAxis_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Axis_Type">
				<xs:sequence>
					<xs:element name="lowerBound" type="gmlcov:CV_DirectPosition_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="upperBound" type="gmlcov:CV_DirectPosition_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="resolution" type="gco:Report_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_IrregularAxis_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_IrregularAxis"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_IrregularAxis" substitutionGroup="gmlcov:CV_Axis" type="gmlcov:CV_IrregularAxis_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_IrregularAxis_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Axis_Type">
				<xs:sequence>
					<xs:element name="directPositions" type="gmlcov:CV_DirectPosition_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- +++++++++++++++ END Figure 6 +++++++++++++++++ -->
	<!-- ========================================== -->
	<!-- +++++++++++++++ START Figure 8 +++++++++++++++++ -->
	<!-- ========================================== -->
	<xs:complexType name="CV_SequenceRule_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_SequenceRule"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_SequenceRule" type="gmlcov:CV_SequenceRule_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_SequenceRule_Type">
				<xs:sequence>
					<xs:element name="type" type="gmlcov:CV_SequenceRuleType_PropertyType" minOccurs="0" maxOccurs="1" default="linear"/>
					<xs:element name="scanDirection" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- ********** Code list ******************** -->
	<xs:complexType name="CV_SequenceRuleTypePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_SequenceRuleType"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_SequenceRuleType" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- .......................................... -->
	<!-- ********** for completeness only ******************** -->
	<xs:simpleType name="CV_SequenceRuleType_Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="linear"/>
			<xs:enumeration value="boustropedonic"/>
			<xs:enumeration value="cantorDiagonal"/>
			<xs:enumeration value="spiral"/>
			<xs:enumeration value="morton"/>
			<xs:enumeration value="hilbert"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ========================================== -->
	<!-- +++++++++++++++ END Figure 8 +++++++++++++++++ -->
	<!-- ========================================== -->
	<!-- +++++++++++++++ START Figure 10 +++++++++++++++++ -->
	<!-- CV_MultiPointCoverage - Figure 5 -->
	<!-- ========================================== -->
	<xs:complexType name="CV_GeneralGridCoverageType_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_GeneralGridCoverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_GeneralGridCoverage" substitutionGroup="gmlcov:CV_MultiPointCoverage" type="gmlcov:CV_GeneralGridCoverage_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_GeneralGridCoverage_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_MultiPointCoverage_Type">
				<xs:sequence>
					<xs:element name="grid" type="CV_Grid_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- CV_Grid - Figure 6 -->
	<!-- +++++++++++++++ END Figure 10 +++++++++++++++++ -->
	<!-- +++++++++++++++ START Figure 13 +++++++++++++++++ -->
	<!-- CV_Coverage - Figure 3 -->
	<!-- ========================================== -->
	<xs:complexType name="CV_MultiCurveCoverage_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_MultiCurveCoverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_MultiCurveCoverage" substitutionGroup="gmlcov:CV_Coverage" type="gmlcov:CV_MultiCurveCoverage_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_MultiCurveCoverage_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Coverage_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- +++++++++++++++ END Figure 13 +++++++++++++++++ -->
	<!-- +++++++++++++++ START Figure 14 +++++++++++++++++ -->
	<!-- CV_Coverage - Figure 3 -->
	<!-- ========================================== -->
	<xs:complexType name="CV_MultiSurfaceCoverage_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_MultiSurfaceCoverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_MultiSurfaceCoverage" substitutionGroup="gmlcov:CV_Coverage" type="CV_MultiSurfaceCoverage_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_MultiSurfaceCoverage_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Coverage_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- +++++++++++++++ END Figure 14 +++++++++++++++++ -->
	<!-- +++++++++++++++ START Figure 17 +++++++++++++++++ -->
	<!-- CV_Coverage - Figure 3 -->
	<!-- ========================================== -->
	<xs:complexType name="CV_MultiSurfaceSolid_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_MultiSolidCoverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_MultiSolidCoverage" substitutionGroup="gmlcov:CV_Coverage" type="CV_MultiSolidCoverage_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_MultiSolidCoverage_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Coverage_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- +++++++++++++++ END Figure 17 +++++++++++++++++ -->
	<!-- +++++++++++++++ START Figure D.1 +++++++++++++++++ -->
	<xs:complexType name="CV_Coverage_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Coverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Coverage" type="gmlcov:CV_Coverage_Type" abstract="true"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Coverage_Type">
		<xs:annotation>
			<xs:documentation>A subtype of a feature.  From the abstract specification, a Coverage is a two or more dimensional metaphor for features found on or near a portion of the Earth's Surface.  Some examples of a Coverage would be a satellite image of a portion of the earth, a census tract for the city of New York and a DEM for a USGS 1x1 degree map sheet (Topic 6, OGC Abstract Specification, 1998)
				
				A coverage is a subtype of a feature that has pairs of distinguished properties consisting of a geometry property and a function that is defined over the coordinate set that is defined (delineated) by the geometry (Herring, J. OGC Change Proposal 95-039r2)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="commonPointRule" type="gmlcov:CV_CommonPointRule_PropertyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="domainExtent" type="gex:EX_Extent_PropertyType" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>The attribute domainExtent shall contain the extent of the spatiotemporal domain of the coverage.  The data type EX_Extent, is defined in ISO 19103.  Extents may be specified in both space and time.  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interpolationParametersType" type="gco:Record_PropertyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="interpolationType" type="gmlcov:CV_InterpolationMethod_PropertyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="rangeType" type="gco:RecordType_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CRS" type="rbc:RS_CRS_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="rangeElement" type="gmlcov:CV_AttributeValues_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="domainElement" type="gmlcov:CV_DomainObject_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_AttributeValues_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_AttributeValues"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_AttributeValues" type="gmlcov:CV_AttributeValues_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_AttributeValues_Type">
		<xs:sequence>
			<xs:element name="values" type="gco:Record_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="geometryVlauePair" type="gmlcov:CV_GeometryValuePair_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="valueObject" type="gmlcov:CV_ValueObject_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_DomainObject_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_DomainObject"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_DomainObject" type="gmlcov:CV_DomainObject_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_DomainObject_Type">
		<xs:sequence>
			<xs:element name="temporalElement" type="gml:AbstractGeometricPrimitiveType" minOccurs="1" maxOccurs="1"/>		
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_ValueObject_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_ValueObject"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_ValueObject" type="gmlcov:CV_ValueObject_Type" abstract="true"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_ValueObject_Type">
		<xs:sequence>
			<xs:element name="geometry" type="gmlcov:CV_DomainObject_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The geometry attribute holds the CV_DomainObject that is a member of this CV_GeometryValuePair.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="interpolationParameters" type="gco:Record_PropertyType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="controlValue" type="gmlcov:CV_GeometryValuePair_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_GeometryValuePair_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_GeometryValuePair"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_GeometryValuePair" type="gmlcov:CV_GeometryValuePair_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_GeometryValuePair_Type">
		<xs:annotation>
			<xs:documentation>geometry implements the association Domain in Figure 2. 
				value implements the association range in Figure 2.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="geometry" type="gmlcov:CV_DomainObject_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The geometry attribute holds the CV_DomainObject that is a member of this CV_GeometryValuePair.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="value" type="gco:Record_PropertyType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The value attribute holds the record of attribute values associated with this CV_DomainObject. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="extension" type="gmlcov:CV_ValueObject_PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- ********** Code list ******************** -->
	<xs:complexType name="CV_InterpolationMethod">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_InterpolationMethod"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_InterpolationMethod" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- .......................................... -->
	<!-- ********** for completeness only ******************** -->
	<xs:simpleType name="CV_InterpolationMethod_Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="nearestneighbour"/>
			<xs:enumeration value="linear"/>
			<xs:enumeration value="quadratic"/>
			<xs:enumeration value="cubic"/>
			<xs:enumeration value="bilinear"/>
			<xs:enumeration value="biquadratic"/>
			<xs:enumeration value="lostarea"/>
			<xs:enumeration value="barycentric"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ========================================== -->
	<!-- ********** Code list ******************** -->
	<xs:complexType name="CV_CommonPointRule_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_CommonPointRule"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_CommonPointRule" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
	<!-- .......................................... -->
	<!-- ********** for completeness only ******************** -->
	<xs:simpleType name="CV_CommonPointRule_Type">
		<xs:restriction base="xs:string">
			<xs:enumeration value="average"/>
			<xs:enumeration value="low"/>
			<xs:enumeration value="high"/>
			<xs:enumeration value="all"/>
			<xs:enumeration value="start"/>
			<xs:enumeration value="end"/>
		</xs:restriction>
	</xs:simpleType>
	<!-- ========================================== -->
	<!-- +++++++++++++++ END Figure D.1 +++++++++++++++++ -->
	<!-- ========================================== -->
	<!-- +++++++++++++++ START Figure D.4 +++++++++++++++++ -->
	<!-- ========================================== -->
	<!-- Refer to Figure D.1 for CV_ValueObject -->	
	<!-- ========================================== -->
	<!-- Refer to Figure D.1 for CV_GeometryValuePair -->	
	<!-- ========================================== -->
	<xs:complexType name="CV_ValueCurve_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_ValueCurve"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_ValueCurve" substitutionGroup="gmlcov:CV_ValueObject" type="gmlcov:CV_ValueCurve_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_ValueCurve_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_ValueObject_Type">
				<xs:sequence>
					<xs:element name="geometryCurve" type="gmw:GM_Curve_PropertyType" minOccurs="1" maxOccurs="1"/>
					<!-- by inheritance -<xs:element name="controlValue" type="gmlcov:CV_PointValuePair_PropertyType" minOccurs="1" maxOccurs="unbounded"/> -->
					<xs:element name="segment" type="gmlcov:CV_ValueSegment_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_ValueSegment_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_ValueSegment"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_ValueSegment" type="gmlcov:CV_ValueSegment_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_ValueSegment_Type">
		<xs:annotation>
			<xs:documentation>A segment is a 1-dimensional geometric object that has a beginning (start) and end point.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="startParameter" type="gco:Distance_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="endParameter" type="gco:Distance_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ends" type="gmlcov:CV_PointValuePair_PropertyType" minOccurs="2" maxOccurs="2"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_PointValuePair_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_PointValuePair"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_PointValuePair" substitutionGroup="gmlcov:CV_GeometryValuePair" type="gmlcov:CV_PointValuePair_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_PointValuePair_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_GeometryValuePair_Type">
				<xs:sequence>
					<xs:element name="geometryPoint" type="gmw:GM_Point_PropertyType" minOccurs="1" maxOccurs="1"/>
					<!-- by inheritance <xs:element name="extension" minOccurs="0" maxOccurs="unbounded" type="gmlcov:CV_ValueCurve" OR CV_ValueSegment OR CV_ThiessenValuePair /> control type by schematron -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_ThiessenValuePolygon_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_ThiessenValuePolygon"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_ThiessenValuePolygon" substitutionGroup="gmlcov:CV_ValueObject" type="gmlcov:CV_ThiessenValuePolygon_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_ThiessenValuePolygon_Type">
		<xs:annotation>
			<xs:documentation>A polygon whose boundaries define the area consisting of points that are closer to the center point than any other point in the defining set.  The boundaries are the perpendicular bisectors of the lines between the points in the dual TIN.   Also referred to as Voronoi Diagrams.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_ValueObject_Type">
				<xs:sequence>
					<xs:element name="geometryPolygon" type="gmw:GM_Polygon_PropertyType" minOccurs="1" maxOccurs="1"/>
					<!-- by inheritance <xs:element name="controlValue" type="gmlcov:CV_PointValuePair_PropertyType" minOccurs="1" maxOccurs="unbounded"/>  control type by schematron-->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_ValueTriangle_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_ValueTriangle"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_ValueTriangle" substitutionGroup="gmlcov:CV_ValueObject" type="gmlcov:CV_ValueTriangle_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_ValueTriangle_Type">
		<xs:annotation>
			<xs:documentation>Three non-colinear points and associated values used in interpolation of a coverage function.  Usually associated with a TIN or a Triangulated Spline.
				
				Constraint: The three associated points in the PointValuePairs are not co-linear</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="CV_ValueObject_Type">
				<xs:sequence>
					<xs:element name="geometryTriangle" type="gmw:GM_Triangle_PropertyType" minOccurs="1" maxOccurs="1"/>
					<!-- by inheritance <xs:element name="controlValue" type="gmlcov:CV_PointValuePair_PropertyType" minOccurs="3" maxOccurs="3"/> control count and type by schematron -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_ValueHexagon_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_ValueHexagon"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_ValueHexagon" substitutionGroup="gmlcov:CV_ValueObject" type="gmlcov:CV_ValueHexagon_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_ValueHexagon_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_ValueObject_Type">
				<xs:sequence>
					<xs:element name="geometryPolygon" type="gmw:GM_Polygon_PropertyType" minOccurs="1" maxOccurs="1"/>
					<!-- by inheritance <xs:element name="controlValue" type="gmlcov:CV_GridPointValuePair" minOccurs="1" maxOccurs="unbounded"/> control count with Schematron -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_GridValueCell_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_GridValueCell"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_GridValueCell" substitutionGroup="gmlcov:CV_ValueObject" type="gmlcov:CV_GridValueCell_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_GridValueCell_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_ValueObject_Type">
				<xs:sequence>
					<xs:element name="geometryGridCell" type="gmlcov:CV_GridCell_PropertyType" minOccurs="1" maxOccurs="1"/>
					<!-- by inheritance <xs:element name="controlValue" type="gmlcov:CV_GridPointValuePair_PropertyType" minOccurs="4" maxOccurs="unbounded"/> control type and count with schematron -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_GridPointValuePair_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_GridPointValuePair"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_GridPointValuePair" substitutionGroup="gmlcov:CV_GeometryValuePair" type="gmlcov:CV_GridPointValuePair_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_GridPointValuePair_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_GeometryValuePair_Type">
				<xs:sequence>
					<xs:element name="point" type="gmlcov:CV_GridPoint_PropertyType" minOccurs="1" maxOccurs="1"/>
					<!-- by inheritance <xs:element name="extension" minOccurs="0" maxOccurs="unbounded" type="gmlcov:CV_ValueHexegon" OR CV_ValueGridValueCell /> control type by schematron -->
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_CurveValuePair_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_CurveValuePair"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_CurveValuePair" substitutionGroup="gmlcov:CV_GeometryValuePair" type="gmlcov:CV_CurveValuePair_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_CurveValuePair_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_GeometryValuePair_Type">
				<xs:sequence>
					<xs:element name="geometryCurve" type="gmw:GM_Curve_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_SurfaceValuePair_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_SurfaceValuePair"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_SurfaceValuePair" substitutionGroup="gmlcov:CV_GeometryValuePair" type="gmlcov:CV_SurfaceValuePair_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_SurfaceValuePair_Type">
		<xs:annotation>
			<xs:documentation>A surface with an associated value.  Used in the definition of discrete (step function) surface coverage functions.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_GeometryValuePair_Type">
				<xs:sequence>
					<xs:element name="geometrySurface" type="gmw:GM_Surface_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_SolidValuePair_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_SolidValuePair"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_SolidValuePair" substitutionGroup="gmlcov:CV_GeometryValuePair" type="gmlcov:CV_SolidValuePair_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_SolidValuePair_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_GeometryValuePair_Type">
				<xs:sequence>
					<xs:element name="geometrySolid" type="gmw:GM_Solid_PropertyType" minOccurs="1" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_GridValuesMatrix_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_GridValuesMatrix"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_GridValuesMatrix" substitutionGroup="gmlcov:CV_Grid" type="gmlcov:CV_GridValuesMatrix_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_GridValuesMatrix_Type">
		<xs:annotation>
			<xs:documentation>The geometry represented by the various offset vectors is in the image plane of the grid.  For example, for orthorectified grids, these vectors are in a spatial reference system.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_Grid_Type">
				<xs:sequence>
					<xs:element name="sequencingRule" type="gmlcov:CV_SequenceRule_PropertyType" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Default is row major, other values will be from enumeration to be determined at a later date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="startSequence" type="gmlcov:CV_GridCoordinate_PropertyType" minOccurs="1" maxOccurs="1"/>
					<xs:element name="values" type="gco:Record_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- +++++++++++++++ END Figure D.4 +++++++++++++++++ -->
	<!-- ========================================== -->
	<!-- +++++++++++++++ START Figure E.1 +++++++++++++++++ -->
	<!-- ========================================== -->
	<!-- Refer to Figure 10 for CV_GeneralGridCoverage -->
	<!-- ========================================== -->
	<xs:complexType name="CV_GridMatrix_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_GridMatrix"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_GridMatrix" substitutionGroup="gmlcov:CV_GeneralGridCoverage" type="gmlcov:CV_GridMatrix_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_GridMatrix_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_GeneralGridCoverage_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_RectifiedGridCoverage">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_RectifiedGridCoverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_RectifiedGridCoverage" type="gmlcov:CV_RectifiedGridCoverage_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_RectifiedGridCoverage_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_GeneralGridCoverage_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_ReferenceableGridCoverage">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_ReferenceableGridCoverage"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_ReferenceableGridCoverage" substitutionGroup="gmlcov:CV_GeneralGridCoverage" type="gmlcov:CV_ReferenceableGridCoverage_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_ReferenceableGridCoverage_Type">
		<xs:complexContent>
			<xs:extension base="gmlcov:CV_GeneralGridCoverage_Type">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<!-- ========================================== -->
	<!-- ========================================== -->
	<!-- +++++++++++++++ END Figure E.1 +++++++++++++++++ -->
	<!-- ========================================== -->
	<xs:complexType name="CV_Coordinate_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Coordinate"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Coordinate" type="gmlcov:CV_Coordinate"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Coordinate">
		<xs:sequence/>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_Extent_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_Extent"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_Extent" type="gmlcov:CV_Extent_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_Extent_Type">
		<xs:sequence>
			<xs:element name="crs" type="rbc:RS_CRS_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="lowerBounds" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
			<xs:element name="upperBounds" type="gco:CharacterString_PropertyType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
	<xs:complexType name="CV_ValueSet_PropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="gmlcov:CV_ValueSet"/>
		</xs:sequence>
		<xs:attributeGroup ref="gco:ObjectReference"/>
		<xs:attribute ref="gco:nilReason"/>
	</xs:complexType>
	<!-- .......................................... -->
	<xs:element name="CV_ValueSet" type="gmlcov:CV_ValueSet_Type"/>
	<!-- .......................................... -->
	<xs:complexType name="CV_ValueSet_Type">
		<xs:sequence>
			<xs:element name="value" type="gco:Record_PropertyType" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<!-- ========================================== -->
</xs:schema>
