schemas.isotc211.org/19115Restructure/19103/-/gcx/1.1.0/extendedTypes_autoFromShapeChange.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema 
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.1"
  xmlns:gcx="https://schemas.isotc211.org/19103/-/gcx/1.1"
  xmlns:mcc="https://schemas.isotc211.org/19115/-1/mcc/2.1"
  elementFormDefault="qualified"
  targetNamespace="https://schemas.isotc211.org/19103/-/gcx/1.1"
  version="1.1.0"
  >
  <annotation>
    <documentation>Handcrafted</documentation>
  </annotation>
  <include schemaLocation="gcx.xsd"/>
  <import namespace="https://schemas.isotc211.org/19103/-/gco/1.1"
    schemaLocation="../../../../19103/-/gco/1.1.0/gco.xsd"/>
  <import namespace="https://schemas.isotc211.org/19115/-1/mcc/2.1"
    schemaLocation="../../../../19115/-1/mcc/2.1.0/mcc.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="Anchor" substitutionGroup="gco:AbstractObject" type="gcx:Anchor_Type"/>
  <complexType name="Anchor_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element minOccurs="0" name="href" type="mcc:URI_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Anchor_PropertyType">
    <sequence minOccurs="0">
      <element ref="gcx:Anchor"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="FileName" substitutionGroup="gco:AbstractObject" type="gcx:FileName_Type"/>
  <complexType name="FileName_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="src" type="mcc:URI_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="FileName_PropertyType">
    <sequence minOccurs="0">
      <element ref="gcx:FileName"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MimeFileType" substitutionGroup="gco:AbstractObject" type="gcx:MimeFileType_Type"/>
  <complexType name="MimeFileType_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="type" type="gco:CharacterString_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MimeFileType_PropertyType">
    <sequence minOccurs="0">
      <element ref="gcx:MimeFileType"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
