ISO19115-3/mmi/1.0/maintenance.xsd.bak

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/2005/cit/1.0/2013-06-24" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:gts="http://www.isotc211.org/2005/gts" xmlns:mcc="http://www.isotc211.org/2005/mcc/1.0/2013-06-24" xmlns:mmi="http://www.isotc211.org/2005/mmi/1.0/2013-06-24" elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/2005/mmi/1.0/2013-06-24" version="1.0">
  <annotation>
    <documentation>Status of the dataset or progress of a review</documentation>
  </annotation>
  <include schemaLocation="mmi.xsd"/>
  <import namespace="http://www.isotc211.org/2005/cit/1.0/2013-06-24" schemaLocation="../../cit/1.0/cit.xsd"/>
  <!-- Changed schema location to address gml vs. gml/3.2 problem Ted Habermann 2013-12-26 -->
  <!--<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>-->
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gts" schemaLocation="http://www.isotc211.org/2005/gts/gts.xsd"/>
  <import namespace="http://www.isotc211.org/2005/mcc/1.0/2013-06-24" schemaLocation="../../mcc/1.0/mcc.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="MD_MaintenanceFrequencyCode" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type">
    <annotation>
      <documentation>frequency with which modifications and deletions are made to the data after it is first produced</documentation>
    </annotation>
  </element>
  <complexType name="MD_MaintenanceFrequencyCode_PropertyType">
    <sequence minOccurs="0">
      <element ref="mmi:MD_MaintenanceFrequencyCode"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="MD_MaintenanceInformation" substitutionGroup="mcc:Abstract_MaintenanceInformation" type="mmi:MD_MaintenanceInformation_Type">
    <annotation>
      <documentation>information about the scope and frequency of updating</documentation>
    </annotation>
  </element>
  <complexType name="MD_MaintenanceInformation_Type">
    <complexContent>
      <extension base="mcc:Abstract_MaintenanceInformation_Type">
        <sequence>
          <element minOccurs="0" name="maintenanceAndUpdateFrequency" type="mmi:MD_MaintenanceFrequencyCode_PropertyType">
            <annotation>
              <documentation>frequency with which changes and additions are made to the resource after the initial resource is completed</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="maintenanceDate" type="cit:CI_Date_PropertyType">
            <annotation>
              <documentation>date information associated with maintenance of resource</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="userDefinedMaintenanceFrequency" type="gts:TM_PeriodDuration_PropertyType">
            <annotation>
              <documentation>maintenance period other than those defined</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="maintenanceScope" type="mcc:MD_Scope_PropertyType">
            <annotation>
              <documentation>information about the scope and extent of maintenance</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="maintenanceNote" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>information regarding specific requirements for maintaining the resource</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="contact" type="cit:CI_Responsibility_PropertyType">
            <annotation>
              <documentation>identification of, and means of communicating with, person(s) and organisation(s) with responsibility for maintaining the metadata</documentation>
            </annotation>
          </element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="MD_MaintenanceInformation_PropertyType">
    <sequence minOccurs="0">
      <element ref="mmi:MD_MaintenanceInformation"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
