schemas.isotc211.org/19135/-2/pre/1.1.0/abstract.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.1"
  xmlns:pre="https://schemas.isotc211.org/19135/-2/pre/1.1"
    elementFormDefault="qualified"
  targetNamespace="https://schemas.isotc211.org/19135/-2/pre/1.1"
    version="1.1.0"
   >
  <include schemaLocation="../../../../19135/-2/pre/1.1.0/pre.xsd"/>
  <import namespace="https://schemas.isotc211.org/19103/-/gco/1.1" schemaLocation="../../../../19103/-/gco/1.1.0/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="Abstract_Register" substitutionGroup="gco:AbstractObject"
    type="pre:Abstract_Register_Type"/>
  <complexType abstract="true" name="Abstract_Register_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_Register_PropertyType">
    <sequence minOccurs="0">
      <element ref="pre:Abstract_Register"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_RegisterItem" substitutionGroup="gco:AbstractObject"
    type="pre:Abstract_RegisterItem_Type"/>
  <complexType abstract="true" name="Abstract_RegisterItem_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_RegisterItem_PropertyType">
    <sequence minOccurs="0">
      <element ref="pre:Abstract_RegisterItem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
