ISO19115-3/cat/1.0/2014-07-11/codelistItem.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:cat="http://www.isotc211.org/2005/cat/1.0/2013-06-24"
  xmlns:gco="http://www.isotc211.org/2005/gco" elementFormDefault="qualified"
  targetNamespace="http://www.isotc211.org/2005/cat/1.0/2013-06-24" version="1.0">
  <include schemaLocation="cat.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco"
    schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="CT_Codelist" substitutionGroup="cat:AbstractCT_Item" type="cat:CT_Codelist_Type"/>
  <complexType name="CT_Codelist_Type">
    <complexContent>
      <extension base="cat:AbstractCT_Item_Type">
        <sequence>
          <element maxOccurs="unbounded" name="codeEntry" type="cat:CT_CodelistValue_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_Codelist_PropertyType">
    <sequence minOccurs="0">
      <element ref="cat:CT_Codelist"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_CodelistCatalogue" substitutionGroup="cat:AbstractCT_Catalogue"
    type="cat:CT_CodelistCatalogue_Type"/>
  <complexType name="CT_CodelistCatalogue_Type">
    <complexContent>
      <extension base="cat:AbstractCT_Catalogue_Type">
        <sequence>
          <element maxOccurs="unbounded" name="codelistItem" type="cat:CT_Codelist_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_CodelistCatalogue_PropertyType">
    <sequence minOccurs="0">
      <element ref="cat:CT_CodelistCatalogue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="CT_CodelistValue" substitutionGroup="cat:AbstractCT_Item"
    type="cat:CT_CodelistValue_Type"/>
  <complexType name="CT_CodelistValue_Type">
    <complexContent>
      <extension base="cat:AbstractCT_Item_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="CT_CodelistValue_PropertyType">
    <sequence minOccurs="0">
      <element ref="cat:CT_CodelistValue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
