ISO19157-2/dqm/1.0/2014-07-11/dataQualityMeasure.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:cit="http://www.isotc211.org/namespace/cit/1.0/2014-07-11" 
  xmlns:dqm="http://www.isotc211.org/namespace/dqm/1.0/2014-07-11"
  xmlns:gco="http://www.isotc211.org/2005/gco" 
  xmlns:mcc="http://www.isotc211.org/namespace/mcc/1.0/2014-07-11" 
  elementFormDefault="qualified" targetNamespace="http://www.isotc211.org/namespace/dqm/1.0/2014-07-11" version="">
  <include schemaLocation="dqm.xsd"/>
  <!-- Changed schema location to address gml vs. gml/3.2 problem Ted Habermann 2013-12-26 -->
  <!--<import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>-->
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://www.isotc211.org/namespace/cit/1.0/2014-07-11" schemaLocation="../../../../ISO19115-3/cit/1.0/2014-07-11/cit.xsd"/>
  <import namespace="http://www.isotc211.org/namespace/mcc/1.0/2014-07-11" schemaLocation="../../../../ISO19115-3/mcc/1.0/2014-07-11/mcc.xsd"/>  
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element name="DQM_BasicMeasure" substitutionGroup="gco:AbstractObject" type="dqm:DQM_BasicMeasure_Type"/>
  <complexType name="DQM_BasicMeasure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="gco:CharacterString_PropertyType"/>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
          <element name="example" type="dqm:DQM_Description_PropertyType"/>
          <element name="valueType" type="gco:TypeName_PropertyType"/>
          <element minOccurs="0" name="registeredQualityMeasure" type="gco:ObjectReference_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQM_BasicMeasure_PropertyType">
    <sequence minOccurs="0">
      <element ref="dqm:DQM_BasicMeasure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQM_Description" substitutionGroup="gco:AbstractObject" type="dqm:DQM_Description_Type"/>
  <complexType name="DQM_Description_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="textDescription" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="extendedDescription" type="mcc:MD_BrowseGraphic_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQM_Description_PropertyType">
    <sequence minOccurs="0">
      <element ref="dqm:DQM_Description"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQM_Measure" substitutionGroup="gco:AbstractObject" type="dqm:DQM_Measure_Type"/>
  <complexType name="DQM_Measure_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="measureIdentifier" type="mcc:MD_Identifier_PropertyType"/>
          <element name="name" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="alias" type="gco:CharacterString_PropertyType"/>
          <element maxOccurs="unbounded" name="elementName" type="gco:TypeName_PropertyType"/>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="description" type="dqm:DQM_Description_PropertyType"/>
          <element maxOccurs="unbounded" name="valueType" type="gco:TypeName_PropertyType"/>
          <element minOccurs="0" name="valueStructure" type="dqm:DQM_ValueStructure_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="example" type="dqm:DQM_Description_PropertyType"/>
          <element minOccurs="0" name="registeredqualityMeasure" type="gco:ObjectReference_PropertyType"/>
          <!-- Added basicMeasure, parameter, and sourceReference as in Figure H.1 Ted Habermann 2013-12-27 -->
          <element minOccurs="0" maxOccurs="1" name="basicMeasure" type="dqm:DQM_BasicMeasure_PropertyType"/>
          <element minOccurs="0" maxOccurs="unbounded" name="parameter" type="dqm:DQM_Parameter_PropertyType"/>
          <element minOccurs="0" maxOccurs="unbounded" name="sourceReference" type="dqm:DQM_SourceReference_PropertyType"></element>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQM_Measure_PropertyType">
    <sequence minOccurs="0">
      <element ref="dqm:DQM_Measure"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQM_MeasureCatalogue" substitutionGroup="gco:AbstractObject" type="dqm:DQM_MeasureCatalogue_Type">
    <annotation>
      <documentation>name was originally DQM_MeasureCatalogue::CT_Catalogue, perhaps this is supposed to derive from CT_Catalogue?</documentation>
    </annotation>
  </element>
  <complexType name="DQM_MeasureCatalogue_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <!-- Added qualityMeasure, basicMeasure, and parameter as in Figure H.1 Ted Habermann 2013-12-27 -->
          <element maxOccurs="unbounded" minOccurs="1" name="qualityMeasure" type="dqm:DQM_Measure_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="parameter" type="dqm:DQM_Parameter_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="basicMeasure" type="dqm:DQM_BasicMeasure_PropertyType"/>
          <element maxOccurs="unbounded" minOccurs="0" name="definitionSource" type="dqm:DQM_SourceReference_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQM_MeasureCatalogue_PropertyType">
    <sequence minOccurs="0">
      <element ref="dqm:DQM_MeasureCatalogue"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQM_Parameter" substitutionGroup="gco:AbstractObject" type="dqm:DQM_Parameter_Type"/>
  <complexType name="DQM_Parameter_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="name" type="gco:CharacterString_PropertyType"/>
          <element name="definition" type="gco:CharacterString_PropertyType"/>
          <element minOccurs="0" name="description" type="dqm:DQM_Description_PropertyType"/>
          <element name="valueType" type="gco:TypeName_PropertyType"/>
          <element minOccurs="0" name="valueStructure" type="dqm:DQM_ValueStructure_PropertyType"/>
          <element minOccurs="0" name="registeredQualityParameter" type="gco:ObjectReference_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQM_Parameter_PropertyType">
    <sequence minOccurs="0">
      <element ref="dqm:DQM_Parameter"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQM_SourceReference" substitutionGroup="gco:AbstractObject" type="dqm:DQM_SourceReference_Type"/>
  <complexType name="DQM_SourceReference_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element name="citation" type="cit:CI_Citation_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="DQM_SourceReference_PropertyType">
    <sequence minOccurs="0">
      <element ref="dqm:DQM_SourceReference"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element name="DQM_ValueStructure" substitutionGroup="gco:CharacterString" type="gco:CodeListValue_Type"/>
  <complexType name="DQM_ValueStructure_PropertyType">
    <sequence minOccurs="0">
      <element ref="dqm:DQM_ValueStructure"/>
    </sequence>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
