schemas.isotc211.org/19159/-4/cal/1.0.0/AuxiliaryData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:cal="https://schemas.isotc211.org/19159/-4/cal/1.0"
    xmlns:gco="https://schemas.isotc211.org/19103/-/gco/1.2"
    xmlns:smi="https://schemas.isotc211.org/19130/-3/smi/1.1"
    xmlns:gml="http://www.opengis.net/gml/3.2"
    elementFormDefault="qualified" targetNamespace="https://schemas.isotc211.org/19159/-4/cal/1.0"
    version="1.0.0">
    <include schemaLocation="cal.xsd"/>
    <import namespace="https://schemas.isotc211.org/19103/-/gco/1.2" schemaLocation="../../../../19103/-/gco/1.2.0/gco.xsd"/>
    <import namespace="https://schemas.isotc211.org/19130/-3/smi/1.1" schemaLocation="../../../../19130/-3/smi/1.1.0/smi.xsd"/>
    <import namespace="http://www.opengis.net/gml/3.2" schemaLocation="https://schemas.opengis.net/gml/3.2.1/gml.xsd"/>

    <element name="CA_AuxiliaryData" type="cal:CA_AuxiliaryData_Type" id="ISO19159-4.21"
        substitutionGroup="gco:AbstractObject">
        <annotation>
            <documentation>Information related to the auxiliary data that are needed in the
                microwave radiometer calibration procedure.</documentation>
        </annotation>
    </element>

    <complexType name="CA_AuxiliaryData_Type">
        <complexContent>
            <extension base="gco:AbstractObject_Type">
                <sequence>
                    <element name="SCF" type="cal:CA_SCF_PropertyType" minOccurs="1" maxOccurs="1"
                        id="ISO19159-4.21.1_ISO19159-4.22">
                        <annotation>
                            <documentation>Sensor Constant File used for calibration</documentation>
                        </annotation>
                    </element>
                    <element name="satelliteAttachmentInformation"
                        type="cal:CA_SatelliteAttachmentInformation_PropertyType" minOccurs="1"
                        maxOccurs="1" id="ISO19159-4.21.2_ISO19159-4.36">
                        <annotation>
                            <documentation>Satellite attachment information.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="CA_AuxiliaryData_PropertyType">
        <sequence minOccurs="0">
            <element ref="cal:CA_AuxiliaryData"/>
        </sequence>
        <attributeGroup ref="gco:ObjectReference"/>
        <attribute ref="gco:nilReason"/>
    </complexType>

    <element name="CA_SCF" type="cal:CA_SCF_Type" id="ISO19159-4.22"
        substitutionGroup="gco:AbstractObject">
        <annotation>
            <documentation>Sensor Constant File used for calibration</documentation>
        </annotation>
    </element>

    <complexType name="CA_SCF_Type">
        <complexContent>
            <extension base="gco:AbstractObject_Type">
                <sequence>
                    <element name="centreFrequency" type="gco:Real_PropertyType" minOccurs="1" maxOccurs="2" id="ISO19159-4.23_ISO19103.Real">
                        <annotation>
                            <documentation>Centre frequencies of the microwave radiometer
                                sensor.</documentation>
                        </annotation>
                    </element>
                    <element name="bandwidth" type="gco:Real_PropertyType" minOccurs="1" maxOccurs="2" id="ISO19159-4.24_ISO19103.Real">
                        <annotation>
                            <documentation>Bandwidth frequencies of the microwave radiometer
                                receiver.</documentation>
                        </annotation>
                    </element>
                    <element name="bandwidthCorrectionCoefficients" type="gco:Real_PropertyType" minOccurs="2" maxOccurs="2" id="ISO19159-4.25_ISO19103.Real">
                        <annotation>
                            <documentation>Bandwidth correction coefficients including 2 items of
                                the first-order correction.</documentation>
                        </annotation>
                    </element>
                    <element name="USBLimit" type="cal:OrderedReal_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19159-4.26_ISO19159-4.144">
                        <annotation>
                            <documentation>Frequency range of the Upper Side Band.</documentation>
                        </annotation>
                    </element>
                    <element name="LSBLimit" type="cal:OrderedReal_PropertyType" minOccurs="1"
                        maxOccurs="1" id="ISO19159-4.27_ISO19159-4.144">
                        <annotation>
                            <documentation>Frequency range of the Lower Side Band.</documentation>
                        </annotation>
                    </element>
                    <!--<element name="modifiedStokesParameters" minOccurs="0" maxOccurs="1" id="ISO19159-4.27.1_ISO19103.Real">
                        <annotation>
                            <documentation>Modified Stokes parameters in brightness temperature (TB) for Rayleigh-Jeans approximation 
                                where Tv, Th, T3 and T4 are, respectively, the vertically and horizontally polarized and the third 
                                and fourth Stokes parameters</documentation>
                        </annotation>  
                        <complexType>
                            <sequence>
                                <element name="real" type="gco:Real_PropertyType" minOccurs="4" maxOccurs="4"></element>
                            </sequence>
                        </complexType>
                    </element>-->
                    <element name="polarizationMode" type="cal:CA_PolarizationMode_PropertyType"
                        minOccurs="1" maxOccurs="1" id="ISO19159-4.28_ISO19159-4.CA_MRPolarizationMode">
                        <annotation>
                            <documentation>Polarization mode of the radiometer, usually referring to
                                vertical and horizontal polarization, which corresponding to the
                                first two modified Stokes parameters, most generally referring to
                                the four Stokes parameters.</documentation>
                        </annotation>
                    </element>
                    <element name="mainBeamEfficiency" type="gco:Real_PropertyType" minOccurs="1"
                        maxOccurs="1" id="ISO19159-4.29_ISO19103.Real">
                        <annotation>
                            <documentation>Antenna main beam efficiency.</documentation>
                        </annotation>
                    </element>
                    <element name="thermistorCalibrationCoefficients" type="gco:Real_PropertyType" minOccurs="3" maxOccurs="3" id="ISO19159-4.30_ISO19103.Real">
                        <annotation>
                            <documentation>Thermistor calibration coefficients.</documentation>
                        </annotation>
                    </element>
                    <element name="antennaPattern" type="cal:CA_AntennaPattern_PropertyType"
                        minOccurs="1" maxOccurs="1" id="ISO19159-4.31_ISO19159-4.43">
                        <annotation>
                            <documentation>Antenna pattern at a given frequency within a range of
                                elevation angles and azimuth angles.</documentation>
                        </annotation>
                    </element>
                    <element name="nonlinearity" type="cal:NonlinearityTerms_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19159-4.33_ISO19159-4.154">
                        <annotation>
                            <documentation>Coefficients at different operation temperatures of the
                                radiometer for correcting the nonlinear contributions of the
                                system.
                            </documentation>
                        </annotation>
                    </element>
                    <element name="hotTargetTB" type="gco:Real_PropertyType" minOccurs="1"
                        maxOccurs="1" id="ISO19159-4.34_ISO19103.Real">
                        <annotation>
                            <documentation>Hot target TB.</documentation>
                        </annotation>
                    </element>
                    <element name="coldTargetTB" type="gco:Real_PropertyType" minOccurs="1"
                        maxOccurs="1" id="ISO19159-4.35_ISO19103.Real">
                        <annotation>
                            <documentation>Cold target TB.</documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="CA_SCF_PropertyType">
        <sequence minOccurs="0">
            <element ref="cal:CA_SCF"/>
        </sequence>
        <attributeGroup ref="gco:ObjectReference"/>
        <attribute ref="gco:nilReason"/>
    </complexType>

    <element name="CA_SatelliteAttachmentInformation"
        type="cal:CA_SatelliteAttachmentInformation_Type" id="ISO19159-4.36"
        substitutionGroup="gco:AbstractObject">
        <annotation>
            <documentation>Data type that defines the satellite attachment
                information.</documentation>
        </annotation>
    </element>

    <complexType name="CA_SatelliteAttachmentInformation_Type">
        <complexContent>
            <extension base="gco:AbstractObject_Type">
                <sequence>
                      <element name="satelliteOrbitalHeight" type="cal:OrderedReal_PropertyType" id="ISO19159-4.37_ISO19159-4.144"
                        minOccurs="1" maxOccurs="1">
                        <annotation>
                            <documentation>Satellite orbital height with respect to the reference
                                ellipsoid.</documentation>
                        </annotation>
                    </element>

                    <element name="satelliteAttitude" minOccurs="1" maxOccurs="1" id="ISO19159-4.38_ISO19130-1.SD_Attitude">
                        <annotation>
                            <documentation>Satellite attitude expressed in the combination of the
                                omega, phi and kappa components.</documentation>
                        </annotation>
                        <complexType>
                            <sequence>
                                <element name="SD_Attitude" type="smi:SD_Attitude_PropertyType"
                                    maxOccurs="unbounded"/>
                            </sequence>
                        </complexType>
                    </element>

                    <element name="timeOfMeasurement" type="cal:OrderedDateTime_PropertyType" minOccurs="1" maxOccurs="1"
                        id="ISO19159-4.39_ISO19159-4.146">
                        <annotation>
                            <documentation>Time of measurement.</documentation>
                        </annotation>
                    </element>

                    <element name="latitudeOfMeasurement"  type="cal:OrderedReal_PropertyType" minOccurs="1" maxOccurs="1"
                        id="ISO19159-4.40_ISO19159-4.144">
                        <annotation>
                            <documentation>Latitude of measurement.</documentation>
                        </annotation>
                    </element>

                    <element name="longitudeOfMeasurement" type="cal:OrderedReal_PropertyType"  minOccurs="1" maxOccurs="1"
                        id="ISO19159-4.41_ISO19159-4.144">
                        <annotation>
                            <documentation>Longitude of measurement.</documentation>
                        </annotation>
                    </element>

                    <element name="satelliteGNSSPosition" type="gml:DirectPositionListType" id="ISO19159-4.42_ISO19159-4.152"
                        minOccurs="1" maxOccurs="1">
                        <annotation>
                            <documentation>List of satellite GNSS positions ([X, Y, Z] coordinates, expressed
                                in meters). 
                                Documentation on DirectPositionList: <documentation>
                                    posList instances (and other instances with the content model specified by DirectPositionListType) hold the coordinates for a sequence of direct positions within the same coordinate reference system (CRS).
                                    if no srsName attribute is given, the CRS shall be specified as part of the larger context this geometry element is part of, typically a geometric object like a point, curve, etc.
                                    The optional attribute count specifies the number of direct positions in the list. If the attribute count is present then the attribute srsDimension shall be present, too.
                                    The number of entries in the list is equal to the product of the dimensionality of the coordinate reference system (i.e. it is a derived value of the coordinate reference system definition) and the number of direct positions.
                                </documentation>
                            </documentation>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="CA_SatelliteAttachmentInformation_PropertyType">
        <sequence minOccurs="0">
            <element ref="cal:CA_SatelliteAttachmentInformation"/>
        </sequence>
        <attributeGroup ref="gco:ObjectReference"/>
        <attribute ref="gco:nilReason"/>
    </complexType>

    <element name="CA_AntennaPattern" type="cal:CA_AntennaPattern_Type" id="ISO19159-4.43"
        substitutionGroup="gco:AbstractObject">
        <annotation>
            <documentation>Data type that defines the antenna pattern in the elevation and azimuth
                dimensions.</documentation>
        </annotation>
    </element>

    <complexType name="CA_AntennaPattern_Type">
        <complexContent>
            <extension base="gco:AbstractObject_Type">
                <sequence>
                       <element name="patternElevationAngle" type="cal:OrderedAngle_PropertyType" minOccurs="1" maxOccurs="1"
                           id="ISO19159-4.44_ISO19159-4.148">
                            <annotation>
                                <documentation>Elevation angle</documentation>
                            </annotation>
                        </element>

                        <element name="patternAzimuthAngle" 
                            type="cal:OrderedAngle_PropertyType" minOccurs="1" maxOccurs="1" id="ISO19159-4.45_ISO19159-4.148">
                            <annotation>
                                <documentation>Azimuth angle</documentation>
                            </annotation>
                        </element>
                        <element name="amplitude" type="cal:OrderedReal_PropertyType" minOccurs="1" maxOccurs="1">
                            <annotation>
                                <documentation>Amplitude for each position defined by (elevation angle, azimuth angle).</documentation>
                            </annotation>    
                        </element>
                        <element name="phase" type="cal:OrderedReal_PropertyType" minOccurs="1" maxOccurs="1">
                            <annotation>
                                <documentation>Phase for each position defined by (elevation angle, azimuth angle).</documentation>
                            </annotation>
                        </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>

    <complexType name="CA_AntennaPattern_PropertyType">
        <sequence minOccurs="0">
            <element ref="cal:CA_AntennaPattern"/>
        </sequence>
        <attributeGroup ref="gco:ObjectReference"/>
        <attribute ref="gco:nilReason"/>
    </complexType>
       
</schema>
