standards.iso.org/19111/rce/1.0/2014-12-25/abstractClasses.xsd

<?xml version="1.0" encoding="UTF-8"?><schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:gco="http://www.isotc211.org/2005/gco" xmlns:mcc="http://standards.iso.org/19115/-3/mcc/1.0/2014-12-25" xmlns:rce="http://standards.iso.org/19111/rce/1.0/2014-12-25" elementFormDefault="qualified" targetNamespace="http://standards.iso.org/19111/rce/1.0/2014-12-25" version="1,0">
  <include schemaLocation="rce.xsd"/>
  <import namespace="http://www.isotc211.org/2005/gco" schemaLocation="http://standards.iso.org/ittf/PubliclyAvailableStandards/ISO_19139_Schemas/gco/gco.xsd"/>
  <import namespace="http://standards.iso.org/19115/-3/mcc/1.0/2014-12-25" schemaLocation="../../../../../19115/-3/mcc/1.0/2014-12-25/mcc.xsd"/>
  <!--XML Schema document created by ShapeChange - http://shapechange.net/-->
  <element abstract="true" name="AbstractIO_IdentifiedObjectBase" substitutionGroup="gco:AbstractObject" type="rce:AbstractIO_IdentifiedObjectBase_Type">
    <annotation>
      <documentation>Supplementary identification and remarks information for a CRS or CRS-related object.</documentation>
    </annotation>
  </element>
  <complexType abstract="true" name="AbstractIO_IdentifiedObjectBase_Type">
    <complexContent>
      <extension base="gco:AbstractObject_Type">
        <sequence>
          <element maxOccurs="unbounded" minOccurs="0" name="identifier" type="mcc:MD_Identifier_PropertyType">
            <annotation>
              <documentation>An identifier which references elsewhere the object's defining information; alternatively an identifier by which this object can be referenced.  Change gmd:RS_Identifier to mcc:MD_Identifier for 19115-3 implementation</documentation>
            </annotation>
          </element>
          <element maxOccurs="unbounded" minOccurs="0" name="alias" type="gco:GenericName_PropertyType">
            <annotation>
              <documentation>An alternative name by which this object is identified.</documentation>
            </annotation>
          </element>
          <element minOccurs="0" name="remarks" type="gco:CharacterString_PropertyType">
            <annotation>
              <documentation>Comments on or information about this object, including data source information.</documentation>
            </annotation>
          </element>
          <element name="name" type="mcc:MD_Identifier_PropertyType"/>
        </sequence>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="AbstractIO_IdentifiedObjectBase_PropertyType">
    <sequence minOccurs="0">
      <element ref="rce:AbstractIO_IdentifiedObjectBase"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_CRS_Datum" substitutionGroup="rce:AbstractIO_IdentifiedObjectBase" type="rce:Abstract_CRS_Datum_Type"/>
  <complexType abstract="true" name="Abstract_CRS_Datum_Type">
    <complexContent>
      <extension base="rce:AbstractIO_IdentifiedObjectBase_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_CRS_Datum_PropertyType">
    <sequence minOccurs="0">
      <element ref="rce:Abstract_CRS_Datum"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_CoordinateReferenceSystem" substitutionGroup="rce:AbstractIO_IdentifiedObjectBase" type="rce:Abstract_CoordinateReferenceSystem_Type"/>
  <complexType abstract="true" name="Abstract_CoordinateReferenceSystem_Type">
    <complexContent>
      <extension base="rce:AbstractIO_IdentifiedObjectBase_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_CoordinateReferenceSystem_PropertyType">
    <sequence minOccurs="0">
      <element ref="rce:Abstract_CoordinateReferenceSystem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
  <element abstract="true" name="Abstract_CoordinateSystem" substitutionGroup="rce:AbstractIO_IdentifiedObjectBase" type="rce:Abstract_CoordinateSystem_Type"/>
  <complexType abstract="true" name="Abstract_CoordinateSystem_Type">
    <complexContent>
      <extension base="rce:AbstractIO_IdentifiedObjectBase_Type">
        <sequence/>
      </extension>
    </complexContent>
  </complexType>
  <complexType name="Abstract_CoordinateSystem_PropertyType">
    <sequence minOccurs="0">
      <element ref="rce:Abstract_CoordinateSystem"/>
    </sequence>
    <attributeGroup ref="gco:ObjectReference"/>
    <attribute ref="gco:nilReason"/>
  </complexType>
</schema>
